#* @vtlvariable name="keywords" type="java.lang.String" *#
#* @vtlvariable name="description" type="java.lang.String" *#
#* @vtlvariable name="title" type="java.lang.String" *#
#* @vtlvariable name="globalCssURI" type="java.lang.String" *#
#* @vtlvariable name="pageCssURI" type="java.lang.String" *#
#* @vtlvariable name="content" type="java.lang.String" *#
<!DOCTYPE html>
<!--
  ~ 版权所有:杭州火图科技有限公司
  ~ 地址:浙江省杭州市滨江区西兴街道阡陌路智慧E谷B幢4楼
  ~
  ~ (c) Copyright Hangzhou Hot Technology Co., Ltd.
  ~ Floor 4,Block B,Wisdom E Valley,Qianmo Road,Binjiang District
  ~ 2013-2016. All rights reserved.
  -->
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
    <meta name="author" content="Neo">
    <meta name="viewport"
          content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="keywords" content="${keywords}">
    <meta name="description" content="${description}">
    <title>${title}</title>
    <link rel="stylesheet" href="http://resali.huobanplus.com/cdn/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="${globalCssURI}">
    <link rel="stylesheet" href="${pageCssURI}">
</head>
<body>
    ${content}
</body>
<script src="http://resali.huobanplus.com/cdn/jquery/1.9.1/jquery.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/bootstrap/3.3.6/bootstrap.min.js"></script>
</html>