<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>首页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="decorator" content="cms_default_${site.theme}" th:content="${site.theme}"/>
    <meta name="description" content="JeeSite ${site.description}" th:content="${site.description}"/>
    <meta name="keywords" content="JeeSite ${site.keywords}" th:content="${site.keywords}"/>
</head>
<body>
<div class="hero-unit" style="padding-bottom:35px;margin:10px 0;">
    <h1 th:text="${article.title}">文章标题</h1><p></p>
    <!--<p th:utext="${article.articleData.content}">文章副表内容</p>-->
    <p><a href="#" class="btn btn-primary btn-large">&nbsp;&nbsp;&nbsp;查看详情 &raquo;&nbsp;&nbsp;&nbsp;</a></p>
</div>
<div class="row">
    <div class="span4">
        <h4><small><a th="#" class="pull-right">更多&gt;&gt;</a></small>组织机构</h4>
        <ul>
            <li th:each="article:${articleList}">
                <span class="pull-right" th:text="'2015'">2015.12.08</span>
                <a href="#"  style="color:red" th:style="'color:'+${article.color}" th:text="${article.title}">标题标题</a>
            </li>
        </ul>
    </div>
    <!--<div class="span4">
        <h4> <small><a href="${ctx}/list-6${urlSuffix}" class="pull-right">更多&gt;&gt;</a></small>质量监督</h4>
        <ul><c:forEach items="${fnc:getArticleList(site.id, 6, 8, '')}" var="article">
            <li><span class="pull-right"><fmt:formatDate value="${article.updateDate}" pattern="yyyy.MM.dd"/></span><a href="${article.url}" style="color:${article.color}">${fns:abbr(article.title,28)}</a></li>
        </c:forEach></ul>
    </div>
    <div class="span4">
        <h4><small><a href="${ctx}/list-10${urlSuffix}" class="pull-right">更多&gt;&gt;</a></small>政策法规</h4>
        <ul><c:forEach items="${fnc:getArticleList(site.id, 10, 8, '')}" var="article">
            <li><span class="pull-right"><fmt:formatDate value="${article.updateDate}" pattern="yyyy.MM.dd"/></span><a href="${article.url}" style="color:${article.color}">${fns:abbr(article.title,28)}</a></li>
        </c:forEach></ul>
    </div>-->
</div>
</body>
</html>