<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link  href="/assets/css/admin.content.css"  ewp:href="@{/assets/css/admin.content.css}" type="text/css" rel="stylesheet"/>
    <link  href="/assets/css/admin.global.css" ewp:href="@{/assets/css/admin.global.css}" type="text/css" rel="stylesheet"/>
    <link  href="/assets/css/global.css" ewp:href="@{/assets/css/global.css}" type="text/css" rel="stylesheet"/>
    <link href="/assets/libs/layer/skin/layer.css" ewp:href="@{/assets/libs/layer/skin/layer.css}" rel="stylesheet"/>
    <script src="/assets/seajs/sea.js" ewp:src="@{/assets/seajs/sea.js}"></script>
    <script src="/assets/seajs/config.js" ewp:src="@{/assets/seajs/config.js}"></script>
</head>
<body>
<div class="block">
    <div class="h">
        <span class="icon-sprite icon-list"></span>
        <h3>修改路由规则</h3>
    </div>
    <div class="cnt-wp">
        <form id="updateRouteForm" method="post">
            <input type="hidden" id="id" name="id" th:value="${route.id}">
            <div class="cnt form">
                <div class="division">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <th>所属站点：</th>
                            <td th:text="${site.name}" >
                            </td>
                            <input name="siteId" type="hidden" id="siteId" th:value="${site.siteId}" maxlength="50" class="input-normal" >
                        </tr>
                        <tr>
                            <th>页面路由规则：</th>
                            <td>
                                <input name="oldRule" type="hidden" id="oldRule"  th:value="${route.rule}"  maxlength="50" class="input-normal"  >
                                <input name="routeRule" type="text" id="routeRule"  th:value="${route.rule}"  maxlength="50" class="input-normal"  placeholder="请输入页面路由规则">
                            </td>
                        </tr>
                        <tr>
                            <th>路由模版：</th>
                            <td>
                                <input name="template" type="text" id="template" maxlength="200" th:value="${route.template}" class="input-normal"  placeholder="请输入页面路由模版">
                            </td>
                        </tr>
                        <tr>
                            <th>路由描述：</th>
                            <td>
                                <textarea rows="" cols="" name="routeName" id="routeName" th:text="${route.description}" class="input-normal" style="width: 240px;height: 50px"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <th>路由类型：</th>
                            <td>
                                <select name="routeType" class="input-normal" id="routeType">
                                    <option value="-1">==公共路由==</option>
                                    <option value="0" th:each="routeType:${routeTypes}" th:value="${routeType.getCode()}" th:text="${routeType.getValue().toString()}" th:selected="${route.routeType}!=null?(${route.routeType.getCode()}==${routeType.getCode()}?true:false)" ></option>
                                </select>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div style="text-align: center;">
                    <input type="submit" class="btn-lit" name="btnSave"  value="保存" data-submiting-text="提交中..." data-text="保存" id="jq-cms-Save">
                </div>
            </div>
        </form>
    </div>
</div>
<script>seajs.use(["validate","message","updateRoute"]);</script>
</body>
</html>