.hr_gyi, {
 min-width:1000px;
margin:0 auto;
}
/*工艺介绍*/

.hr_gyi .gyi {
	position: relative;
	overflow: hidden;
}
.hr_gyi .gyiimge {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(../images/gyi_05.jpg) 50% 0px no-repeat;
}


.hr_gyi .gyib {
	width: 1000px;
	margin: 0 auto;
	padding-bottom: 90px;
}
.hr_gyi .gyib .gt {
	padding-bottom: 40px;
}
.hr_gyi .gyib .xbb {
	float: left;
}
.hr_gyi .gyib .nk {
	float: left;
	width: 500px;
}
.hr_gyi .gyib .nnk {
	float: right;
	width: 500px;
}
.hr_gyi .gyib .ek {
	float: right;
	width: 500px;
	position: relative;
}
.hr_gyi .gyib .ek-left {
	padding-left: 30px;
	padding-top: 90px;
	position: absolute;
}
.hr_gyi .gyib .u {
	font-size: 20px;
	font-weight: 600;
	line-height: 30px;
	color: #2b2b2b;
}
.hr_gyi .gyib .w {
	font-size: 18px;
	line-height: 26px;
	font-family: '金桥简老宋';
	color: #2b2b2b;
	font-weight: 600;
}
.hr_gyi .gyib .e {
	font-size: 14px;
	line-height: 22px;
}
.hr_gyi .gyib .ee {
	float: left;
	width: 500px;
	position: relative;
}
.hr_gyi .gyib .ee .ek-right {
	padding-left: 30px;
	padding-top: 90px;
	position: absolute;
	text-align: right;
}
/*工艺介绍end*/


/*lookbook页面*/

.hr_lobo .q {
	position: relative;
	overflow: hidden;
	
}
.hr_lobo .qimge {
	position: absolute;
	width: 100%;
	height: 100%;
}
.hr_lobo .qa {
	background: url(../images/lookbook_02.jpg) 50% 0px no-repeat;
}
.hr_lobo .qb {
	background: url(../images/lookbook_03.jpg) 50% 0px no-repeat;
}
.hr_lobo .qc {
	background: url(../images/lookbook_04.jpg) 50% 0px no-repeat;
}
.hr_lobo .qd {
	background: url(../images/lookbook_05.jpg) 50% 0px no-repeat;
}
.hr_lobo .qe{
	background: url(../images/lookbook_06.jpg) 50% 0px no-repeat;
}
.hr_lobo .qf  {
	background: url(../images/lookbook_07.jpg) 50% 0px no-repeat;
}
/*lookbook页面end*/

/*产品页面*/

.hr_pro .r {
	position: relative;
	overflow: hidden;
}
.hr_pro .ee {
	background: url(../images/product_04.jpg) 50% 0px no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
}
.hr_pro .gt {
	padding-bottom: 40px;
	width: 1000px;
	margin: 0 auto;
}
.hr_pro .keywords {
	width: 1000px;
	padding-bottom: 10px;
	overflow: hidden;
	margin: 0 auto;
}
.hr_pro .keywords ul {
	margin: 0 auto;
}
.hr_pro .keywords li {
	display: inline-block;
	text-align: center;
	margin-bottom: 5px;
	line-height: 18px;
	width: 115px;
	margin: 0px 17px 0 18px;
}
.hr_pro .keywords ul li a {
	width: 115px;
	padding-left: 0;
	height: 35px;
	line-height: 35px;
	color: #acacac;
	text-align: center;
	font-size: 14px;
	border: 1px solid #acacac;
	float: left;
}
.hr_pro .keywords ul li a:hover, .hr_pro .keywords ul li a.on {
	border: 1px solid #d97513;
	background-color: #d97513;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
}
.hr_pro .keywords ul li:nth-child(1) {
	width: 74px;
	margin: 0px 17px 0 0px;
}
.hr_pro .keywords ul li:last-child {
	margin: 0px 0 0 18px;
}
.hr_pro .keywords ul li:nth-child(1) a {
	width: 70px;
	padding-left: 0;
	height: 35px;
	line-height: 35px;
	text-align: center;
	float: left;
	font-weight: bold;
	font-size: 14px;
}
.hr_pro .keywords .on {
	border: 1px solid #d97513;
	background-color: #d97513;
	color: #fff;
}
.hr_pro .nuy {
	width: 233px;
	float: left;
	height:327px;
	border: 1px solid #DFDFDF;
}
.hr_pro .ffr {
	margin-right: 20px;
}
.hr_pro .cp {
	width: 1000px;
	margin: 0 auto;
	background-color: #fff;
	padding: 0px 0px 30px 0px;
	position: relative;

}
.hr_pro .tdx {
	width: 235px;
	border: 1px solid #DFDFDF;
}
.hr_pro .gytr {
	padding: 10px;
}
.hr_pro .biaoti {
	font-size: 18px;
	padding: 10px 0px 10px;
	color: #000000;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	height: 18px;
	line-height: 18px;
}
.hr_pro .miaoshu {
	font-size: 12px;
	color: #747474;
	line-height: 18px;
	text-overflow: ellipsis;
	overflow: hidden;
	display: inline-block;
	width: 100%;
	height: 36px;
}
.hr_pro .number {
	float: right;
}
.hr_pro .number a {
	border: 1px solid #ddd;
	padding: 0px 5px;
	text-align: center;
	margin-right: 3px;
}
.hr_pro .number .on {
	border: 1px solid #d97613;
	background-color: #d97613;
	color: #fff;
}



.hr_pro .cp ul li:nth-child(4n){
	margin-right: 0px;
}
.hr_pro .cp ul li{
	margin-bottom:20px;
}


 /*产品页面end*/
