<!DOCTYPE html>
<!--
  ~ 版权所有:杭州火图科技有限公司
  ~ 地址:浙江省杭州市滨江区西兴街道阡陌路智慧E谷B幢4楼
  ~
  ~ (c) Copyright Hangzhou Hot Technology Co., Ltd.
  ~ Floor 4,Block B,Wisdom E Valley,Qianmo Road,Binjiang District
  ~ 2013-2016. All rights reserved.
  -->

<html xmlns:th="http://www.thymeleaf.org" xmlns:ewp="http://ewp.jiangcai.me"
      lang="en">
<!--/*@thymesVar id="manageSite" type="com.huotu.hotcms.service.entity.Site"*/-->
<!--/*@thymesVar id="quick" type="boolean"*/-->
<head>
    <meta charset="UTF-8">
    <link href="http://resali.huobanplus.com/cdn/bracket/css/style.default.css" rel="stylesheet">
    <link href="../../../public/assets/css/customize.css" ewp:href="/assets/css/customize.css" rel="stylesheet">
    <title>数据源</title>
</head>
<body class="mainpanel" id="fa-bars" th:id="${quick?'':'fa-bars'}">
<div class="pageheader" th:if="${!quick}">
    <h2><i class="fa fa-bars"></i> 数据源 <span>编辑数据源</span></h2>
</div>
<!--/*@thymesVar id="object" type="com.huotu.hotcms.service.entity.Category"*/-->
<div class="contentpanel">
    <form id="categoryForm" action="index.html" method="POST"
          th:action="@{/manage/category/{id}(id=${object.id})}">
        <input type="hidden" name="quick" value="true" th:if="${quick}"/>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-btns">
                    <a href="" class="minimize">&minus;</a>
                </div><!-- panel-btns -->
                <h3 class="panel-title">修改数据源基本信息</h3>
                <p>&nbsp;</p>
            </div>
            <div class="panel-body">
                <div class="form-horizontal form-bordered">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">名称</label>
                        <div class="col-sm-2">
                            <input name="name" title="名称" type="text" placeholder="数据源的名称"
                                   class="form-control" th:text="${object.name}"/>
                        </div>
                        <label class="col-sm-2 control-label">模型</label>
                        <div class="col-sm-2">
                            <span class="form-control"
                                  th:text="${object.contentType.value}">文章</span>
                        </div>
                        <label class="col-sm-2 control-label">父级</label>
                        <div class="col-sm-2">
                            <span class="form-control"
                                  th:text="${object.parent==null?'无':object.parent.name}">某个数据源</span>
                        </div>
                    </div>
                </div>

                <!--伙伴商城产品-->
                <div class="form-group mallProductCategory"
                     th:if="${object.contentType.getCode()==8 and categoryList!=null}">
                    <label class="col-sm-2 control-label">相关类目</label>
                    <div class="col-sm-10">
                        <select class="chosen-select" name="mallCategoryId" multiple data-placeholder="选择相关类目"
                                title="相关类目">
                            <option value=""></option>
                            <option value="10" th:each="category:${categoryList}" th:value="${category.id}"
                                    th:text="${category.title}">养生
                            </option>
                            <option th:remove="all" value="11">玩具</option>
                            <option th:remove="all" value="12">服装</option>
                        </select>
                    </div>
                </div>
                <div class="form-group mallProductCategory"
                     th:if="${object.contentType.getCode()==8 and brandList!=null}">
                    <label class="col-sm-2 control-label">相关品牌</label>
                    <div class="col-sm-10">
                        <select class="chosen-select" name="mallBrandId" multiple data-placeholder="选择相关品牌"
                                title="相关品牌">
                            <option value=""></option>
                            <option value="10" th:each="brand:${brandList}" th:value="${brand.id}"
                                    th:text="${brand.brandName}">微软
                            </option>
                            <option th:remove="all" value="11">苹果</option>
                            <option th:remove="all" value="12">谷歌</option>
                        </select>
                    </div>
                </div>
                <div class="form-group mallProductCategory"
                     th:if="${object.contentType.getCode()==8 and brandList!=null}">
                    <label class="col-sm-2 control-label">限制标题</label>
                    <div class="col-sm-4">
                        <input name="goodTitle" title="标题" type="text" placeholder="保持空白表示并不以此选择"
                               class="form-control" th:value="${object.goodTitle}"/>
                    </div>
                    <label class="col-sm-2 control-label">最低价格</label>
                    <div class="col-sm-4">
                        <input name="minPrice" title="最低价格" type="number" placeholder="保持空白表示并不以此选择"
                               class="form-control" th:value="${object.minPrice}"/>
                    </div>
                </div>
                <div class="form-group mallProductCategory"
                     th:if="${object.contentType.getCode()==8 and brandList!=null}">
                    <label class="col-sm-2 control-label">最低销量</label>
                    <div class="col-sm-4">
                        <input name="salesCount" title="最低销量" type="number" placeholder="保持空白表示并不以此选择"
                               class="form-control" th:value="${object.salesCount}"/>
                    </div>
                    <label class="col-sm-2 control-label">最高价格</label>
                    <div class="col-sm-4">
                        <input name="maxPrice" title="最高价格" type="number" placeholder="保持空白表示并不以此选择"
                               class="form-control" th:value="${object.maxPrice}"/>
                    </div>
                </div>
                <div class="form-group mallProductCategory"
                     th:if="${object.contentType.getCode()==8 and galleries!=null}">
                    <label class="col-sm-2 control-label">介绍图片</label>
                    <div class="col-sm-10">
                        <select class="chosen-select" data-placeholder="选择一个图库作为介绍图片" title="介绍图片">
                            <option value=""></option>
                            <option value="1" th:each="gallery:${galleries}" th:value="${gallery.id}"
                                    th:text="${gallery.title}">图库1
                            </option>
                            <option th:remove="all" value="2">图库2</option>
                        </select>
                    </div>
                </div>

                <!--伙伴商城产品归类-->
                <div class="form-group mallClassCategory"
                     th:if="${object.contentType.getCode()==9 and mallProducts!=null}">
                    <label class="col-sm-2 control-label">相关产品数据源</label>
                    <div class="col-sm-10">
                        <select class="chosen-select" name="categories" multiple data-placeholder="选择相关产品数据源"
                                title="相关产品数据源">
                            <option value="">无</option>
                            <option value="1" th:each="mallProduct:${mallProducts}" th:value="${mallProduct.id}"
                                    th:text="${mallProduct.title}">
                                服装
                            </option>
                            <option th:remove="all" value="2">零食</option>
                            <option th:remove="all" value="3">娃娃</option>
                        </select>
                    </div>
                </div>
                <div class="form-group mallClassCategory" th:if="${object.contentType.getCode()==9 and links!=null}">
                    <label class="col-sm-2 control-label">推荐链接数据源</label>
                    <div class="col-sm-10">
                        <select class="chosen-select" name="recommendCategory" data-placeholder="选择推荐链接数据源"
                                title="推荐链接数据源">
                            <option value="">无</option>
                            <option value="1" th:each="link:${links}" th:value="${link.id}" th:text="${link.title}"
                                    th:selected="${object.recommendCategory.id==link.id}">
                                链接1
                            </option>
                            <option th:remove="all" value="2">链接2</option>
                            <option th:remove="all" value="3">链接3</option>
                        </select>
                    </div>
                </div>

            </div><!-- panel-body -->


            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <button class="btn btn-primary">提交</button>
                        &nbsp;
                        <button class="btn btn-default">取消</button>
                    </div>
                </div>
            </div><!-- panel-footer -->

        </div>
    </form>

</div><!-- contentpanel -->
<script src="http://resali.huobanplus.com/cdn/bracket/js/jquery-1.10.2.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/bracket/js/jquery-ui-1.10.3.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/bracket/js/bootstrap.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/bracket/js/toggles.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/bracket/js/jquery.cookies.js"></script>

<script src="http://resali.huobanplus.com/cdn/bracket/js/chosen.jquery.min.js"></script>
<div ewp:replace="fragments/frame.html::#messageSection"></div>
<script src="../../../public/bracket/js/frame.js" ewp:src="/bracket/js/frame.js"></script>
<script src="../../../public/bracket/js/frame_custom.js" ewp:src="/bracket/js/frame_custom.js"></script>
<script src="../../../public/js/category.js" ewp:src="/js/category.js"></script>
</body>
</html>