<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta charset="utf-8">
    <meta name="description"/>
    <meta name="keywords"/>
    <title>商城建设中</title>
    <link rel="stylesheet" type="text/css" href="/template/0/css/common.css" th:href="@{${localUrl}+'/template/0/css/common.css'}"/>
    <link rel="stylesheet" type="text/css" href="/template/0/css/404baocuo.css" th:href="@{${localUrl}+'/template/0/css/404baocuo.css'}">
</head>
<body>
<div class="huobanjiagw">
    <!--导航栏-->
    <div class="baocuo">
        <img class="baocuotb"  src="/template/0/images/baocuo_tu_18.png" th:src="@{${localUrl}+'/template/0/images/baocuo_tu_18.png'}">
        <p class="baocuo_tishi">
            抱歉 商城建设中
        </p>
        <p class="baocuo_buttom on "><a class="cxjz" href="/" title="返回首页">返回首页 </a></p><!--"baocuo_buttom on"显示返按钮回-->
    </div>
</div>
</body>
</html>
