<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>产品</title>
    <link rel="stylesheet" type="text/css" href="/template/0/css/lobo.css" th:href="@{/template/0/css/lobo.css}"/>
    <link rel="stylesheet" type="text/css" href="/template/0/css/common.css" th:href="@{/template/0/css/common.css}"/>
    <link rel="stylesheet" type="text/css" href="/template/0/css/scfdforPC.css"
          th:href="@{/template/0/css/scfdforPC.css}"/>
    <!--<link rel="stylesheet" href="/template/0/css/ShopShow.css" th:href="@{/template/0/css/ShopShow.css}" type="text/css" />-->
    <link rel="stylesheet" href="/template/0/css/MagicZoom.css" th:href="@{/template/0/css/MagicZoom.css}"
          type="text/css"/>
    <script src="js/MagicZoom.js" th:src="@{/template/0/js/magicZoom.js}" type="text/javascript"></script>
    <!--<script src="js/ShopShow.js" th:src="@{/template/0/js/shopShow.js}"></script>-->
</head>
<body>
<div>
    <div class="prointroduce" style="width:1000px;margin:0 auto;">
        <div style="background-color:#ffffff;padding:20px 0px 20px 0px;min-height:440px;">
            <div id="preview">
                <!--<div id="spec-n1" class="jqzoom" style="position:relative" >-->
                <div id="spec-n1" class="jqzoom" style="width:450px;height:450px">
                    <span style="position:absolute;bottom:0px;right:0px; z-index:9999"><img src="images/sss.png"
                                                                                            th:src="@{/template/0/images/sss.png}"/></span>
                    <!--<span style="position:absolute"><img width="100%"  src="images/1.jpg" alt="" ></span>-->
                    <div id="tsImgS"><a href="/template/0/images/ghi.jpg" th:href="@{/template/0/images/ghi.jpg}"
                                        title="Images" class="MagicZoom" id="MagicZoom"><img width="100%"
                                                                                             src="/template/0/images/ghi.jpg"
                                                                                             th:src="@{/template/0/images/ghi.jpg}"/></a>
                    </div>
                </div>
                <div id="spec-list">
                    <div class="spec-items">
                        <ul class="lh">
                            <li rel="MagicZoom"><img alt="NICE CLAUP2015夏商场同款日系女装甜美高腰蝴蝶结直筒九分裤111510450A 青色 均码"
                                                     th:src="@{/template/0/images/TB2OW1KgVXXXXaYXXXXXXXXXXXX_!!1650972991.jpg}"
                                                     th:attr="tsImgS=@{/template/0/images/TB2OW1KgVXXXXaYXXXXXXXXXXXX_!!1650972991.jpg}"
                                                     data-url="" data-img="1" width="50" height="50" ks_mark="y"
                                                     class=""></li>
                            <li rel="MagicZoom"><img alt="NICE CLAUP2015夏商场同款日系女装甜美高腰蝴蝶结直筒九分裤111510450A 青色 均码"
                                                     th:src="${goods.bigPic}"
                                                     th:attr="tsImgS=@{/template/0/images/ghi.jpg}" data-url=""
                                                     data-img="1" width="50" height="50" ks_mark="y" class="img-hover">
                            </li>
                            <li rel="MagicZoom"><img alt="NICE CLAUP2015夏商场同款日系女装甜美高腰蝴蝶结直筒九分裤111510450A 青色 均码"
                                                     th:src="@{/template/0/images/ghi.jpg}"
                                                     th:attr="tsImgS=@{/template/0/images/ghi.jpg}" data-url=""
                                                     data-img="1" width="50" height="50" ks_mark="y" class=""></li>
                            <li rel="MagicZoom"><img alt="NICE CLAUP2015夏商场同款日系女装甜美高腰蝴蝶结直筒九分裤111510450A 青色 均码"
                                                     th:src="@{/template/0/images/ghi.jpg}"
                                                     th:attr="tsImgS=@{/template/0/images/ghi.jpg}" data-url=""
                                                     data-img="1" width="50" height="50" ks_mark="y" class=""></li>
                            <li rel="MagicZoom"><img alt="NICE CLAUP2015夏商场同款日系女装甜美高腰蝴蝶结直筒九分裤111510450A 青色 均码"
                                                     th:src="@{/template/0/images/ghi.jpg}"
                                                     th:attr="tsImgS=@{/template/0/images/ghi.jpg}" data-url=""
                                                     data-img="1" width="50" height="50" ks_mark="y" class=""></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="buy_area" style="border:0; padding-left:20px;">
                <div class="fn_wrap">
                    <div id="itemInfo">
                        <div id="name">
                            <h1 th:text="${goods.title}">NICE CLAUP2015夏商场同款日系女装甜美高腰蝴蝶结直筒九分裤111510450A 青色 均码</h1>
                        </div>
                    </div>
                    <h1 id="proSubTitle" style="color: #f63a3a; font-size: 12px;">即日起购买一箱罐头就送一只不锈钢水果叉！由于发货成本 新疆 西藏 青海 内蒙
                        宁夏 海南 贵州 广西 云南 黑龙江 甘肃不发货</h1>
                    <h1 id="brand" style="line-height: 31px; height: 31px; font-size:12px; padding-top:6px">
                        <a id="brandName"
                           style="border: 1px solid #ccc; padding: 3px; border-radius: 4px;">林家铺子-果锦系列</a>
                    </h1>
                </div>
                <div style="" id="divPriceShow">
                    <!--会员价格BEGIN-->
                    <div id="userPriceDiv" style=" display: " th:if="${unlogin}==true">
                        <div class="price_wrap" style="position:relative; height:28px">
                            <span class="price">￥<span id="userPrice">69</span></span>
              <span class="flag" id="priceDis" style="display: ;overflow: hidden;
    width: 12px; margin-top:8px;">5.8折</span>
                            <span class="lsls" style="display:">立省293元</span>

                            <!--20151103-add-gmw-->

                        </div>
                        <div class="old_price_wrap">
                            <span>专柜价：<b id="price" class="dlejiage">￥<span class="normalPrice" style="float: none;"
                                                                            th:value="${goods.price}">120</span></b></span>
                        </div>
                        <div class="old_price_wrap salesshow"
                             style="line-height: 0px; border: none; height: 0px; padding-top: 10px; display: none;">
                            <span class="tit">总销量：</span><span class="salesCount">0</span>
                        </div>
                        <div class="old_price_wrap">
                            <span class="gBN" th:valie="${goods.code}">商品编号：34325643</span><br>
              <span style="height: 20px; clear:both; margin-top:10px" class="saleTag">
              <img src="images/tongy.jpg" th:src="@{/template/0/images/tongy.jpg}"
                   style="width: 20px;vertical-align:middle;">品牌直供 <img src="images/tongy.jpg"
                                                                        th:src="@{/template/0/images/tongy.jpg}"
                                                                        style="width: 20px;vertical-align:middle;">包邮 <img
                      src="images/tongy.jpg" th:src="@{/template/0/images/tongy.jpg}"
                      style="width: 20px;vertical-align:middle;">七天无理由退货</span>
                        </div>
                    </div>
                    <!--会员价格END-->

                    <!--未登录BEGIN-->
                    <div id="" style=" display:" th:if="${unlogin}==false">
                        <div class="price_wrap">
                            <span class="tit"></span>
                            <span class="price">￥<span class="normalPrice" th:value="${marketPrice}">629</span></span>
                            <span style="font-size: 12px; color: #999999; display: block; line-height:28px">登录查看会员价</span>
                            &nbsp;<span class="flag_kj helpbuyDis_kj" style="display: none;"> 下单发起众筹活动吧</span>
                        </div>
                        <div class="old_price_wrap" style="padding:4px">
                        </div>
                        <div class="old_price_wrap salesshow"
                             style="line-height: 0px; border: none; height: 0px; padding-top: 10px; display: none;">
                            <span class="tit">总销量：</span><span class="salesCount">0</span>
                        </div>
                        <div class="old_price_wrap">
                            <span class="gBN">商品编号：34325643</span><br>
              <span style="height: 20px; clear:both; margin-top:10px" class="saleTag">
              <img src="images/tongy.jpg" th:src="@{/template/0/images/tongy.jpg}"
                   style="width: 20px;vertical-align:middle;">品牌直供 <img src="images/tongy.jpg"
                                                                        th:src="@{/template/0/images/tongy.jpg}"
                                                                        style="width: 20px;vertical-align:middle;">包邮 <img
                      src="images/tongy.jpg" th:src="@{/template/0/images/tongy.jpg}"
                      style="width: 20px;vertical-align:middle;">七天无理由退货</span>
                        </div>
                    </div>
                    <!--未登录END-->

                </div>
                <div class="sku_container sku_container_on detail_standard_wx">
                    <div class="sku_wrap" style="margin-top: 10px;">
                        <div id="prop-list">
                            <div class="sku" th:each="spec:${spec}" >
                                <h3 th:text="${spec.value}+': '">规格1：</h3>
                                <div class="sku_list" th:each="specDescriptions:${goods.specDescriptions}" th:if="${spec.key}==${specDescriptions.key}" th:value="${specDescriptions.key}">
                                    <span class="option" id="specValue6342" th:each="specDes:${specDescriptions.value}" th:text="${specDes.specValue}">39</span>
                                </div>
                            </div>
                            <!--<div class="sku">-->
                                <!--<h3>规格2：</h3>-->
                                <!--<div class="sku_list">-->
                                    <!--<span class="option"    id="specValue6349">浅卡其</span>-->
                                    <!--<span class="option" id="specValue6351">深蓝色</span>-->
                                <!--</div>-->
                            <!--</div>-->
                        </div>
                        <div class="sku sku_num">
                            <h3>数量：</h3>
                            <div class="num_wrap">
                                <span class="minus minus_disabled" id="minusNum"></span>
                                <input class="num" id="buyNum" type="tel" value="1">
                                <span class="plus" id="addNum"></span>
                                <input type="hidden" id="hiddenStore" value="80">
                                <input type="hidden" id="hiddenBuyNum" value="0">
                                <input type="hidden" id="hiddenMemberBuyLimit" value="1000000">
                                <script type="text/template" id="hidcustomField">{"count":0,"data":[]}</script>
                            </div>
                            <div class="stock_num">
                                <div class="inner">
                                    <div id="skuStock">
                                        <!--<span id="stock-num" style="color: rgb(153, 153, 153);" th:text="${goods.stock}">库存充足</span>-->
                                        <span id="stock-num" style="color: rgb(153, 153, 153);"
                                              th:if="${goods.stock}!=0">库存充足</span>
                                    </div>
                                    <div id="buyLimit">
                                    </div>
                                    <div id="minBuyCount">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="dxbtn" style="width: 420px;">
                    <div id="mcover" onclick="document.getElementById('mcover').style.display='';"
                         style="display: none;">
                        <div class="code">
                            <!--<p style=" text-align:right; padding-bottom:10px"><img src="images/colos.gif" style="width:18px;" /></p>-->
                            <!--<img class="tutu" src="images/TB1uSyHLVXXXXbbaXXXwu0bFXXX.png" />-->
                            <p style=" margin-top:10px">扫一扫，进入购买</p>
                        </div>
                    </div>
                    <a th:if="${unlogin}==false" href="#" class="tb-btn-sku tb-btn-basket" onclick="showQRCode()"
                       style="float:left;"><img src="images/denglu2x.png" th:src="@{/template/0/images/denglu2x.png}"
                                                style="width:16px; vertical-align:middle; margin-right:6px; margin-top:-1px"/>扫码登录</a>
                    <a href="#" class="tb-btn-sku " onclick="showBuyQRCode()" style="float:left;"><img
                            src="images/iconfont-saoyisao.png" th:src="@{/template/0/images/iconfont-saoyisao.png}"
                            style="width:16px; vertical-align:middle; margin-right:6px; margin-top:-1px"/>扫码购买</a>
                    <a href="#" class="tb-btn-sku tb-btn-basket" style="display:none"><img
                            src="images/iconfont-gouwuche.png" th:src="@{/template/0/images/iconfont-gouwuche.png}"
                            style="width:16px; vertical-align:middle; margin-right:6px"/>加入购物车</a>
                    <p style="clear: both"></p>
                </div>
            </div>
            <p style="clear:both"></p>
        </div>
        <div class="m m1 hide" id="fitting-suit" style="display: block;background-color:#fff;">
            <div class="float-nav-wrap" style="padding-bottom:6px">
                <div class="mt">
                    <ul class="tab">
                        <li class="hide ui-switchable-item curr" style="display: list-item;">
                            <a href="#none">商品介绍</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div style="width:1000px;margin:0 auto;text-align:center;">
                <div th:utext="${goods.intro}"></div>
                <img src="images/ghi.jpg" th:src="@{/template/0/images/ghi.jpg}" style="width:100%"/>
                <img src="images/frd.jpg" th:src="@{/template/0/images/frd.jpg}" style="width:100%"/>
                <img src="images/jumpimg.png" th:src="@{/template/0/images/jumpimg.png}" style="width:100%"/>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script src="js/jquery-1.9.1.min.js" th:src="@{/template/0/js/jquery-1.9.1.min.js}"></script>
<script src="js/layer/layer.js" th:src="@{/template/0/js/layer/layer.js}"></script>
<script th:inline="javascript">
    function showQRCode() {
        var goodsId = /*[[${goods.id}]]*/"/";

        layer.open({
            type: 2,
            title: "请扫码登录 ",
            shadeClose: true,
            shade: 0.8,
            area: ['900px', '500px'],
            content: "https://open.weixin.qq.com/connect/qrconnect?appid=wx1dde8f55df10ccec&redirect_uri=http%3A%2F%2Fhot.huobanplus.com%3A8080%2Ffront%2Fbind%2Fcallback%2F&response_type=code&scope=snsapi_login&state=" + goodsId,
            end: function () {
//                window.console.log("!1");
            }
        });
    }

    function showBuyQRCode() {
        layer.open({
            type: 2,
            title: "请扫码购买 ",
            shadeClose: true,
            shade: 0.8,
            area: ['410px', '450px'],
            content: "http://hot.huobanplus.com:8080/front/bind/qrCode?goodsId="+goodsId,
            end: function () {
//                window.console.log("!1");
            }
        });
    }

    $(".sku_list span").click(function () {
        $(this).addClass("option_selected").siblings().removeClass("option_selected");
    });
    $(".spec-items li").click(function () {
        $(this).children("img").addClass("img-hover");
        $(this).siblings().children("img").removeClass("img-hover");
    });
</script>