<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title th:text="${goods.title}+'-'+${site.title}">前端社区(JQSite)-Web前端开发工程师专业的资源、知识分享交流平台|JQ插件库、素材资源网站</title>
    <meta name="keywords" content="前端社区,前端网,JQ插件库,素材网,Js特效,JQ社区,jQuery,jQuery特效,jQuery ui,jQuery插件,jQuery 教程,css3,网页特效" th:content="${site.keywords}" />
    <meta name="description" content="前端社区网(JQSite),人气爆棚的知识插件特效分享专业社区，国内最大的WEB前端工程师的技术分享交流平台,提供面向前端工程师综合性服务的一站式服务平台！前端未来，我们打造！" th:content="${site.description}"/>
    <link rel="stylesheet" type="text/css" href="/template/0/css/lobo.css" th:href="@{/template/0/css/lobo.css}"/>
    <link rel="stylesheet" type="text/css" href="/template/0/css/common.css" th:href="@{/template/0/css/common.css}"/>
    <link rel="stylesheet" type="text/css" href="/template/0/js/toolbar/toolbar.css" th:href="@{/template/0/js/toolbar/toolbar.css}"/>
    <link rel="stylesheet" type="text/css" href="/template/0/css/scfdforPC.css"
          th:href="@{/template/0/css/scfdforPC.css}"/>
    <link rel="stylesheet" href="/template/0/css/MagicZoom.css" th:href="@{/template/0/css/MagicZoom.css}"
          type="text/css"/>

    <!--<script src="js/ShopShow.js" th:src="@{/template/0/js/shopShow.js}"></script>-->
</head>
<body>
<div th:utext="${head}"></div>

<div>
    <div class="prointroduce" style="width:1000px;margin:0 auto;">
        <div style="background-color:#ffffff;padding:20px 0px 20px 0px;min-height:440px;">
            <div id="preview">
                <!--<div id="spec-n1" class="jqzoom" style="position:relative" >-->
                <div id="spec-n1" class="jqzoom" style="width:450px;height:450px">
                    <span style="position:absolute;bottom:0px;right:0px; z-index:9999"><img class="img" src="images/sss.png" th:src="@{/template/0/images/sss.png}"/></span>
                    <!--<span style="position:absolute"><img width="100%"  src="images/1.jpg" alt="" ></span>-->
                    <div id="tsImgS">
                        <a href="/template/0/images/ghi.jpg" th:href="${goods.bigPic[0]}"  title="Images" class="MagicZoom" id="MagicZoom">
                        <img id="mainImg" width="100%" class="img" src="/template/0/images/ghi.jpg" th:src="${goods.bigPic[0]}"/></a>
                    </div>
                </div>
                <div id="spec-list">
                    <div class="spec-items">
                        <ul class="lh">
                            <li rel="MagicZoom" th:each="bigPic:${goods.bigPic}"><img alt="NICE CLAUP2015夏商场同款日系女装甜美高腰蝴蝶结直筒九分裤111510450A 青色 均码"
                                                     th:src="${bigPic}"
                                                     th:attr="tsImgS=${bigPic}"
                                                     data-url="" data-img="1" width="50" height="50" ks_mark="y"
                                                     class="img"></li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="buy_area" style="border:0; padding-left:20px;">
                <div class="fn_wrap">
                    <div id="itemInfo">
                        <div id="name">
                            <h1 id="goodsTitle" th:text="${goods.title}">NICE CLAUP2015夏商场同款日系女装甜美高腰蝴蝶结直筒九分裤111510450A 青色 均码</h1>
                        </div>
                    </div>
                    <h1 id="brand" style="line-height: 31px; height: 31px; font-size:12px; padding-top:6px"
                        th:if="${goods.brandName!=null}">
                        <a id="brandName"
                           style="border: 1px solid #ccc; padding: 3px; border-radius: 4px;"
                           th:text="${goods.brandName}">林家铺子-果锦系列</a>
                    </h1>
                </div>
                <div style="" id="divPriceShow">
                    <!--会员价格BEGIN-->
                    <div id="userPriceDiv" style=" display: " th:if="${unlogin}==false">
                        <div class="price_wrap" style="position:relative; height:28px">
                            <span class="price">￥<span id="userPrice" th:text="${products.get(0).price}">69</span></span>
              <span class="flag" id="priceDis" style="display: ;overflow: hidden;
    width: 12px; margin-top:8px;">5.8折</span>
                            <span class="lsls" id= "lsls" style="display:"
                                  th:text="立省+${(products.get(0).marketPrice*1000-products.get(0).price*1000)/1000}+元">立省293元</span>
                        </div>
                        <div class="old_price_wrap">
                            <span>专柜价：<b id="price" class="dlejiage">￥<span class="normalPrice" id ="normalPrice" style="float: none;"
                                                                            th:text="${goods.marketPrice}">120</span></b></span>
                        </div>
                        <div class="old_price_wrap salesshow"
                             style="line-height: 0px; border: none; height: 0px; padding-top: 10px; display: none;">
                            <span class="tit">总销量：</span><span class="salesCount">0</span>
                        </div>
                        <div class="old_price_wrap">
                            <span class="gBN" id="code" th:if="${products.get(0).code!=''}" th:text="'商品编号: '+${products.get(0).code}">商品编号：34325643</span><br>
              <span style="height: 20px; clear:both; margin-top:10px" class="saleTag" >
              <img src="images/tongy.jpg"  th:each="saleTags:${goods.saleTags}"
                   th:src="@{/template/0/images/tongy.jpg}" style="width: 20px;vertical-align:middle;" th:text="${saleTags}" >
              </span>
                        </div>
                    </div>
                    <!--会员价格END-->

                    <!--未登录BEGIN-->
                    <div id="" style=" display:" th:if="${unlogin}==true">
                        <div class="price_wrap">
                            <span class="tit"></span>
                            <span class="price">￥<span class="normalPrice"
                                                       th:text="${goods.marketPrice}">629</span></span>
                            <span style="font-size: 12px; color: #999999; display: block; line-height:28px">登录查看会员价</span>
                            &nbsp;<span class="flag_kj helpbuyDis_kj" style="display: none;"> 下单发起众筹活动吧</span>
                        </div>
                        <div class="old_price_wrap" style="padding:4px">
                        </div>
                        <div class="old_price_wrap salesshow"
                             style="line-height: 0px; border: none; height: 0px; padding-top: 10px; display: none;">
                            <span class="tit">总销量：</span><span class="salesCount">0</span>
                        </div>
                        <div class="old_price_wrap">
                            <span class="gBN" th:text="'商品编号: '+${goods.code}">商品编号：34325643</span><br>
              <span style="height: 20px; clear:both; margin-top:10px" class="saleTag">
              <img src="images/tongy.jpg" th:src="@{/template/0/images/tongy.jpg}" style="width: 20px;vertical-align:middle;">
                  品牌直供 <img src="images/tongy.jpg" th:src="@{/template/0/images/tongy.jpg}" style="width: 20px;vertical-align:middle;">包邮
                  <img src="images/tongy.jpg" th:src="@{/template/0/images/tongy.jpg}"
                      style="width: 20px;vertical-align:middle;">七天无理由退货</span>
                        </div>
                    </div>
                    <!--未登录END-->

                </div>
                <div class="sku_container sku_container_on detail_standard_wx">
                    <div class="sku_wrap" style="margin-top: 10px;">
                        <div id="prop-list">
                            <div class="sku" th:each="spec:${goods.spec}">
                                <h3 th:text="${spec.value}+': '" >规格1：</h3>
                                <div class="sku_list" th:each="specDescriptions:${goods.specDescriptions}"
                                     th:if="${spec.key}==${specDescriptions.key}" th:value="${specDescriptions.key}">

                                     <span class="option option_selected" id="specValue6342" th:each="specDes:${specDescriptions.value}"
                                           th:text="${specDes.specValue}"
                                           th:value="${specDes.GoodsImageIds.length}!=0 ?${specDes.GoodsImageIds[0]}:''"
                                           th:if="${specDes} == ${specDescriptions.value.get(0)}">39</span>
                                    <span class="option" id="specValue6342" th:each="specDes:${specDescriptions.value}"
                                          th:text="${specDes.specValue}" th:value="${specDes.GoodsImageIds.length}!=0 ?${specDes.GoodsImageIds[0]}:''"
                                          th:if="${specDes} != ${specDescriptions.value.get(0)}">39</span>
                                </div>
                            </div>
                        </div>
                        <div class="sku sku_num">
                            <h3>数量：</h3>
                            <div class="num_wrap">
                                <span class="minus minus_disabled" id="minusNum" onclick="numDec()"></span>
                                <input class="num" id="quantity" type="tel" value="1">
                                <span class="plus" id="addNum" onclick="numAdd()"></span>
                                <input type="hidden" id="hiddenStore" value="80">
                                <input type="hidden" id="hiddenBuyNum" value="0">
                                <input type="hidden" id="hiddenMemberBuyLimit" value="1000000">
                                <script type="text/template" id="hidcustomField">{"count":0,"data":[]}</script>
                            </div>
                            <div class="stock_num">
                                <div class="inner">
                                    <div id="skuStock">
                                        <span id="stock-num" style="color: rgb(153, 153, 153);"
                                              th:text="'库存数: '+${products.get(0).stock}+' 件'">库存充足</span>
                                    </div>
                                    <div id="buyLimit">
                                    </div>
                                    <div id="minBuyCount">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="dxbtn" style="width: 420px;">
                    <div id="mcover" onclick="document.getElementById('mcover').style.display='';"
                         style="display: none;">
                        <div class="code">
                            <p style=" margin-top:10px">扫一扫，进入购买</p>
                        </div>
                    </div>
                    <a th:if="${unlogin}==true" href="#" class="tb-btn-sku tb-btn-basket" onclick="showQRCode()"
                       style="float:left;"><img src="images/denglu2x.png" th:src="@{/template/0/images/denglu2x.png}"
                                                style="width:16px; vertical-align:middle; margin-right:6px; margin-top:-1px"/>扫码登录</a>
                    <a href="#" class="tb-btn-sku " onclick="showBuyQRCode()" style="float:left;"><img
                            src="images/iconfont-saoyisao.png" th:src="@{/template/0/images/iconfont-saoyisao.png}"
                            style="width:16px; vertical-align:middle; margin-right:6px; margin-top:-1px"/>扫码购买</a>
                    <a href="#" class="tb-btn-sku tb-btn-basket" style="display:none"><img
                            src="images/iconfont-gouwuche.png" th:src="@{/template/0/images/iconfont-gouwuche.png}"
                            style="width:16px; vertical-align:middle; margin-right:6px"/>加入购物车</a>
                    <p style="clear: both"></p>
                </div>
            </div>
            <p style="clear:both"></p>
        </div>
        <div class="m m1 hide" id="fitting-suit" style="display: block;background-color:#fff;">
            <div class="float-nav-wrap" style="padding-bottom:6px">
                <div class="mt">
                    <ul class="tab">
                        <li class="hide ui-switchable-item curr" style="display: list-item;">
                            <a href="#none" style="color: ">商品介绍</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div style="width:1000px;margin:0 auto;text-align:center;">
                <div th:utext="${goods.intro}"></div>
            </div>
        </div>
    </div>
</div>
<div th:utext="${bottom}">

</div>
</body>
</html>
<script src="js/jquery-1.9.1.min.js" th:src="@{/template/0/js/jquery-1.9.1.min.js}"></script>
<script src="js/jquery.lazyload.js" th:src="@{/template/0/js/jquery.lazyload.js}"></script>
<script src="js/jquery.jhot.toolbar.min.js" th:src="@{/template/0/js/toolbar/jquery.jhot.toolbar.min.js}"></script>
<script src="js/layer/layer.js" th:src="@{/template/0/js/layer/layer.js}"></script>
<script src="js/magicZoom.js" th:src="@{/template/0/js/magicZoom.js}" type="text/javascript"></script>
<script th:inline="javascript">
    var specSize = /*[[${goods.spec.size()}]]*/"/";//商品规格行数
    var rootUrl = /*[[${request.root}]]*/"/"
    $.toolbar({
        root: rootUrl
    });
    function showBuyQRCode() {//扫码购买
        var goodsId = /*[[${goods.id}]]*/ "";//商品id
        var spec ="";
        var num =  $("#quantity").val();//购买商品数量

        if(specSize!=$(".option_selected").length){
            layer.msg("请选择完整规格");
        }
        else{//当规格选择完整后才可进行扫码购买
            $(".option_selected").each(function(i,v) {//遍历规格，
                var name = $(this).text();
                spec =spec+name+',';
            });
            var products = /*[[${products}]]*/"";
            if(specSize == 0){
                spec = spec + ',';
            }
            for(i=0;i<products.length;i++){
                var x =products[i].spec+',';
                var productId = products[i].id;
                if(spec == x){//当筛选出正确的productId
                    layer.open({
                    type: 2,
                    title: "请扫码购买 ",
                    shadeClose: true,
                    shade: 0.8,
                    area: ['410px', '450px'],
                    content: "/bind/qrCode?goodsId=" + goodsId+"&productId="+productId+"&num="+num ,
                    end: function () {
                    }
                });
                }
            }
        }
    }

    $(".sku_list span").click(function () {//规格选择框
        $(this).addClass("option_selected").siblings().removeClass("option_selected");
        var products = /*[[${products}]]*/"";
        var spec ="";
        $(".option_selected").each(function(i,v) {//遍历规格，
            var name = $(this).text();
            spec =spec+name+',';
        });

        if( $(this).attr("value")!=''){
            $("#tsImgS a>img").attr('src', $(this).attr("value"));//根据所选规格切换大图图片
            $("#MagicZoom").removeClass("MagicZoom");
        }


        if(specSize==$(".option_selected").length) {//当规则选择完毕时，改变商品价格以及库存

            for (i = 0; i < products.length; i++) {
                var x =products[i].spec+',';
                var savePrice = (products[i].marketPrice*1000-products[i].price*1000)/1000;//省的价格（为解决js浮点型bug）
                if(spec == x){//当筛选出正确的productId
                    $("#goodsTitle").text((products[i].name));//修改产品标题
                    $("#userPrice").text(products[i].price);//修改产品价格
                    $("#normalPrice").text(products[i].marketPric);//修改市场价格
                    $("#lsls").text("立省"+savePrice.toString()+'元');//修改市场价格
                    $("#stock-num").text('库存数: '+products[i].stock+' 件') ;//修改产品库存
                    $("#code").text('商品编号: '+products[i].code) ;//修改商品编号
                }
            }
        }
    });
    $(".spec-items li").click(function () {//图片选择框
        $(this).children("img").addClass("img-hover");
        $(this).siblings().children("img").removeClass("img-hover");
        $("#MagicZoom").addClass("MagicZoom");
    });
</script>
<script th:inline="javascript">

    /*商品数量+1*/
    function numAdd(){
        var num_add = parseInt($("#quantity").val())+1;
        if($("#quantity").val()==""){
            num_add = 1;
        }
        $("#quantity").val(num_add);
    }
    /*商品数量-1*/
    function numDec(){
        var num_dec = parseInt($("#quantity").val())-1;
        if(num_dec<1){
            //购买数量必须大于或等于1
        }else{
            $("#quantity").val(num_dec);
        }
    }

    $(function() {
        $("img.img").lazyload({effect: "fadeIn"});//延迟加载
    });


</script>