<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>MagicZoom.js放大镜插件</title>
<link rel="stylesheet" href="css/ShopShow.css" type="text/css" />
<link rel="stylesheet" href="css/MagicZoom.css" type="text/css" />
<script src="js/MagicZoom.js" type="text/javascript"></script>

</head>

<body>

<div id="tsShopContainer">
	<div id="tsImgS"><a href="images/1/01.jpg" title="Images" class="MagicZoom" id="MagicZoom"><img width="300" height="300" src="images/1/01.jpg" /></a></div>
	<div id="tsPicContainer">
		<div id="tsImgSCon">
			<ul>
				<li onclick="showPic(0)" rel="MagicZoom" ><img height="42" width="42" src="images/1/01.jpg"  /></li>
				<li onclick="showPic(1)" rel="MagicZoom"><img height="42" width="42" src="images/1/02.jpg" /></li>
				<li onclick="showPic(2)" rel="MagicZoom"><img height="42" width="42" src="images/1/03.jpg"  /></li>
				<li onclick="showPic(3)" rel="MagicZoom"><img height="42" width="42" src="images/1/04.jpg" tsImgS="images/1/04.jpg" /></li>
				<li onclick="showPic(4)" rel="MagicZoom"><img height="42" width="42" src="images/1/05.jpg" tsImgS="images/1/05.jpg" /></li>
				<li onclick="showPic(5)" rel="MagicZoom"><img height="42" width="42" src="images/1/06.jpg" tsImgS="images/1/06.jpg" /></li>
				<li onclick="showPic(6)" rel="MagicZoom"><img height="42" width="42" src="images/1/07.jpg" tsImgS="images/1/07.jpg" /></li>
				<li onclick="showPic(7)" rel="MagicZoom"><img height="42" width="42" src="images/1/08.jpg" tsImgS="images/1/08.jpg" /></li>
				<li onclick="showPic(8)" rel="MagicZoom"><img height="42" width="42" src="images/1/09.jpg" tsImgS="images/1/09.jpg" /></li>
				<li onclick="showPic(9)" rel="MagicZoom"><img height="42" width="42" src="images/1/10.gif" tsImgS="images/1/10.gif" /></li>
				<li onclick="showPic(10)" rel="MagicZoom"><img height="42" width="42" src="images/1/11.gif" tsImgS="images/1/10.gif" /></li>
			</ul>
		</div>
		<div id="tsImgSArrR" onclick="tsScrollArrRight()"></div>
	</div>
</div>

<script src="js/ShopShow.js"></script>
<div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">
</div>
</body>
</html>