<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link  href="/assets/css/admin.content.css"  type="text/css" rel="stylesheet"/>
    <link  href="/assets/css/admin.global.css"  type="text/css" rel="stylesheet"/>
    <link  href="/assets/libs/JGrid/theme/Jackson_skin_gray.css"  type="text/css" rel="stylesheet"/>
    <link href="/assets/libs/layer/skin/layer.css" rel="stylesheet"/>
    <link  href="/assets/css/smart.css"  type="text/css" rel="stylesheet"/>
    <link  href="/assets/css/decorated.css"  type="text/css" rel="stylesheet"/>
    <link href="/assets/libs/tab/jackson.tabs.css" rel="stylesheet" type="text/css" />
    <link href="/assets/libs/select/jackson.select.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/hot-bootstrap.css" rel="stylesheet" type="text/css" />
    <script src="/assets/seajs/sea.js"></script>
    <script src="/assets/seajs/config.js"></script>
</head>
<body>
<div class="header-app">
    <p class="app-title">
        <a th:href="@{/page/list?customerid={customerid}(customerid=${user.customerId},scope=${scope})}">首页</a><span>&gt;</span><span>页面管理</span>
    </p>
</div>
<div id="usual1" class="usual" style="margin:10px; padding-top:5px; background: #ffffff;">
    <div class="search block">
    <div class="-jackson-tab" style="margin-top: 10px">
        <ul>
            <li><a href="#tab1" class="selected">页面</a></li>
            <li><a href="#tab2">草稿</a></li>
        </ul>
    </div>
    <div class="smart-home">
        <div class="homepage-box clearfix">
            <div class="logo ">
                <img src="/resource/images/icon/0/default.png" width="52" height="52" id="customerShopLogo" alt="">
            </div>
            <div class="homepage-meta">
                <h3 class="homepage-title"><strong>店铺主页</strong> 店铺测试哦</h3>
                <div class="homepage-create-time">
                    创建时间：2015年10月20日
                </div>
            </div>
        </div><div style="clear: both;"></div>
    </div><div style="clear: both;"></div>
    <div class="smart-box">
        <div class="smart-action-left">
            <a class="btnShop active js-cms-defaults" th:attr="data-customerid=${user.customerId}" data-url="/customPages/0?customerid={0}&siteId={1}" href="javascript:void(0)" target="content">新增页面</a>
        </div>
        <div class="smart-action-left" style="margin-left:10px; width: 200px;">
            <select class="select1" id="siteType">
                <option value="">选择站点</option>
                <option th:each="site:${siteList}" th:value="${site.siteId}" th:text="${site.name}" th:selected="${site.siteId}==${siteList[0].siteId}?true:false"></option>//
            </select>
        </div>
        <div class="smart-action-left">
            <div class="de-input" style="margin-top:0px;margin-left:5px;"><input class="de-btn de-btn-input" id="pageName" placeholder="输入页面名称" type="text"><a href="javascript:void(0);"  class="de-btn js-btn-search">搜索</a></div>
        </div>
    </div><div style="clear: both;"></div>
    </div>
    <div class="cnt-wp">
        <div class="cnt">
            <div class="search-bar" style="padding-top: 0px;">
                <div id="tab1">

                </div>
                <div id="tab2">

                </div>
                </div>
            </div>
        </div>
</div>
<script>seajs.use(["JGrid","selectPlug","tabPlug","pagesList"]);</script>
</body>
</html>