
.huobanjiagw {}

/*导航栏end*/
.huobanjiagw .headlogo {
	width: 155px
}
.huobanjiagw .logoimgi {
	float: left;
	vertical-align: middle;
	margin: 10px 0px;
}
.huobanjiagw .headeri a {
	color: #fff;
}
.huobanjiagw .headeri {
	font-size: 14px;
	width: 1000px;
	margin: 0 auto;

	color: #fff;
}
.huobanjiagw .headeri .navi {
	float: left;
	margin-top: 20px;
}
.huobanjiagw .headeri .navi li {
	display: inline-block;
	padding: 0px 11px;
	line-height: 18px;
	text-align:center;
	width:70px;
}
.huobanjiagw .headeri .navi li.active a {
	position: relative;
	color: #fff;
	padding: 10px 0px 2px 0px;
	-webkit-transition: all 0.30s ease-out;
	-moz-transition: all 0.30s ease-out;
	-ms-transition: all 0.30s ease-out;
	-o-transition: all 0.30s ease-out;
	transition: all 0.30s ease-out;
}
/*.huobanjiagw .headeri .navi li.active a::after {
	content: "";
	position: absolute;
	bottom: -32px;
	left: -1px;
	right: -1px;
	border-bottom: 6px solid #0097fe;
}*/

.huobanjiagw .headeri .navi li a:hover {
	color:#FFFD00;
	width: 71px;
	height: 30px;
	line-height: 30px;
	-webkit-transition: all 0.20s ease-in;
	-moz-transition: all 0.20s ease-in;
	-ms-transition: all 0.20s ease-in;
	-o-transition: all 0.20s ease-in;
	transition: all 0.20s ease-in;
}

.huobanjiagw .headeri .navi li.dl_s{
	background-color:#1c6eff;
	color: #fff;
	border-radius: 5px;
	height: 30px;
	line-height: 30px;
}
.huobanjiagw .headeri .navi li.zc {
	background-color:#0DA4FA;
	color: #fff;
	border-radius: 5px;
	height: 30px;
	line-height: 30px;
}
.huobanjiagw .headeri .nav .line-li li {
	float: left;
	margin-left: -1px;
}
.huobanjiagw .headeri .nav_menu_li_1 {
	position: relative;
	cursor: pointer;
}
.huobanjiagw .headeri .navi .nav_menu_li_1 a {
	display: inline-block;
	color: #fff;
	width: 71px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: 0 none;
	-webkit-appearance: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding:0px 10px;
}
.huobanjiagw .headeri .navi .nav_menu_li_1:hover a {
  display: inline-block;
  background-color: #0da4f9;
  color: #fff;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 0 none;
  -webkit-appearance: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.nav_menu_li_1:hover .sub-nav{
 display:block;
}

.huobanjiagw .headeri .nav_menu_li_1 .sub-nav {
	background: #0DA4FA;
	position: absolute;
	text-align: center;
	top: 26px;
	border-radius: 4px;
	z-index: 10000;
	line-height: 32px;
}
.sub-nav{
 display:none;
}
/*导航栏end*/

/*底部*/
.hbj_foot {
	border-right: 1px solid #FFFFFF;
	padding: 0px 10px;
	;
}
.hbj_ft {
	margin: 5px;
}
.hbj_KK {
	
	margin-left: 117px;
	width: 13px;
}
/*底部结束*/



/* banner轮播css */

.fullSlide {
	min-width: 1100px;
	position: relative;
	height: 679x;
	overflow: hidden;
}
.fullSlide .bd {
	position: relative;
	height: 679px;
	overflow: hidden;
	z-index: 0;
}
.fullSlide .bd ul {
	width: 100% !important;
}
.fullSlide .bd li, .fullSlide .bd li a{
	width: 100% !important;
	height:679px;
}
.fullSlide .bd li .siteWidth {
	width: 1100px;
	position: relative;
	margin: 0 auto;
}
.fullSlide .bd li a {
	position: absolute;
	width: 100%;
	height:679px;
	display: block;
	z-index: 1;
}
.fullSlide .hd {
	width: 100%;
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 0;
	height: 30px;
	line-height: 30px;
	text-align: center;
}
.fullSlide .hd ul li {
	cursor: pointer;
	display: inline-block;
*display:inline;
	zoom: 1;
	width: 11px;
	height: 11px;
	margin: 4px;
	background: url(../images/dot-black.png) 0 0;
	overflow: hidden;
	line-height: 9999px;
	filter: alpha(opacity=40);
	opacity: 0.4;
	-webkit-transition: all 0.20s ease-out;
	-moz-transition: all 0.20s ease-out;
	-ms-transition: all 0.20s ease-out;
	-o-transition: all 0.20s ease-out;
	transition: all 0.20s ease-out;
}
.fullSlide .hd ul .on {
	filter: alpha(opacity=100);
	opacity: 1;
	-webkit-transition: all 0.20s ease-in;
	-moz-transition: all 0.20s ease-in;
	-ms-transition: all 0.20s ease-in;
	-o-transition: all 0.20s ease-in;
	transition: all 0.20s ease-in;
}
/*banner轮播end*/





/* 新闻轮播 */
.m-slide {
	position: relative;
	width: 1000px;
	height: 200px;
	padding-top: 120px;
}
.m-slide .bottom-shadow {
	position: absolute;
	bottom: -3px;
	left: 0;
	width: 100%;
	height: 1px;
	overflow: hidden;
	background: #e6e6e6;
	border-bottom: 1px solid #ececec
}
.m-slide .img {
	float: right;
	position: relative
}
.m-slide .img li, .m-slide .img a, .m-slide .img img {
	display: block;
	width: 499px;
	height: 336px
}
.m-slide .img li {
	display: none;
	position: absolute;
	left: 0;
	top: 0
}
.m-slide .img .first {
	display: block
}
.m-slide .tab {
	float: left;
	
}
.m-slide .tab li {
*margin-bottom: -3px;
	border: 1px solid #7199fb;
	width: 346px;
	height: 70px;
	margin-bottom: 20px;
	border-radius: 4px;
	background-color: #f2f2f2
}
.m-slide .tab .first {
	border-top: 0
}
.m-slide .tab a {
	text-decoration: none;
	display: block;
	position: relative;
	width: 190px;
	height: 49px;
	border-left: 3px solid #f2f2f2
}
.m-slide .tab a b {
	position: absolute;
	left: 0;
	top: 30px;
	width: 4px;
	height: 11px;
	overflow: hidden
}
.m-slide .tab a span {
	position: absolute;
	overflow: hidden
}
.m-slide .tab a .title {
	left: 17px;
	top: 6px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	font-weight: bold;
	color: #666
}
.m-slide .tab a .des {
	left: 18px;
	top: 26px;
	height: 30px;
	line-height: 30px;
	color: #999
}
.m-slide .tab .first a {
	height: 50px
}
.m-slide .tab .on a {
	border-left: 3px solid #7199fb;
	height:70px;
}
.m-slide .tab .on a b {
	background: url(../images/dott.png) no-repeat
}
.m-slide .tab .on a span {
	color: #41a1f2
}




.htxwen{padding:10px 0px; width:200px; text-align:center;color:#FFFFFF; border:1px solid #1c6eff; border-radius:20px; background-color:#1c6eff; position:absolute; bottom:74px; right:0px;left:0px; margin:0 auto;}
/* 新闻轮播结束 */






/*主页内容图片*/
.huobj-bigbox-aa {
	position: relative;
	height:568px;
	overflow: hidden;
}
.hbtwo.huobj-bigbox-aa {
	position: relative;
	height:465px;
	overflow: hidden;
}
.hbfour.huobj-bigbox-aa {
	position: relative;
	height:877px;
	overflow: hidden;
}
.hbfive.huobj-bigbox-aa {
	position: relative;
	height:996px;
	overflow: hidden;
}
.hbsix.huobj-bigbox-aa {
	position: relative;
	height:969px;
	overflow: hidden;
}
.hbseven.huobj-bigbox-aa {
	position: relative;
	height:929px;
	overflow: hidden;
}
.huobj-bigbox-aa .dyy-a {
	background: url(../images/zy02.jpg) 50% 0px no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
}

.huobj-bigbox-aa .dyy-a-b {
	background: url(../images/zy03.jpg) 50% 0px no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
}

.huobj-bigbox-aa .dyy-a-c {
	background: url(../images/zy04.jpg) 50% 0px no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
}
.huobj-bigbox-aa .dyy-a-d {
	background: url(../images/zy05.jpg) 50% 0px no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
}
.huobj-bigbox-aa .dyy-a-e {
	background: url(../images/zy06.jpg) 50% 0px no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
}

.huobj-bigbox-aa .dyy-a-f {
	background: url(../images/zy07.jpg) 50% 0px no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
}
.huobj-bigbox-aa .dyy-a-g {
	background: url(../images/zy08.jpg) 50% 0px no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
}
.huobj-bigbox-aa .dyy-a-h {
	background: url(../images/zy09.jpg) 50% 0px no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
}

/*主页内容图片结束*/

/*客户商城案例*/
.list_carousel {
	position: relative;
	width: 1000px;
	margin: 10px auto;
	margin-top:390px;;
}
.caroufredsel_wrapper {
	width: 1000px!important;
}
.list_as{display: block; text-align: start; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 1000px; height: 373px; margin: 0px; overflow: hidden;
}
.list_as_a{text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 1000px; height: 280px; z-index: auto;}
.list_carousel ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}
.list_carousel li {
	font-size: 40px;
	color: #999;
	text-align: center;
	width: 250px;
	height: 345px;
	padding: 0;
	display: block;
	float: left;
}
.list_carousel li a {
	display: block;
	width:267px;
	margin: auto;
	position: relative;

}
.list_carousel li a:after {
	position: absolute;
	
}
.list_carousel li img {
	width:214px;
	
	margin: 5px auto;
	display: inline;
}
.list_carousel.responsive {
	width: auto;
	margin-left: 0;
}
.clearfix {
	float: none;
	clear: both;
}
.prev,.next {
	margin-left: 23px;
	display: inline-block;
	width: 28px;
	height: 50px;
	position: absolute;
	top: 50%;
	margin-top: -50px;
	z-index: 100;
	background: url(../images/weimob.png) no-repeat 0 center;

	
}


.prev {
	background-position: 0 -305px;
}
.next {
	left: auto;
	right: 2px;
	background-position: -30px -305px;
}
.clearfix {
*zoom:1
}
.clearfix:before, .clearfix:after {
	display: table;
	content: ""
}
.clearfix:after {
	clear: both
}



/*代运营*/
.hbsx.huobj-bigbox-dd{position: relative;
	height:1107px;
	overflow: hidden;}
.hbx.huobj-bigbox-dd{position: relative;
	height:1334px;
	overflow: hidden;}
.huobj-bigbox-dd {
	position: relative;
	height:676px;
	overflow: hidden;
}

.huobj-bigbox-dd .dyy-e {
	background: url(../images/dyy01.jpg) 50% 0px no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
}
.huobj-bigbox-dd .dyy-d {
	background: url(../images/dyy02.jpg) 50% 0px no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
}
.huobj-bigbox-dd .dyy-c {
	background: url(../images/dyy03.jpg) 50% 0px no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
}
.huobj-bigbox-dd .dyy-b {
	background: url(../images/dyy04.jpg) 50% 0px no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
}
.huobj-bigbox-b {
	position: relative;
	height:531px;
	overflow: hidden;
}

/*代运营结束*/



/*加盟代理图片*/
.jma.huobj-bigbox-jj {
	position: relative;
	height:966px;
	overflow: hidden;
}
.jmb.huobj-bigbox-jj {
	position: relative;
	height:1097px;
	overflow: hidden;
}
.jmc.huobj-bigbox-jj {
	position: relative;
	height:1467px;
	overflow: hidden;
}
.jmd.huobj-bigbox-jj {
	position: relative;
	height:622px;
	overflow: hidden;
}
.jme.huobj-bigbox-jj {
	position: relative;
	height:854px;
	overflow: hidden;
}

.huobj-bigbox-jj {
	position: relative;
	height:770px;
	overflow: hidden;
}


.huobj-bigbox-jj .jm-a {
	background: url(../images/jm01.jpg) 50% 0px no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
}
.huobj-bigbox-jj .jm-b {
	background: url(../images/jm02.jpg) 50% 0px no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
}
.huobj-bigbox-jj .jm-c {
	background: url(../images/jm03.jpg) 50% 0px no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
}
.huobj-bigbox-jj .jm-d {
	background: url(../images/jm04.jpg) 50% 0px no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
}
.huobj-bigbox-jj .jm-e {
	background: url(../images/jm05.jpg) 50% 0px no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
}
.huobj-bigbox-jj .jm-f {
	background: url(../images/jm06.jpg) 50% 0px no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
}
.huobj-bigbox-jj .jm-g {
	background: url(../images/jm07.jpg) 50% 0px no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
}

/*加盟代理图片*/

/*加盟代理1*/

.daili {
	
	width:1000px;
	margin: 0 auto;
	text-align: center;
	padding-top: 20px;
}

.daili .hr_daili4 {
	height:427px;
	margin: 0 auto;
	width: 960px;
	
	float: none;
	padding: 20px 0px 30px 0px;
	
}
.daili .hr_jmf {
	margin: 0 auto;
	float: none;
}
.daili .hr_daili5 {
	width: 640px;
	margin: 0 auto;
	padding: 5px 0px;
}
.daili .hr_jmf ul li {
	position: relative;
	float: left;
	padding-right: 5px;
	height: 40px;
	width: 300px;
	padding: 5px 10px;
}
.daili .hr_jmf ul li input {
	height: 100%;
	width: 100%;
	outline: none;
	text-indent: 10px;
}
.daili .jm_em {
	padding-bottom: 0;
	text-transform: none;
	font-style: normal;
	color: #f60;
}
.daili .hr_jmf ul li.jm_oo:after {
	content: "*";
	color: #f00;
	position: absolute;
	left: 314px;
	top: 12px;
}
.daili .jm_input {
	border: #dcdcdc 1px solid;
	line-height: 30px;
	height: 40px;
	vertical-align: middle;
	color: #4a4a4a;
	font-size: 12px;
}
.daili .int {
	width: 300px;
}
.daili .inp {
	width: 147px;
}
.daili .jm_oo {
	margin: 5px 0px;
}
select {
	-webkit-appearance: menulist;
	box-sizing: border-box;
	align-items: center;
	border: 1px solid;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	white-space: pre;
	-webkit-rtl-ordering: logical;
	color: #000;
	background-color: white;
	cursor: default;
	height: 100%;
	width: 124px;
	outline: none;
	border: none;
	text-indent: 10px;
}

.yanzheng {
    text-align: center;
    line-height: 42px;
    border: none;
    color: #000;
    font-size: 13px;
    padding: 0px;
    background: #ddd;
    position: absolute;
    right: 8px;
  
    text-indent: 0;
    text-align: left;
 
}

.daili .hr_jmf ul li textarea {
	width: 606px;
	height: 150px;
	text-indent: 10px;
	padding: 4px 6px;
	float: left;
}
textarea {
	-webkit-appearance: textarea;
	background-color: white;
	border: 1px solid #dcdcdc;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	flex-direction: column;
	resize: auto;
	cursor: auto;
	padding: 2px;
	white-space: pre-wrap;
	word-wrap: break-word;
}
.daili .hr_daili6 {
	font-size: 14px;
	color: #8A8A8A;
	line-height: 20px;
	text-align: left;
	padding: 0px 20px;
}
.daili .jm_du {
	font-size: 24px;
	color: #0aafe7;
	padding-bottom: 10px;
}
.daili .jm_07 {
	border-right: 1px solid #7E7E7E;
	height: 416px;
}
.daili .jm_08 {
	font-size: 16px;
	color: #0aafe7;
	text-align: left;
	padding-left: 20px;
}
.ddww { background: url(../images/dw01.png) no-repeat;
 border-radius: 0px 0px 4px 4px;
    height: 433px;
	width:377px;
	text-align:center; margin:0 auto;
	z-index:999px;
	
	}
/*加盟代理结束*/





/*招聘*/

.zpc.huobj-bigbox-zp {
	position: relative;
	height:535px;
	overflow: hidden;
}
.zpb.huobj-bigbox-zp {
	position: relative;
	height:991px;
	overflow: hidden;
}
.zpa.huobj-bigbox-zp {
	position: relative;
	height:1040px;
	overflow: hidden;
}
.huobj-bigbox-zp {
	position: relative;
	height:680px;
	overflow: hidden;
}


.huobj-bigbox-zp .zp-a {
	background: url(../images/htzp01.jpg) 50% 0px no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
}

.huobj-bigbox-zp .zp-b {
	background: url(../images/htzp02.jpg) 50% 0px no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
}

.huobj-bigbox-zp .zp-c {
	background: url(../images/htzp03.jpg) 50% 0px no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
}

.huobj-bigbox-zp .zp-d {
	background: url(../images/htzp04.jpg) 50% 0px no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
}

/*招聘结束*/




/*伙伴商城*/

.hbg.huobj-bigbox-mall {
	position: relative;
	height:933px;
	overflow: hidden;
}
.hbf.huobj-bigbox-mall {
	position: relative;
	height:638px;
	overflow: hidden;
}
.hbe.huobj-bigbox-mall {
	position: relative;
	height:1469px;
	overflow: hidden;
}
.hbd.huobj-bigbox-mall {
	position: relative;
	height:903px;
	overflow: hidden;
}
.hbc.huobj-bigbox-mall {
	position: relative;
	height:728px;
	overflow: hidden;
}
.hbb.huobj-bigbox-mall {
	position: relative;
	height:682px;
	overflow: hidden;
}
.hba.huobj-bigbox-mall {
	position: relative;
	height:505px;
	overflow: hidden;
}
.huobj-bigbox-mall {
	position: relative;
	height:680px;
	overflow: hidden;
}
.huobj-bigbox-mall .mall-a {
	background: url(../images/hbsc01.jpg) 50% 0px no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
}
.huobj-bigbox-mall .mall-b {
	background: url(../images/hbsc02.jpg) 50% 0px no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
}
.huobj-bigbox-mall .mall-c {
	background: url(../images/hbsc03.jpg) 50% 0px no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
}
.huobj-bigbox-mall .mall-d {
	background: url(../images/hbsc04.jpg) 50% 0px no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
}
.huobj-bigbox-mall .mall-e {
	background: url(../images/hbsc05.jpg) 50% 0px no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
}
.huobj-bigbox-mall .mall-f {
	background: url(../images/hbsc06.jpg) 50% 0px no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
}.huobj-bigbox-mall .mall-g {
	background: url(../images/hbsc07.jpg) 50% 0px no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
}.huobj-bigbox-mall .mall-h {
	background: url(../images/hbsc08.jpg) 50% 0px no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
}
.huobj-bigbox-mall .mall-i {
	background: url(../images/hbsc09.jpg) 50% 0px no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
}
.huobj-bigbox-mall .mall-j {
	background: url(../images/hbsc10.jpg) 50% 0px no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
}.huobj-bigbox-mall .mall-k {
	background: url(../images/hbsc11.jpg) 50% 0px no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
}.huobj-bigbox-mall .mall-l {
	background: url(../images/hbsc12.jpg) 50% 0px no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
}
.huobj-bigbox-mall .mall-m {
	background: url(../images/hbsc13.jpg) 50% 0px no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
}





/*伙伴商城*/

.maller{height:150px; width:1000px; margin:0 auto; text-align:center; color:#FFFFFF; }
.maller li{ 
background-image: url(../images/hbsc0.jpg);
background-repeat:repeat;
 height:80px; width:300px;
 line-height:80px;
margin:30px 10px 0px 20px;
display:block;
font-size:22px;
float:left;
}
.maller li.on b {
	background-image: url(../images/dottt.png);
	background-repeat: no-repeat;
	background-size: 100%;
	width: 23px;
	height: 23px;
	position: absolute;
	margin-top: 120px;
	margin-left: -65px;
}
/*伙伴商城end*/



/*移动广告*/


.hmf.huobj-bigbox-mad {
	position: relative;
	height:935px;
	overflow: hidden;
}
.hme.huobj-bigbox-mad {
	position: relative;
	height:1288px;
	overflow: hidden;
}
.hmd.huobj-bigbox-mad {
	position: relative;
	height:544px;
	overflow: hidden;
}
.hmc.huobj-bigbox-mad {
	position: relative;
	height:796px;
	overflow: hidden;
}
.hmb.huobj-bigbox-mad {
	position: relative;
	height:980px;
	overflow: hidden;
}
.hma.huobj-bigbox-mad {
	position: relative;
	height:420px;
	overflow: hidden;
}

.huobj-bigbox-mad {
	position: relative;
	height:666px;
	overflow: hidden;
}
.huobj-bigbox-mad .mad-a {
	background: url(../images/yd01.jpg) 50% 0px no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
}
.huobj-bigbox-mad .mad-b {
	background: url(../images/yd02.jpg) 50% 0px no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
}
.huobj-bigbox-mad .mad-c {
	background: url(../images/yd03.jpg) 50% 0px no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
}
.huobj-bigbox-mad .mad-d {
	background:  url(../images/yd04.jpg) 50% 0px no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
}
.huobj-bigbox-mad .mad-e {
	background: url(../images/yd05.jpg) 50% 0px no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
}
.huobj-bigbox-mad .mad-f {
	background: url(../images/yd06.jpg) 50% 0px no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
}
.huobj-bigbox-mad .mad-g {
	background: url(../images/yd07.jpg) 50% 0px no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
}
.huobj-bigbox-mad .mad-h {
	background: url(../images/yd08.jpg) 50% 0px no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
}

.huobj-bigbox-mad .mad-i {
	background: url(../images/yd09.jpg) 50% 0px no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
}
.huobj-bigbox-mad .mad-j{
	background: url(../images/yd10.jpg) 50% 0px no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
}
.huobj-bigbox-mad .mad-k {
	background: url(../images/yd11.jpg) 50% 0px no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
}

/* 背景图结束*/



.maddd {
	height: 150px;
	width: 1000px;
	margin: 0 auto;
	text-align: center;
	color: #FFFFFF;
}
.maddd li {
	background-image: url(../images/ydbotton.jpg);
	background-repeat: repeat;
	height: 80px;
	width: 300px;
	line-height: 80px;
	margin: 30px 10px 0px 20px;
	display: block;
	font-size: 22px;
	float: left;
	border-radius: 8px;
}
/* 本例子css */
.qunar {
	width: 1000px;
	margin: 0 auto 15px;
	position: relative;
	overflow: hidden;
}
.qunar .e_pic_wrap {
	z-index: 1;
	white-space: nowrap;
	width:1000px;
	height:589px;
	margin-left:40px;
}
.qunar .e_pic_wrap li {
	position: relative;
	display: inline;
	width:1000px;
	height: 589px;
	overflow: hidden;
}
.qunar .e_bg_flt {
	position: absolute;
	right: 0;
	top: 0;
	width: 270px;
	height: 215px;
	background: #000;
	filter: alpha(opacity=50);
	-moz-opacity: .5;
	opacity: .5;
	z-index: 10;
}
.qunar .e_flt_inf {
	position: absolute;
	right: 0;
	top: 0;
	width: 227px;
	height: 180px;
	padding: 25px 28px 10px 15px;
	overflow: hidden;
	z-index: 20;
	color: #fff;
	white-space: normal;
	word-wrap: break-word;
}
.qunar .e_flt_inf h3 {
	margin-bottom: 22px;
}
.qunar .e_flt_inf h3 a, .qunar .e_flt_inf h2 a {
	color: #fff;
}
.qunar .e_flt_inf .t_info {
	line-height: 20px;
	height: 84px;
	overflow: hidden;
}
.qunar .e_flt_inf .t_info a {
	color: #fff;
}
.qunar .e_flt_inf .t_info .l_view {
	background: url(../images/ico_p1.png) no-repeat scroll -120px 0;
	color: #fff;
	width: 39px;
	height: 14px;
	line-height: 14px;
	padding: 0 2px;
	display: inline-block;
}
.qunar .e_sep {
	color: #81d6d3;
	position: absolute;
	bottom: 20px;
	right: 20px;
	width: 235px;
	z-index: 20;
}
.qunar .e_sep a {
	color: #81d6d3;
}
.qunar .prev, .qunar .next {
	position: absolute;
	z-index: 30;
	display: block;
}
.qunar .prev {
	top: 280px;
	left:-16px;
}
.qunar .next {
	top: 280px;
	right: 0px;
}
.qunar .prev a, .qunar .next a {
	display: block;
	width: 25px;
	height: 32px;
	overflow: hidden;
	background: url(images/../ico_prevnext.png) no-repeat scroll 0 0;
	_background-image: url(images/ico_prevnext_ie6.png);
}
.qunar .prev a {
	background-position: 0 0;
}
.qunar .prev a:hover {
	background-position: 0 -40px;
}
.qunar .next a {
	background-position: 0 -80px;
}
.qunar .next a:hover {
	background-position: 0 -120px;
}
/*移动广告end*/


.huobj-bigbox-lx {
	position: relative;
	height:960px;
	overflow: hidden;
}
.huobj-bigbox-lx .lx-a {
	background: url(../images/lx01.jpg) 50% 0px no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
}