<!DOCTYPE html>
<!--
  ~ 版权所有:杭州火图科技有限公司
  ~ 地址:浙江省杭州市滨江区西兴街道阡陌路智慧E谷B幢4楼
  ~
  ~ (c) Copyright Hangzhou Hot Technology Co., Ltd.
  ~ Floor 4,Block B,Wisdom E Valley,Qianmo Road,Binjiang District
  ~ 2013-2016. All rights reserved.
  -->

<html xmlns:th="http://www.thymeleaf.org" xmlns:ewp="http://ewp.jiangcai.me" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>登录火图CMS后台管理</title>

    <link href="../public/bracket/css/style.default.css" ewp:href="/bracket/css/style.default.css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <!--<script src="../js/html5shiv.js" th:src="@{/js/html5shiv.js}"></script>-->
    <!--<script src="../js/respond.min.js" th:src="@{/js/respond.min.js}"></script>-->
    <![endif]-->
</head>

<body class="signin">


<!-- Preloader -->
<div id="preloader">
    <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>

<section>

    <div class="signinpanel">

        <div class="row">

            <div class="col-md-7">

                <div class="signin-info">
                    <div class="logopanel">
                        <h1><span>[</span> CMS <span>]</span></h1>
                    </div><!-- logopanel -->

                    <div class="mb20"></div>

                    <h5><strong>欢迎登录!</strong></h5>
                    <ul>
                        <li><i class="fa fa-arrow-circle-o-right mr5"></i> <span>可视化编辑</span></li>
                        <li><i class="fa fa-arrow-circle-o-right mr5"></i> <span>多层次模型</span></li>
                        <li><i class="fa fa-arrow-circle-o-right mr5"></i> <span>牵手伙伴商城</span></li>
                        <li><i class="fa fa-arrow-circle-o-right mr5"></i> <span>and much more...</span></li>
                    </ul>
                    <div class="mb20"></div>
                    <!--<strong>还没有帐号? <a href="signup.html" th:href="@{/register}">请注册</a></strong>-->
                </div><!-- signin0-info -->

            </div><!-- col-sm-7 -->

            <div class="col-md-5">

                <form method="post" action="login.html" th:action="@{/auth}">
                    <h4 class="nomargin">登录</h4>

                    <p class="mt5 mb20">所有操作都需要登录才可以继续.</p>

                    <button id="toMall" class="btn btn-success btn-block">我是伙伴商城用户</button>

                    <input type="text" name="username" class="form-control uname" placeholder="手机号码"/>
                    <input type="password" name="password" class="form-control pword" placeholder="登录密码"/>
                    <a href="">
                        <small>忘记密码?</small>
                    </a>

                    <button class="btn btn-success btn-block">登录</button>


                </form>
            </div><!-- col-sm-5 -->

        </div><!-- row -->

        <div class="signup-footer">
            <div class="pull-left">
                &copy; 杭州火图科技有限公司 2016. All Rights Reserved.
            </div>
            <div class="pull-right">
                &nbsp;
            </div>
        </div>

    </div><!-- signin -->

</section>


<script src="http://resali.huobanplus.com/cdn/jquery/3.0.0/jquery.min.js"></script>
<script>

</script>
<!--<script src="../js/jquery-migrate-1.2.1.min.js" th:src="@{/js/jquery-migrate-1.2.1.min.js}"></script>-->
<!--<script src="../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>-->
<!--<script src="../js/modernizr.min.js" th:src="@{/js/modernizr.min.js}"></script>-->
<!--<script src="../js/retina.min.js" th:src="@{/js/retina.min.js}"></script>-->
<!--<script src="../js/toggles.min.js" th:src="@{/js/toggles.min.js}"></script>-->
<!--<script src="../js/jquery.sparkline.min.js" th:src="@{/js/jquery.sparkline.min.js}"></script>-->
<!--<script src="../js/jquery.cookies.js" th:src="@{/js/jquery.cookies.js}"></script>-->

<script src="../public/bracket/js/custom.js" ewp:src="/bracket/js/custom.js"></script>

<!--<div th:if="${'error'==#httpServletRequest.getParameter('type')}">-->
<!--<div-->
<!--th:replace="fragments/common::alert ('登录错误',${#httpSession.getAttribute('AUTHENTICATION_MESSAGE')},'growl-danger',null,null,false)">-->
<!--<script src="js/jquery.gritter.min.js"></script>-->
<!--<link href="css/jquery.gritter.css" rel="stylesheet"/>-->
<!--<script>-->
<!--jQuery(function () {-->
<!--jQuery.gritter.add({-->
<!--title: '登录错误!',-->
<!--text: '您输入了错误的用户名或者密码',-->
<!--class_name: 'growl-danger',-->
<!--//            image: 'images/screen.png',-->
<!--sticky: false,-->
<!--time: ''-->
<!--});-->
<!--});-->
<!--</script>-->
<!--</div>-->
<!--</div>-->

<!--<div th:if="${#httpServletRequest.getParameter('logout')!=null}">-->
<!--<div-->
<!--th:replace="fragments/common::alert ('成功登出','欢迎下次再来','growl-info',null,null,false)">-->
<!--<script src="js/jquery.gritter.min.js"></script>-->
<!--<link href="css/jquery.gritter.css" rel="stylesheet"/>-->
<!--<script>-->
<!--jQuery(function () {-->
<!--jQuery.gritter.add({-->
<!--title: '成功登出!',-->
<!--text: '欢迎下次再来',-->
<!--class_name: 'growl-info',-->
<!--//            image: 'images/screen.png',-->
<!--sticky: false,-->
<!--time: ''-->
<!--});-->
<!--});-->
<!--</script>-->
<!--</div>-->
<!--</div>-->


</body>
</html>
