<!DOCTYPE html>
<!--
  ~ 版权所有:杭州火图科技有限公司
  ~ 地址:浙江省杭州市滨江区西兴街道阡陌路智慧E谷B幢4楼
  ~
  ~ (c) Copyright Hangzhou Hot Technology Co., Ltd.
  ~ Floor 4,Block B,Wisdom E Valley,Qianmo Road,Binjiang District
  ~ 2013-2016. All rights reserved.
  -->

<html xmlns:th="http://www.thymeleaf.org" xmlns:ewp="http://ewp.jiangcai.me" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content="CJ"/>
    <title>登录火图CMS后台管理</title>
    <link href="http://resali.huobanplus.com/cdn/bracket/css/style.default.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="http://resali.huobanplus.com/cdn/bracket/js/html5shiv.js"></script>
    <script src="http://resali.huobanplus.com/cdn/bracket/js/respond.min.js"></script>
    <![endif]-->
</head>

<!--/*@thymesVar id="mallLoginUrl" type="java.lang.String"*/-->
<body class="signin">


<!-- Preloader -->
<div id="preloader">
    <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>

<section>

    <div class="signinpanel">

        <div class="row">

            <div class="col-md-7">

                <div class="signin-info">
                    <div class="logopanel">
                        <h1><span>[</span> CMS <span>]</span></h1>
                    </div><!-- logopanel -->

                    <div class="mb20"></div>

                    <h5><strong>欢迎登录!</strong></h5>
                    <ul>
                        <li><i class="fa fa-arrow-circle-o-right mr5"></i> <span>可视化编辑</span></li>
                        <li><i class="fa fa-arrow-circle-o-right mr5"></i> <span>多层次模型</span></li>
                        <li><i class="fa fa-arrow-circle-o-right mr5"></i> <span>牵手伙伴商城</span></li>
                        <li><i class="fa fa-arrow-circle-o-right mr5"></i> <span>and much more...</span></li>
                    </ul>
                    <div class="mb20"></div>
                    <!--<strong>还没有帐号? <a href="signup.html" th:href="@{/register}">请注册</a></strong>-->
                </div><!-- signin0-info -->

            </div><!-- col-sm-7 -->

            <div class="col-md-5">

                <form method="post" action="login.html" th:action="@{/auth}">
                    <h4 class="nomargin">登录</h4>

                    <p class="mt5 mb20">所有操作都需要登录才可以继续.</p>

                    <button id="toMall" class="btn btn-success btn-block">我是伙伴商城用户</button>

                    <input type="text" name="username" class="form-control uname" placeholder="登录名"/>
                    <input type="password" name="password" class="form-control pword" placeholder="登录密码"/>
                    <a href="">
                        <!--<small>忘记密码?</small> 忘记个腿  忘记我也没办法……-->
                    </a>

                    <button class="btn btn-success btn-block">登录</button>


                </form>
            </div><!-- col-sm-5 -->

        </div><!-- row -->

        <div class="signup-footer">
            <div class="pull-left">
                &copy; 杭州火图科技有限公司 2016. All Rights Reserved.
            </div>
            <div class="pull-right">
                &nbsp;
            </div>
        </div>

    </div><!-- signin -->

</section>

<script src="http://resali.huobanplus.com/cdn/bracket/js/jquery-1.10.2.min.js"></script>

<script th:inline="javascript" th:text="${mallLoginUrl}">
    $.mallLoginUrl = /*[[${mallLoginUrl}]]*/ 'login.html';
</script>
<script src="../public/js/login.js" ewp:src="/js/login.js"></script>

</body>
</html>
