<!DOCTYPE html>
<!--
  ~ 版权所有:杭州火图科技有限公司
  ~ 地址:浙江省杭州市滨江区西兴街道阡陌路智慧E谷B幢4楼
  ~
  ~ (c) Copyright Hangzhou Hot Technology Co., Ltd.
  ~ Floor 4,Block B,Wisdom E Valley,Qianmo Road,Binjiang District
  ~ 2013-2016. All rights reserved.
  -->

<html xmlns:th="http://www.thymeleaf.org" xmlns:ewp="http://ewp.jiangcai.me" lang="en">
<!--/*@thymesVar id="logout" type="java.lang.String"*/-->
<!--/*@thymesVar id="mallManageUrl" type="java.lang.String"*/-->
<!--/*@thymesVar id="manageSite" type="com.huotu.hotcms.service.entity.Site"*/-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>内容管理-火图CMS内容管理系统</title>
    <link href="http://resali.huobanplus.com/cdn/bracket/css/style.default.css" rel="stylesheet">
    <link href="http://resali.huobanplus.com/cdn/bracket/css/jquery.datatables.css" rel="stylesheet">
    <link href="../../public/assets/css/customize.css" ewp:href="/assets/css/customize.css" rel="stylesheet">
    <link href="http://resali.huobanplus.com/cdn/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="http://resali.huobanplus.com/cdn/bracket/js/html5shiv.js"></script>
    <script src="http://resali.huobanplus.com/cdn/bracket/js/respond.min.js"></script>
    <![endif]-->
    <script language="javascript" type="text/javascript">
//        function resizeIframe(obj) {
//            try {
////                console.error('content has changed', obj, obj.contentWindow, obj.contentWindow.document);
//                obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
//            } catch (e) {
//                console.error(e);
//            }
//        }

        //解决iframe内容变化，高度不变的问题，但是使用了 setInterval 感觉浏览器压力大，回头想更好的办法。 @蒋哥
        function reinitIframe(){
            var iframe = document.getElementById("content");
            try{
                var bHeight = iframe.contentWindow.document.body.scrollHeight;
                var dHeight = iframe.contentWindow.document.documentElement.scrollHeight;
                iframe.height =  Math.max(bHeight, dHeight);
//                console.log(iframe.height );
            }catch (e){
                console.error(e);
            }
        }
        window.setInterval(reinitIframe, 1000);
    </script>
</head>
<body>
<!-- Preloader -->
<div id="preloader">
    <div id="status">
        <i class="fa fa-spinner fa-spin"></i>
    </div>
</div>
<section>

    <div class="leftpanel">

        <div class="logopanel">
            <h1><span>[</span> 火图CMS管理 <span>]</span></h1>
        </div><!-- logopanel -->

        <div class="leftpanelinner">

            <!-- This is only visible to small devices -->
            <div class="visible-xs hidden-sm hidden-md hidden-lg">
                <div class="media userlogged">
                    <img alt="" src="http://resali.huobanplus.com/cdn/bracket/images/photos/loggeduser.png"
                         class="media-object">
                    <div class="media-body">
                        <h4>管理员</h4>
                        <span>"Enjoy it"</span>
                    </div>
                </div>

                <h5 class="sidebartitle actitle">帐号</h5>
                <ul class="nav nav-pills nav-stacked nav-bracket mb30">
                    <li><a href="http://www.huobanplus.com/"><i class="fa fa-envelope-o"></i> 联系我们</a></li>
                    <!--<li><a href="../decoration/decorated.html" th:href="@{/manage/main/decorated(scope=shop)}"><i-->
                    <!--class="glyphicon glyphicon-wrench"></i> 店铺装修</a></li>-->
                    <!--<li><a href="../decoration/decorated.html" th:href="@{/manage/main/decorated(scope=website)}"><i-->
                    <!--class="fa fa-laptop"></i> 官网装修</a></li>-->
                    <li><a href="#"><i class="glyphicon glyphicon-question-sign"></i> 帮助</a></li>
                    <li><a href="main.html" th:href="@{${logout}}"><i class="glyphicon glyphicon-log-out"></i> 注销</a>
                    </li>
                </ul>
            </div>

            <h5 class="sidebartitle">导航</h5>
            <ul class="nav nav-pills nav-stacked nav-bracket">
                <li class="nav-parent"><a href=""><i class="fa fa-desktop"></i> <span>站点设置</span></a>
                    <ul class="children">
                        <li><a href="site/index.html" th:if="${manageSite==null}" th:href="@{/manage/site}"
                               target="content">
                            <i class="fa fa-puzzle-piece"></i> 站点管理</a></li>
                        <li><a href="page/index.html" th:href="@{/manage/page}" target="content">
                            <i class="fa fa-sitemap"></i> 网站架构</a></li>
                        <li><a href="route/index.html" th:href="@{/manage/route}" target="content">
                            <i class="fa fa-retweet"></i> 路由规则</a></li>
                    </ul>
                </li>
                <li class="nav-parent"><a href=""><i class="fa fa-book"></i> <span>内容管理</span></a>
                    <ul class="children">
                        <li>
                            <a href="contents/article.html" th:href="@{/manage/article}" target="content"><i
                                    class="fa fa-tasks"></i> 文章</a>
                        </li>
                        <li>
                            <a href="contents/link.html" th:href="@{/manage/link}" target="content"><i
                                    class="fa fa-link"></i> 链接</a>
                        </li>
                        <!--<li>-->
                        <!--<a href="contents/video.html" th:href="@{/manage/video}" target="content"><i-->
                        <!--class="fa fa-film"></i> 视频</a>-->
                        <!--</li>-->
                        <li>
                            <a href="contents/notice.html" th:href="@{/manage/notice}" target="content"><i
                                    class="fa fa-bullhorn"></i> 公告</a>
                        </li>
                        <li>
                            <a href="contents/gallery.html" th:href="@{/manage/gallery}" target="content"><i
                                    class="fa fa-picture-o"></i> 图库</a>
                        </li>
                        <li>
                            <a href="contents/download.html" th:href="@{/manage/download}" target="content"><i
                                    class="fa fa-download"></i> 下载</a>
                        </li>
                        <!--<li>-->
                        <!--<a href="contents/product.html" th:href="@{/manage/product}" target="content"><i class="fa fa-product-hunt"></i> 产品</a>-->
                        <!--</li>-->
                    </ul>
                </li>
                <li>
                    <a href="category/index.html" th:href="@{/manage/category}" target="content"><i
                            class="fa fa-bars"></i> <span>数据源</span></a>
                </li>
            </ul>

            <div class="infosummary">
                <h5 class="sidebartitle">概要</h5>
                <ul>
                    <li>
                        <div class="datainfo">
                            <span class="text-muted">站点数量</span>
                            <h4>630, 201</h4>
                        </div>
                        <div id="sidebar-chart" class="chart"></div>
                    </li>
                    <li>
                        <div class="datainfo">
                            <span class="text-muted">内容数量</span>
                            <h4>1, 332, 801</h4>
                        </div>
                        <div id="sidebar-chart2" class="chart"></div>
                    </li>
                </ul>
            </div><!-- infosummary -->

        </div><!-- leftpanelinner -->
    </div><!-- leftpanel -->

    <div class="mainpanel">

        <div class="headerbar">

            <a class="menutoggle"><i class="fa fa-bars"></i></a>

            <!--<form class="searchform" action="index.html" method="post">-->
            <!--<input type="text" class="form-control" name="keyword" placeholder="Search here..."/>-->
            <!--</form>-->

            <div class="header-right">
                <ul class="headermenu">
                    <li>
                        <div class="btn-group">
                            <button class="btn btn-default dropdown-toggle tp-icon site-dropdown"
                                    data-toggle="dropdown">
                                <i class="glyphicon glyphicon-list"></i>
                                <span id="currentSiteSpan"
                                      th:text="${manageSite==null?'请选择操作站点':manageSite.name}">我的站点</span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-head pull-right">
                                <h5 class="title">选择站点进行操作</h5>
                                <ul class="dropdown-list user-list site-list">
                                    <!--/*@thymesVar id="siteSet" type="java.lang.Iterable<com.huotu.hotcms.service.entity.Site>"*/-->
                                    <li class="new" th:each="site:${siteSet}">
                                        <!--<div class="thumb"></a>-->
                                        <!--</div>-->
                                        <div class="desc">
                                            <h5><a href="#"
                                                   target="_top"
                                                   class="siteSwitcher"
                                                   th:href="@{/manage/main(site=${site.siteId})}"
                                                   th:text="${site.name}">
                                                站点1
                                            </a>
                                                <!--<span class="badge badge-success">new</span>-->
                                            </h5>
                                        </div>
                                    </li>
                                    <li class="new" th:remove="all">
                                        <!--<div class="thumb"></a>-->
                                        <!--</div>-->
                                        <div class="desc">
                                            <h5><a href="#"
                                                   target="_top"
                                                   class="siteSwitcher">
                                                站点2
                                            </a>
                                                <!--<span class="badge badge-success">new</span>-->
                                            </h5>
                                        </div>
                                    </li>
                                    <li class="new">
                                        <a href="site/index.html" th:href="@{/manage/site}" target="content">
                                            查看所有站点</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <img src="http://resali.huobanplus.com/cdn/bracket/images/photos/loggeduser.png"
                                     alt=""/>
                                <span th:text="${#authentication.name}">某个商户</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                                <li><a href="http://www.huobanplus.com/"><i class="fa fa-envelope-o"></i> 联系我们</a></li>
                                <!--<li><a href="../decoration/decorated.html"-->
                                <!--th:href="@{/manage/main/decorated(scope=shop)}"><i-->
                                <!--class="glyphicon glyphicon-wrench"></i> 店铺装修</a></li>-->
                                <!--<li><a href="../decoration/decorated.html"-->
                                <!--th:href="@{/manage/main/decorated(scope=website)}"><i class="fa fa-laptop"></i>-->
                                <!--官网装修</a></li>-->
                                <li><a href="#"><i class="glyphicon glyphicon-question-sign"></i> 帮助</a></li>
                                <li><a href="main.html" th:href="@{${mallManageUrl}}"><i
                                        class="fa fa-home"></i> 伙伴商城</a>
                                </li>
                                <li><a href="main.html" th:href="@{${logout}}"><i
                                        class="glyphicon glyphicon-log-out"></i> 注销</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div><!-- header-right -->

        </div><!-- headerbar -->

        <iframe id="content" name="content" frameborder="0"
                scrolling="auto">
        </iframe>

    </div><!-- mainpanel -->

    <div class="rightpanel">
    </div><!-- rightpanel -->


</section>
<script src="http://resali.huobanplus.com/cdn/bracket/js/jquery-1.10.2.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/bracket/js/jquery-migrate-1.2.1.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/bracket/js/jquery-ui-1.10.3.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/bracket/js/bootstrap.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/bracket/js/modernizr.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/bracket/js/jquery.sparkline.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/bracket/js/toggles.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/bracket/js/retina.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/bracket/js/jquery.cookies.js"></script>
<script src="http://resali.huobanplus.com/cdn/bracket/js/flot/flot.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/bracket/js/flot/flot.resize.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/bracket/js/morris.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/bracket/js/raphael-2.1.0.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/bracket/js/jquery.datatables.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/bracket/js/chosen.jquery.min.js"></script>
<script src="../../public/bracket/js/iframe_custom.js" ewp:src="/bracket/js/iframe_custom.js"></script>
<!--gritter-->
<script src="http://resali.huobanplus.com/cdn/bracket/js/jquery.gritter.min.js"></script>
<!--<script src="http://resali.huobanplus.com/cdn/bracket/js/jquery.util.js"></script>-->
<link href="http://resali.huobanplus.com/cdn/bracket/css/jquery.gritter.css" rel="stylesheet" property=""/>
<script src="../../public/bracket/js/gritter.js" ewp:src="/bracket/js/gritter.js"></script>

<!--共享的文件上传模板-->
<script type="text/template" id="qq-template">
    <div class="qq-uploader-selector qq-uploader" qq-drop-area-text="拖拽至此">
        <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
            <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                 class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
        </div>
        <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
            <span class="qq-upload-drop-area-text-selector"></span>
        </div>
        <div class="qq-upload-button-selector qq-upload-button">
            <div>选择文件</div>
        </div>
            <span class="qq-drop-processing-selector qq-drop-processing">
                <span>处理中</span>
                <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
            </span>
        <ul class="qq-upload-list-selector qq-upload-list" aria-live="polite" aria-relevant="additions removals">
            <li>
                <div class="qq-progress-bar-container-selector">
                    <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                         class="qq-progress-bar-selector qq-progress-bar"></div>
                </div>
                <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                <img class="qq-thumbnail-selector" qq-max-size="100" qq-server-scale>
                <span class="qq-upload-file-selector qq-upload-file"></span>
                <span class="qq-upload-size-selector qq-upload-size"></span>
                <button type="button" class="qq-btn qq-upload-cancel-selector qq-upload-cancel">取消</button>
                <button type="button" class="qq-btn qq-upload-retry-selector qq-upload-retry">重试</button>
                <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">删除</button>
                <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
            </li>
        </ul>

        <dialog class="qq-alert-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">关闭</button>
            </div>
        </dialog>

        <dialog class="qq-confirm-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">否</button>
                <button type="button" class="qq-ok-button-selector">是</button>
            </div>
        </dialog>

        <dialog class="qq-prompt-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <input type="text">
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">取消</button>
                <button type="button" class="qq-ok-button-selector">确定</button>
            </div>
        </dialog>
    </div>
</script>
<script th:inline="javascript">
    $.prototypesMode = /*[[${false}]]*/true;
    $.imageUploaderUrl = /*[[@{/manage/upload/image}]]*/ null;
    $.cmsUploaderUrl = /*[[@{/manage/upload/fine}]]*/ null;
    $.testMode = /*[[${@environment.acceptsProfiles('test')}]]*/ true;
    $.language = 'zh-cn'; // TODO 在获取站点信息之前语言还不明朗
</script>
<!--/*@thymesVar id="_primary" type="java.lang.String"*/-->
<!--/*@thymesVar id="_info" type="java.lang.String"*/-->
<!--/*@thymesVar id="_danger" type="java.lang.String"*/-->
<!--/*@thymesVar id="_warning" type="java.lang.String"*/-->
<!--/*@thymesVar id="_success" type="java.lang.String"*/-->
<script th:inline="javascript" th:if="${_primary!=null}">
    $(function () {
        var message = /*[[${_primary}]]*/'原型测试重要信息(不会出现在应用中)';
        showPrimary('重要', message);
    });
</script>
<script th:inline="javascript" th:if="${_info!=null}">
    $(function () {
        var message = /*[[${_info}]]*/'原型测试提示信息(不会出现在应用中)';
        showInfo('提示', message);
    });
</script>
<script th:inline="javascript" th:if="${_danger!=null}">
    $(function () {
        var message = /*[[${_danger}]]*/'原型测试错误信息(不会出现在应用中)';
        showDanger('错误', message);
    });
</script>
<script th:inline="javascript" th:if="${_warning!=null}">
    $(function () {
        var message = /*[[${_warning}]]*/'原型测试警告信息(不会出现在应用中)';
        showWarning('警告', message);
    });
</script>
<script th:inline="javascript" th:if="${_success!=null}">
    $(function () {
        var message = /*[[${_success}]]*/'原型测试成功信息(不会出现在应用中)';
        showSuccess('成功', message);
    });
</script>
<!--<script src="http://resali.huobanplus.com/cdn/bracket/js/dashboard.js"></script>-->
<script th:inline="javascript">
    /*<![CDATA[*/
    var siteSwitchUrl = /*[[@{/manage/switch/}]]*/ null;
    var testMode = /*[[${@environment.acceptsProfiles('test')}]]*/ true;
    $(function () {
        var firstUrl = /*[[@{/manage/site}]]*/ "site/index.html";
        var pageUrl = /*[[@{/manage/page}]]*/ "page/index.html";
        var useFirst = /*[[${manageSite==null}]]*/ true;

//        console.log('start open ' + firstUrl);
        if (useFirst)
            $('#content').attr('src', firstUrl);
        else
            $('#content').attr('src', pageUrl);

    });
    /*]]*/
</script>
<script src="../../public/js/jquery.no-in-frame.js" ewp:src="/js/jquery.no-in-frame.js"></script>

</body>
</html>
