<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <link  href="/assets/css/admin.content.css"  type="text/css" rel="stylesheet"/>
    <link  href="/assets/css/admin.global.css"  type="text/css" rel="stylesheet"/>
    <link  href="/assets/libs/treegrid/css/jquery.treegrid.css" type="text/css" rel="stylesheet">
    <script src="/assets/libs/treegrid/js/jquery.treegrid.js"></script>
    <script src="/assets/seajs/sea.js"></script>
    <script src="/assets/seajs/config.js"></script>
</head>

<body>
<!--<div class="search block">-->
        <!--<div class="h">-->
            <!--<span class="icon-sprite icon-magnifier"></span>-->
            <!--<h3>快速搜索</h3>-->
        <!--</div>-->
        <!--<div class="cnt-wp">-->
            <!--<div class="cnt">-->
                <!--<div class="search-bar">-->
                    <!--<label class="first ">栏目名称：</label>-->
                    <!--<input name="username" type="text" id="username" class="input-small" style="width: 200px;" placeholder=" 栏目名称">-->
                    <!--<label class="first ">注册日期：</label>-->
                    <!--<input name="txtCreateBegin" type="text" id="txtCreateBegin" placeholder=" [开始时间]" class="input-normal Wdate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false})">-->
                    <!--<input name="txtCreateEnd" type="text" id="txtCreateEnd" placeholder=" [结束时间]" class="input-normal Wdate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false,minDate:'#F{$dp.$D(\'txtCreateEnd\')}'})">-->
                    <!--<label><a class="btn-lit btn-middle" href="javascript:" style="margin-bottom: 3px;"><span>搜索</span></a></label>-->
                    <!--<label><a class="btn-lit btn-middle" href="javascript:" style="margin-bottom: 3px;"><span>显示所有</span></a></label>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
<!--</div>-->
<!--<div class="block">-->
    <!--<div class="h">-->
        <!--<span class="icon-sprite icon-list"></span>-->
        <!--<h3 style="float: left; width: 144px;">地区列表</h3>-->
    <!--</div>-->
    <div class="cnt">
        <table class="data-table even1" width="100%" border="0" cellspacing="0" cellpadding="0">
            <thead>
            <tr class="even">
                <th scope="col">所属站点</th>
                <th scope="col">栏目名称</th>
                <th scope="col">系统数据类型</th>
                <th scope="col">操作</th>
            </tr>
            </thead>
        </table>
        <table class="tree">
            <tr th:each="category:${categoriesList}" th:class="${category.categoryClass}" >
                <td th:text="${category.siteId}"></td>
                <td scope="col" th:text="${category.name}==null?${category.siteName}:''"></td>
                <td scope="col" th:text="${category.name}== null ? '无': ${category.name}"></td>
                <td scope="col" th:text="${category.name}== null ? '无': ${category.modelType.getValue()}"></td>
                <td scope="col" th:text="${category.name}== null ? '无': ${category.Id}"></td>
                <td>增加</td><td>删除</td><td>修改</td>
            </tr>
        </table>

    </div>
<!--</div>-->
<script>seajs.use(["validate","message","categoryList","treegrid"]);</script>
</body>
</html>