<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
    <link  href="/assets/css/admin.content.css"  type="text/css" rel="stylesheet"/>
    <link  href="/assets/css/admin.global.css"  type="text/css" rel="stylesheet"/>
    <script src="/assets/seajs/sea.js"></script>
    <script src="/assets/seajs/config.js"></script>
</head>
<body>
<div class="search block">
    <div class="h">
        <span class="icon-sprite icon-magnifier"></span>
        <h3>快速搜索</h3>
    </div>
<div class="cnt-wp">
    <div class="cnt">
        <div class="search-bar">
            <label class="first ">栏目名称：</label>
            <input name="username" type="text" id="username" class="input-small" style="width: 200px;" placeholder=" 栏目名称">
            <label class="first ">注册日期：</label>
            <input name="txtCreateBegin" type="text" id="txtCreateBegin" placeholder=" [开始时间]" class="input-normal Wdate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false})">
            <input name="txtCreateEnd" type="text" id="txtCreateEnd" placeholder=" [结束时间]" class="input-normal Wdate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false,minDate:'#F{$dp.$D(\'txtCreateEnd\')}'})">
            <label><a class="btn-lit btn-middle" href="javascript:" style="margin-bottom: 3px;"><span>搜索</span></a></label>
            <label><a class="btn-lit btn-middle" href="javascript:" style="margin-bottom: 3px;"><span>显示所有</span></a></label>
        </div>
    </div>
</div>
    </div>
</body>
</html>