<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link  href="/assets/css/admin.content.css"  type="text/css" rel="stylesheet"/>
    <link  href="/assets/css/admin.global.css"  type="text/css" rel="stylesheet"/>
    <link  href="/assets/css/global.css"  type="text/css" rel="stylesheet"/>
    <link href="/assets/libs/layer/skin/layer.css" rel="stylesheet"/>
    <script src="/assets/seajs/sea.js" type="application/javascript"></script>
    <script src="/assets/seajs/config.js" type="application/javascript"></script>
</head>
<body>
<div class="block">
    <div class="h">
        <span class="icon-sprite icon-list"></span>
        <h3>添加文章</h3>
        <div class="bar">
            <a class="btn-lit" th:href="@{/article/articleList?customerid={customerid}(customerid=${user.customerId})}" target="content">
                <span>返回文章管理列表</span></a>
        </div>
    </div>
    <div class="cnt-wp">
        <form method="post" id="addArticleForm">
            <div class="cnt form">
                <div class="division">
                    <input type="hidden" name="hidArticleID" id="hidArticleID" >
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                        <tr>
                            <th>文章标题：</th>
                            <td>
                                <input name="title" type="text" id="title" maxlength="50" class="input-normal" >
                            </td>
                        </tr>
                        <tr>
                            <th>文章缩略图：</th>
                            <td>
                                <div id="uploadpicCover" style="width: 80px; height: 80px; border: 1px solid #ccc; float: left; background: #efefef; line-height: 80px; text-align: center; color: #ccc;"><img src="#" style="width:80px;height:80px;"></div>

                                <div style="margin-left: 10px; float: left; line-height: 80px;">
                                    <a id="uploadpic" class="btn-lit jUploader-button" href="#" style="cursor: pointer; position: relative; overflow: hidden; direction: ltr;"><span style="color: #c1b3a9">上传</span>
                                        <input type="file" onchange="this.blur();" id="jUploader-file1" name="jUploaderFile" style="position: absolute; right: 0px; top: 0px; margin: 0px; opacity: 0; padding: 0px; font-family: Arial; font-size: 118px; vertical-align: baseline; cursor: pointer;"></a>
                                    <span style="color: #f00">*</span>      必填
                                    <span style="color: #ccc;">建议大小：300*300</span>
                                </div>
                                <!--<input name="txtReplyUrl1" type="hidden" id="txtReplyUrl1" value="/resource/images/wechat/mall_cat_def.png">-->
                                <!--<img id="img_photo" th:src="${logoUri}" src="images/logo.png" style="width: 100px; height: auto;"/><input name="logoUri" id="logoUri" type="file"/>-->

                            </td>
                        <tr>
                            <th>文章描述：</th>
                            <td>
                                <input name="description" type="text" id="description" maxlength="50" class="input-normal" >
                            </td>
                        </tr>
                        <tr>
                            <th>文章作者：</th>
                            <td>
                                <input name="author" type="text" id="author" maxlength="50" class="input-normal" >
                            </td>
                        </tr>
                        <tr>
                            <th>文章来源：</th>
                            <td>
                                <select name="articleSource" class="input-normal" id="articleSource">
                                    <option value="-1">==请选择来源==</option>
                                    <option value="0">转载</option>
                                    <option value="1">原创</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>文章内容：</th>
                            <td>
                                <textarea rows="" cols="" style="width: 250px; height: 60px;" class="input-normal" id="content" name="content" ></textarea>
                            </td>
                        </tr>
                        <tr>
                            <th>所属栏目：</th>
                            <td>
                                <select name="categoryId" class="input-normal" id="categoryId">
                                    <option value="-1">==请选择栏目==</option>
                                    <option th:each="category:${categorys}" th:value="${category.id}" th:text="${category.name}"></option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>排序权重：</th>
                            <td>
                                <input name="orderWeight" type="text" id="orderWeight" value="50" class="input-normal" placeholder="请输入排序权重">
                                <span style="color:#ccc;">数字越大排越前面</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div style="text-align: center;">
                    <input type="submit" class="btn-lit" name="btnSave"  value="保存" data-submiting-text="提交中..." data-text="保存" id="jq-cms-Save">
                </div>
            </div>
        </form>
    </div>
</div>
<script>seajs.use(["validate","message","addArticle"]);</script>
</body>
</html>