<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link  href="/assets/css/admin.content.css"  type="text/css" rel="stylesheet"/>
    <link  href="/assets/css/admin.global.css"  type="text/css" rel="stylesheet"/>
    <link  href="/assets/css/global.css"  type="text/css" rel="stylesheet"/>
    <link href="/assets/libs/layer/skin/layer.css" rel="stylesheet"/>
    <link href="/assets/libs/upload/JUpload.css" rel="stylesheet"/>
    <script src="/assets/seajs/sea.js" type="application/javascript"></script>
    <script src="/assets/seajs/config.js" type="application/javascript"></script>
</head>
<body>
<div class="block">
    <div class="h">
        <span class="icon-sprite icon-list"></span>
        <h3>添加内容</h3>
        <div class="bar">
            <a class="btn-lit" th:href="@{/contents/contentsList?customerid={customerid}(customerid=${customerId})}" target="content">
                <span>返回内容管理列表</span></a>
        </div>
    </div>
    <div class="cnt-wp">
                    <input type="hidden" name="hidLinkID" id="hidLinkID" >
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                        <tr>
                            <th>所属栏目：</th>
                            <td>
                                <select name="categoryId" class="input-normal" id="categoryId">
                                    <option value="-1">==请选择栏目==</option>
                                    <option th:each="category:${categorys}" th:value="${category.id}" th:attr="data-modelType=${category.modelId}" th:text="${category.name}"></option>
                                </select>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div id="widget"></div>
                <!--<div style="text-align: center;">-->
                    <!--<input type="submit" class="btn-lit" name="btnSave"  value="保存" data-submiting-text="提交中..." data-text="保存" id="jq-cms-Save">-->
                <!--</div>-->
    </div>
</div>
<script>seajs.use(["validate","message","addContents","layer"]);</script>
</body>
</html>