﻿<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<meta charset="utf-8">
<meta name="description" th:content="${site.description}"/>
<meta name="keywords" th:content="${site.keywords}"/>
<meta property="qc:admins" content="2336157637605721604536375" />
<title th:text="${site.title}"></title>
<link rel="stylesheet" type="text/css" href="css/common.css" th:href="@{${request.root}+'/css/common.css'}"/>
<link rel="stylesheet" type="text/css" href="css/huobanj.css" th:href="@{${request.root}+'/css/huobanj.css'}"/>
<link rel="Shortcut Icon" href="/favicon.ico" th:href="@{${request.root}+'/favicon.ico'}"/>
<script src="http://t.cn/RGSQSu4"></script>
<script type="text/javascript" src="js/jquery1.42.min.js"
            th:src="@{${request.root}+'/js/jquery1.42.min.js'}"></script>
<script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"
            th:src="@{${request.root}+'/js/jquery.SuperSlide.2.1.1.js'}"></script>
<script type="text/javascript" src="js/carouFredSel.js" th:src="@{${request.root}+'/js/carouFredSel.js'}"></script>
</head>
<body>
<div class="huobanjiagw">
<!--导航栏-->

<div style="background-color:#343434;">
  <div class="headeri" id="header">
    <div class="headlogo">
      <a th:href="${request.rootUri}+'/'">
      <img style="width:80%" src="/images/logo.png" th:src="@{${request.root}+'/images/logo.png'}"
                         class="logoimgi"/>
      </a>
    </div>
    <ul class="navi">
      <li>
        <a th:href="@{${request.rootUri}+'/'}" title="首页">
        首页
        </a>
      </li>
      <li class="nav_menu_li_1" style="margin-left: -12px;">
        <a style="padding: 0px 10px;" href="#" title="产品/服务">
        产品/服务
        </a>
        <div class="sub-nav">
          <a href="" th:href="@{${request.rootUri}+'/mall'}" title="伙伴商城">
          伙伴商城
          </a>
          <a href="" th:href="@{${request.rootUri}+'/operator'}" title="代运营">
          代运营
          </a>
          <a href="" th:href="@{${request.rootUri}+'/mad'}" title=" 伙伴MAD">
          伙伴MAD
          </a>
          <a href="http://www.huobanj.com/pc/index" target="_blank" title="云商学院">
          云商学院
          </a>
        </div>
      </li>
      <li style="    margin-left: 17px;">
        <a href="" th:href="@{${request.rootUri}+'/case'}" title="客户案例">
        客户案例
        </a>
      </li>
      <li>
        <a href="" th:href="@{${request.rootUri}+'/proxy'}" title="加盟代理">
        加盟代理
        </a>
      </li>
      <li class="nav_menu_li_1">
        <a href="" th:href="@{${request.rootUri}+'/'}" title="关于我们">
        关于我们
        </a>
        <div class="sub-nav">
          <a href="" th:href="@{${request.rootUri}+'/news'}" title="火图新闻">
          火图新闻
          </a>
          <a href="" th:href="@{${request.rootUri}+'/process'}" title="火图历程">
          火图历程
          </a>
          <a href="" th:href="@{${request.rootUri}+'/job'}" title="火图招聘">
          火图招聘
          </a>
        </div>
      </li>
      <li class="nav_menu_li_1">
        <a th:href="@{${request.rootUri}+'/'}" title="火图招聘">
        帮助中心
        </a>
        <div class="sub-nav">
          <a href="" th:href="@{${request.rootUri}+'/questionlist'}" title="火图招聘">
          产品问答
          </a>
          <a href="" th:href="@{${request.rootUri}+'/operate'}" title="操作指南">
          操作指南
          </a>
          <a href="http://p.qiao.baidu.com//im/index?siteid=8042773&ucid=18719853&qq-pf-to=pcqq.c2c"
                           target="_blank" title="火图论坛">
          咨询客服
          </a>
          <a href="" th:href="@{${request.rootUri}+'/contact'}" title="联系我们">
          联系我们
          </a>
        </div>
      </li>
      <!--<li>-->
        <!--<a href="http://tieba.baidu.com/f?kw=%BB%F0%CD%BC%BF%C6%BC%BC&fr=ala0&tpl=5&qq-pf-to=pcqq.c2c"-->
                       <!--target="_blank" title="火图论坛">-->
        <!--火图论坛-->
        <!--</a>-->
      <!--</li>-->
      <li class="zc" style="display:none">
        <a href="http://login.huobanplus.com/register.html?bdclick=1" target="_blank" title="注册">
        注册
        </a>
      </li>
      <li class="dl">
        <a href="http://login.huobanplus.com/" target="_blank" title="登录">
        登录
        </a>
      </li>
    </ul>
  </div>
</div>
<!--导航栏end-->

<p style="clear:both">
</p>
<!--banner轮播-->
<div class="hb-bigbox-b">
  <div class="fullSlide">
    <div class="bd">
      <ul>
        <li>
          <a href="http://login.huobanplus.com/" target="_blank"
                           th:style="'background:url('+${request.root}+'/images/banner7.jpg) 50% 0px no-repeat;  position: absolute; width: 100%; height: 100%;'">
          </a>
        </li>
        <li>
          <a th:href="${request.rootUri}+'/mad'"
                           th:style="'background:url('+${request.root}+'/images/banner1.jpg) 50% 0px no-repeat;  position: absolute; width: 100%; height: 100%;'">
          </a>
        </li>
        <li>
          <a th:href="${request.rootUri}+'/operator'"
                           th:style="'background:url('+${request.root}+'/images/banner2.jpg) 50% 0px no-repeat;  position: absolute; width: 100%; height: 100%;'">
          </a>
        </li>
        <li>
          <a th:href="${request.rootUri}+'/mall'"
                           th:style="'background:url('+${request.root}+'/images/banner3.jpg) 50% 0px no-repeat;  position: absolute; width: 100%; height: 100%;'">
          </a>
        </li>
        <li>
          <a th:href="${request.rootUri}+'/mad'"
                           th:style="'background:url('+${request.root}+'/images/banner4.jpg) 50% 0px no-repeat;  position: absolute; width: 100%; height: 100%;'">
          </a>
        </li>
        <li>
          <a th:href="${request.rootUri}+'/proxy'"
                           th:style="'background:url('+${request.root}+'/images/banner5.jpg) 50% 0px no-repeat;  position: absolute; width: 100%; height: 100%;'">
          </a>
        </li>
        <li>
          <a href="http://www.huobanj.com" target="_blank"
                           th:style="'background:url('+${request.root}+'/images/banner6.jpg) 50% 0px no-repeat;  position: absolute; width: 100%; height: 100%;'">
          </a>
        </li>
      </ul>
    </div>
    <div class="hd">
      <ul>
      </ul>
    </div>
  </div>
</div>
<!--banner轮播end-->
<div>
  <!--公告end-->
  <div style="width:1000px; background-color:#f7f7f7; margin:0 auto">
    <!--客户-->
    <!--公告-->
    <div class="boxiioo" style="height:30px; line-height:30px;" data-article-foreach="article"
                 data-param-categoryid="37" data-param-pagesize="1">
      <div class="zxgg font14 center">
        <p>
          <i></i>公告：
          <a data-th-href="${request.rootUri}+'/news/'+${article.id}+'.html'">
          <span style=" z-index: 1" data-th-text="${article.title}">
          云商学院《赢在微商》品牌课程回馈老客户
          </span>
          </a>
        </p>
      </div>
    </div>
    <!--我们的客户大牌云集-->
    <div class="boxiioo">
      <div class="notice_customers">
        <div class="hb">
          <div class="slideGroup">
            <div class="customers">
              <p style="float: left; width: 100%">
                <img src="images/wz.png"
                                                                         th:src="${request.root}+'/images/wz.png'">
              </p>
            </div>
            <div class="parBd">
              <div class=" df slideBox ">
                <a class="sPrev" href="javascript:void(0)">
                </a>
                <ul th:remove="all-but-first">
                  <li class="" data-article-foreach="article" data-param-categoryid="45"
                                            data-param-pagesize="100">
                    <div class="pic"><img th:src="${article.thumbUri}"/></div>
                  </li>
                  <li class="" data-article-foreach="article" data-param-categoryid="45">
                    <div class="pic"><img th:src="${article.thumbUri}"/></div>
                  </li>
                  <li class="" data-article-foreach="article" data-param-categoryid="45">
                    <div class="pic"><img th:src="${article.thumbUri}"/></div>
                  </li>
                  <li class="" data-article-foreach="article" data-param-categoryid="45">
                    <div class="pic"><img th:src="${article.thumbUri}"/></div>
                  </li>
                  <li class="" data-article-foreach="article" data-param-categoryid="45">
                    <div class="pic"><img th:src="${article.thumbUri}"/></div>
                  </li>
                  <li class="" data-article-foreach="article" data-param-categoryid="45">
                    <div class="pic"><img th:src="${article.thumbUri}"/></div>
                  </li>
                  <li class="" data-article-foreach="article" data-param-categoryid="45">
                    <div class="pic"><img th:src="${article.thumbUri}"/></div>
                  </li>
                  <li class="" data-article-foreach="article" data-param-categoryid="45">
                    <div class="pic"><img th:src="${article.thumbUri}"/></div>
                  </li>
                  <li class="" data-article-foreach="article" data-param-categoryid="45">
                    <div class="pic"><img th:src="${article.thumbUri}"/></div>
                  </li>
                  <li class="" data-article-foreach="article" data-param-categoryid="45">
                    <div class="pic"><img th:src="${article.thumbUri}"/></div>
                  </li>
                </ul>
                <a class="sNext" href="javascript:void(0)">
                </a>
              </div>
              <!-- slideBox End -->
              
            </div>
            <!-- parBd End -->
          </div>
        </div>
      </div>
    </div>
    <p style="clear: both">
    </p>
    <!--我们的客户大牌云集end-->
    
    <p class="height10">
    </p>
    <!--客户end-->
    <p class="hbjx_bt">
      产品展示
    </p>
    <div class="hbj_hximg">
      <ul>
        <li class="hbj_pone" data-link-foreach="link" data-param-categoryid="44" data-param-pagesize="4">
          <a th:href="${link.linkUrl}">
          <img th:src="${link.thumbUri}" th:alt="${link.title}"/>
          </p>
          <p class="hbj_ysmf" th:text="${link.title}">
            伙伴商城
          </p>
          <p class="hbj_ysmft" th:text="${link.description}">
            三网合一移动电商体系
          </p>
          </a>
        </li>
        <a href="daiyunyin.html" data-th-remove="all">
        <li class="hbj_pone">
          <img src="/images/hbj0002.png" style="width:97px; text-align:center"
                                 th:alt="${link.title}"/>
          </p>
          <p class="hbj_ysmf">
            代运营
          </p>
          <p class="hbj_ysmft">
            专注全方位的打包运营
          </p>
        </li>
        </a>
        <a href="mad.html" data-th-remove="all">
        <li class="hbj_pone">
          <img src="/images/hbj0004.png" style="width:97px; text-align:center"
                                 th:alt="${link.title}"/>
          </p>
          <p class="hbj_ysmf">
            伙伴MAD
          </p>
          <p class="hbj_ysmft">
            有销售力的移动广告
          </p>
        </li>
        </a>
        <a href="http://www.huobanj.com/pc/index" data-th-remove="all" target="_blank">
        <li class="hbj_pone">
          <img src="/images/hbj0003.png" style="width:97px; text-align:center"
                                 th:alt="${link.title}"/>
          </p>
          <p class="hbj_ysmf">
            云商学院
          </p>
          <p class="hbj_ysmft">
            专业微商人才输出平台
          </p>
        </li>
        </a>
        <p style="clear:both;">
        </p>
      </ul>
    </div>
    <p class="height10">
    </p>
    
    <!--热门-->
    
    <div class="hbjx" style="height: 428px;">
      <p class="hbjx_bt">
        热门微应用
      </p>
      <div class="hbj_ztk">
        <ul>
          <li data-link-foreach="link" data-param-categoryid="47" data-param-size="10">
            <a href="">
            <div>
              <p>
                <img th:src="${link.thumbUri}" th:alt="${link.title}"/>
              </p>
              <p class="hbj_zt" th:text="${link.title}">
                微推广
              </p>
              <p class="hbjx_zp" th:text="${link.description}">
                软文、图文任你挑 推广无压力
              </p>
              </p>
            </div>
            </a>
          </li>
          <li data-th-remove="all">
            <div>
              <img src="images/hbj2000.png"/>
              </p>
              <p class="hbj_zt">
                消息通知
              </p>
              <p class="hbjx_zp">
                后台实时提醒 保证面面俱到
              </p>
            </div>
          </li>
          <li data-th-remove="all">
            <div>
              <img src="images/hbj2000.png"/>
              </p>
              <p class="hbj_zt">
                消息通知
              </p>
              <p class="hbjx_zp">
                后台实时提醒 保证面面俱到
              </p>
            </div>
          </li>
          <li data-th-remove="all">
            <div>
              <img src="images/hbj2000.png"/>
              </p>
              <p class="hbj_zt">
                消息通知
              </p>
              <p class="hbjx_zp">
                后台实时提醒 保证面面俱到
              </p>
            </div>
          </li>
          <li data-th-remove="all">
            <div>
              <img src="images/hbj2000.png"/>
              </p>
              <p class="hbj_zt">
                消息通知
              </p>
              <p class="hbjx_zp">
                后台实时提醒 保证面面俱到
              </p>
            </div>
          </li>
          <li data-th-remove="all">
            <div>
              <img src="images/hbj2000.png"/>
              </p>
              <p class="hbj_zt">
                消息通知
              </p>
              <p class="hbjx_zp">
                后台实时提醒 保证面面俱到
              </p>
            </div>
          </li>
          <li data-th-remove="all">
            <div>
              <img src="images/hbj2000.png"/>
              </p>
              <p class="hbj_zt">
                消息通知
              </p>
              <p class="hbjx_zp">
                后台实时提醒 保证面面俱到
              </p>
            </div>
          </li>
          <li data-th-remove="all">
            <div>
              <img src="images/hbj2000.png"/>
              </p>
              <p class="hbj_zt">
                消息通知
              </p>
              <p class="hbjx_zp">
                后台实时提醒 保证面面俱到
              </p>
            </div>
          </li>
          <li data-th-remove="all">
            <div>
              <img src="images/hbj2000.png"/>
              </p>
              <p class="hbj_zt">
                消息通知
              </p>
              <p class="hbjx_zp">
                后台实时提醒 保证面面俱到
              </p>
            </div>
          </li>
          <li data-th-remove="all">
            <div>
              <img src="images/hbj2000.png"/>
              </p>
              <p class="hbj_zt">
                消息通知
              </p>
              <p class="hbjx_zp">
                后台实时提醒 保证面面俱到
              </p>
            </div>
          </li>
        </ul>
      </div>
      </ul>
    </div>
    <p style="clean:both;">
    </p>
    <p class="height10">
    </p>
    <p style="clean:both;">
      <!--热门end-->
      <!--客户商城案例-->
      
    <div>
      <p class="hbjx_bt">
        商城案例展示
      </p>
      <div class="list_carousel">
        <div class="caroufredsel_wrapper"
                         style="display: block; text-align: start; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 1000px; height: 280px; margin: 0px; overflow: hidden;">
          <ul id="foo2" data-th-remove="all-but-first"
                            style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 1000px; height: 280px; z-index: auto; ">
            <li data-link-foreach="link" data-param-categoryid="50" data-param-size="40">
              <a th:href="${link.linkUrl}" th:title="${link.title}">
              <img th:src="${link.thumbUri}">
              </a>
            </li>
            <li>
              <a href="javascript:void(0);">
              <img src="images/cy01.png"/>
              </a>
            </li>
            <li>
              <a href="javascript:void(0);">
              <img src="images/fh01.png"/>
              </a>
            </li>
            <li>
              <a href="javascript:void(0);">
              <img src="images/ym01.png"/>
              </a>
            </li>
            <li>
              <a href="javascript:void(0);">
              <img src="images/cm01.png"/>
              </a>
            </li>
            <li>
              <a href="javascript:void(0);">
              <img src="images/fj01.png"/>
              </a>
            </li>
            <li>
              <a href="javascript:void(0);">
              <img src="images/ws01.png"/>
              </a>
            </li>
            <li>
              <a href="javascript:void(0);">
              <img src="images/yc01.png"/>
              </a>
            </li>
            <li>
              <a href="javascript:void(0);">
              <img src="images/ju01.png"/>
              </a>
            </li>
            <li>
              <a href="javascript:void(0);">
              <img src="images/ol01.png"/>
              </a>
            </li>
            <li>
              <a href="javascript:void(0);">
              <img src="images/blc01.png"/>
              </a>
            </li>
            <li>
              <a href="javascript:void(0);">
              <img src="images/kl01.png"/>
              </a>
            </li>
            <li>
              <a href="javascript:void(0);">
              <img src="images/bl01.png"/>
              </a>
            </li>
            <li>
              <a href="javascript:void(0);">
              <img src="images/hc01.png"/>
              </a>
            </li>
            <li>
              <a href="javascript:void(0);">
              <img src="images/ky01.png"/>
              </a>
            </li>
            <li>
              <a href="javascript:void(0);">
              <img src="images/bs01.png"/>
              </a>
            </li>
            <li>
              <a href="javascript:void(0);">
              <img src="images/dh01.png"/>
              </a>
            </li>
            <li>
              <a href="javascript:void(0);">
              <img src="images/dg01.png"/>
              </a>
            </li>
          </ul>
        </div>
        <div class="clearfix"></div>
        <a id="prev2" class="prev" href="#" style="display: block;">
        </a>
        <a id="next2" class="next" href="#" style="display: block;">
        </a>
      </div>
    </div>
    <p class="height10">
    </p>
    
    <!--客户商城案例end-->
    
    <!--轻松玩转-->
    
    <div style="margin-bottom:60px;">
      <p class="hbjx_bt">
        轻松玩转微商城
      </p>
      <div class="hbj_hximggg">
        <img class="hbj_tu" th:src="@{${request.root}+'/images/j003.png'}"/>
      </div>
      <div class="index_ww" style=" height:117px;">
        <ul>
          <li style=" margin-left:103px; ">
            <a th:href="@{${request.rootUri}+'/operate'}">
            <p>
              申请认证微信服务号
            </p>
            </a>
            <a th:href="@{${request.rootUri}+'/operate'}">
            <p>
              注册搭建伙伴商城
            </p>
            </a>
            <a th:href="@{${request.rootUri}+'/operate'}">
            <p>
              完成商城基本设置
            </p>
            </a>
            <a th:href="@{${request.rootUri}+'/operate'}">
            <p>
              启动云代理体系
            </p>
            </a>
          </li>
          <li style=" margin-left:97px;  margin-right: 84px;">
            <a th:href="@{${request.rootUri}+'/operate'}">
            <p>
              ERP系统对接服务
            </p>
            </a>
            <a th:href="@{${request.rootUri}+'/operate'}">
            <p>
              商城首页的UI设计
            </p>
            </a>
            <a th:href="@{${request.rootUri}+'/operate'}">
            <p>
              商城私人定制模板
            </p>
            </a>
            <a th:href="@{${request.rootUri}+'/operate'}">
            <p>
              50款产品基础信息录入
            </p>
            </a>
          </li>
          <li style=" margin-left: 20px;  margin-right: 20px;">
            <a th:href="@{${request.rootUri}+'/operate'}">
            <p>
              列表形式存储归纳
            </p>
            </a>
            <a th:href="@{${request.rootUri}+'/operate'}">
            <p>
              售后进度及时发送
            </p>
            </a>
            <a th:href="@{${request.rootUri}+'/operate'}">
            <p>
              发出提现申请
            </p>
            </a>
            <a th:href="@{${request.rootUri}+'/operate'}">
            <p>
              生成收款结算报表
            </p>
            </a>
          </li>
        </ul>
      </div>
      <p style="clean:both">
      </p>
    </div>
    <div class="hbj_xxx">
    </div>
  </div>
  <p style="clear:both;">
  </p>
  
  <!--轻松玩转end-->
  
</div>

<!--底部-->
<div style="background-color:#343434; height:140px; padding-right:50px;  ">
  <div class="headeri" id="footer">
    <div style="width:140px; background-color:#fff; height:auto; position: fixed;z-index:999;top:50%; margin-top:-191px;right:0px;">
      <img style="width:140px; display:block;" src="images/xx01.jpg"  th:src="@{${request.root}+'/images/xx01.jpg'}" />
      <a target="_blank" href="http://p0.qiao.baidu.com//im/index?siteid=8042773&ucid=18719853&lastsubid=&from=%E6%B5%99%E6%B1%9F%E6%9D%AD%E5%B7%9E&bid=c3113d90d898abe25455b5ba&subid=1538089&chattype=1&subname=%E5%AE%A2%E6%9C%8D001&groupid=0&groupname=%E4%B8%9A%E5%8A%A1%E5%92%A8%E8%AF%A2&ref=http%3A%2F%2Fwww.huobanplus.com%2F"  title=" 业务咨询">
      <img  id="iddd" style="width:140px;" src="images/xx02.jpg"  th:src="@{${request.root}+'/images/xx02.jpg'}" />
      </a>
      <a target="_blank" href="http://p9.qiao.baidu.com//im/index?siteid=8042773&ucid=18719853&lastsubid=1538089&from=%E6%B5%99%E6%B1%9F%E6%9D%AD%E5%B7%9E&bid=c3113d90d898abe25455b5ba&subid=1538092&chattype=1&subname=%E5%AE%A2%E6%9C%8D003&groupid=5&groupname=%E5%8A%A0%E7%9B%9F%E5%92%A8%E8%AF%A2&ref=http%3A%2F%2Fwww.huobanplus.com%2F"  title=" 加盟咨询">
      <img style="width:140px;display:block;" src="images/xx03.jpg"  th:src="@{${request.root}+'/images/xx03.jpg'}" />
      </a>
      <img   id="iidd" style="width:140px;  padding-bottom:5px;" src="images/xx04.jpg"  th:src="@{${request.root}+'/images/xx04.jpg'}" />
      <img style="width:140px; display:block;" src="images/xx05.jpg"  th:src="@{${request.root}+'/images/xx05.jpg'}" />
    </div>
    <div class="headlogo"><img style=" margin-top: 40px; margin-left:55px;width:100%"
                                       th:src="@{${request.root}+'/images/logoh.png'}" class="logoimgi"/></div>
    <div th:src="@{${request.root}+'/images/hbj_10.png'}" class="hbj_KK"></div>
    <div style="float:right; margin-top:10px;">
      <p class="hbj_ft">
        <a th:href="@{${request.rootUri}+'/'}" title="首页">
        <span class="hbj_foot">
        首页
        </span>
        </a>
        <a href="" th:href="@{${request.rootUri}+'/mall'}" title=" 客户案例">
        <span class="hbj_foot">
        伙伴商城
        </span>
        </a>
        <a href="" th:href="@{${request.rootUri}+'/operator'}" title=" 客户案例">
        <span class="hbj_foot">
        代运营
        </span>
        </a>
        <a href="" th:href="@{${request.rootUri}+'/mad'}" title="关于我们">
        <span class="hbj_foot">
        伙伴MAD
        </span>
        </a>
        <a href="http://www.huobanj.com" target="_blank" title="云商学院">
        <span class="hbj_foot">
        云商学院
        </span>
        </a>
        <a href="" th:href="@{${request.rootUri}+'/case'}" title=" 客户案例">
        <span class="hbj_foot">
        客户案例
        </span>
        </a>
        <a href="" th:href="@{${request.rootUri}+'/proxy'}" title="加盟代理">
        <span class="hbj_foot">
        加盟代理
        </span>
        </a>
        <a href="http://login.huobanplus.com/register.html?bdclick=1"
                       target="_blank" title="注册" style="display:none;">
        <span class="hbj_foot">
        注册
        </span>
        </a>
        <a href="http://login.huobanplus.com/" target="_blank" title="登录">
        <span class="hbj_foot">
        登录
        </span>
        </a>
      </p>
      <script src="http://stat.xiaonaodai.com/stat.php?id=18719853" language="JavaScript"
                        type="text/javascript"></script>
      <p class="hbj_ft hbj_ftas left-a">
        业务热线：400-1818-357
        <span>
        加盟热线：400-1008-013
        </span>
      </p>
      <p class="hbj_ft hbj_ftas left-a">
        公司地址： 杭州市滨江区阡陌路482号智慧e谷B幢4楼
      </p>
      <p class="hbj_ft hbj_ftas left-a" th:utext="${site.copyright}">
        Copyright©2013-2015.
        杭州火图科技有限公司,浙ICP备13027761号-5
      </p>
    </div>
    <script type="text/javascript"> var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F617d4b7f51d60dac130b04dc98807163' type='text/javascript'%3E%3C/script%3E")) </script>
  </div>
</div>
<!--底部结束-->

</body>
<script>
    /*
     SuperSlide组合注意：
     1、内外层mainCell、targetCell、prevCell、nextCell等对象不能相同，除非特殊应用；
     2、注意书写顺序，通常先写内层js调用，再写外层js调用
     */

    /* 内层图片滚动切换 */
    jQuery(".hb .slideGroup .slideBox").slide({
        mainCell: "ul",
        vis: 6,
        prevCell: ".sPrev",
        nextCell: ".sNext",
        effect: "leftLoop"
    });

    /* 外层tab切换 */
    jQuery(".hb .slideGroup").slide({titCell: ".parHd li", mainCell: ".parBd"});

    jQuery(".fullSlide").slide({
        titCell: ".hd ul",
        mainCell: ".bd ul",
        effect: "fold",
        autoPlay: true,
        autoPage: true,
        trigger: "click"
    });
    $(document).ready(function () {
        $('#foo2').carouFredSel({
            //auto: true,
            prev: '#prev2',
            next: '#next2',
            pagination: "#pager2",
            mousewheel: true,
            swipe: {
                onMouse: true,
                onTouch: true
            }
        });
    });

</script>
</html>
