<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<meta name="description" th:content="${site.description}"/>
<meta name="keywords" th:content="${site.keywords}"/>
<meta property="qc:admins" content="2336157637605721604536375" />
<title th:text="${site.title}"></title>
<link rel="stylesheet" type="text/css" href="css/common.css" th:href="@{${request.root}+'/css/common.css'}"/>
<link rel="Shortcut Icon" href="/favicon.ico" th:href="@{${request.root}+'/favicon.ico'}"/>
<link rel="stylesheet" type="text/css" href="css/gwgx.css" th:href="@{${request.root}+'/css/gwgx.css'}"/>
<link rel="stylesheet" type="text/css" href="css/video-js.css" th:href="@{${request.root}+'/css/video-js.css'}"/>
<script src="http://t.cn/RGSQSu4"></script>
<script type="text/javascript" src="js/jquery1.42.min.js"
            th:src="@{${request.root}+'/js/jquery1.42.min.js'}"></script>
<script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"
            th:src="@{${request.root}+'/js/jquery.SuperSlide.2.1.1.js'}"></script>
<script type="text/javascript" src="js/carouFredSel.js" th:src="@{${request.root}+'/js/carouFredSel.js'}"></script>
</head>
<body>
    <div class="huobanjiagw">
        <!--导航栏-->
        <div style="background-color: #343434;">
            <div class="headeri" data-th-replace="${resourcePath}+'/index.html' :: #header">
                <div class="headlogo">
                    <img style="width: 80%" src="images/logohh.png" class="logoimgi" /></div>
                <ul class="navi">
                    <li>
                        <a href=" #">首页
                        </a>
                    </li>
                    <li class="nav_menu_li_1">
                        <a style="padding: 0px 10px;" href="#">产品/服务
                        </a>
                        <div class="sub-nav">
                            <a href="">伙伴商城
                            </a>
                            <a href="">代运营
                            </a>
                            <a href="">伙伴MAD
                            </a>
                            <a href="">云商学院
                            </a>
                        </div>
                    </li>
                    <li>
                        <a href=" #">客户案例
                        </a>
                    </li>
                    <li>
                        <a href="#">加盟代理
                        </a>
                    </li>
                    <li class="nav_menu_li_1">
                        <a style="padding: 0px 10px;" href="#">关于我们
                        </a>
                        <div class="sub-nav">
                            <a href="">火图新闻
                            </a>
                            <a href="">火图历程
                            </a>
                            <a href="">火图招聘
                            </a>
                        </div>
                    </li>
                    <li class="nav_menu_li_1">
                        <a style="padding: 0px 10px;" href="#">帮助中心
                        </a>
                        <div class="sub-nav">
                            <a href="">产品问答
                            </a>
                            <a href="">操作指南
                            </a>
                            <a href="">咨询客服
                            </a>
                            <a href="">联系我们
                            </a>
                        </div>
                    </li>
                    <li>
                        <a href="#">火图论坛
                        </a>
                    </li>
                    <li class="zc">
                        <a href="#">注册
                        </a>
                    </li>
                    <li class="dl">
                        <a href="#">登录
                        </a>
                    </li>
                </ul>
                   <p style="clear: both"></p>
            </div>
        </div>
        <!--导航栏end-->
        <p style="clear: both"></p>
        <!--加入我们-->

<!--1-->
<div class="huobj-bigbox-zp">
  <div class="zp-a ">
  </div>
</div>
<!--1end-->

<!--2-->
<div class="zpa huobj-bigbox-zp">
  <div class="zp-b ">
  </div>
</div>
<!--2end-->
        
  <!--3-->
<div class="zpb huobj-bigbox-zp">
  <div class="zp-c ">
  </div>
</div>
<!--3end-->    
  
   <!--4-->
<div class=" zpc huobj-bigbox-zp">
  <div class="zp-d ">
  </div>
</div>
<!--4end-->      
               
        <p style="clear: both;"></p>
        <!--联系我们end-->
 <!--底部-->
  <div style="background-color:#343434; height:140px; padding-right:50px;  ">
    <div class="headeri" id="footer"  data-th-replace="${resourcePath}+'/index.html' :: #footer">
      <div class="headlogo"><img style=" margin-top: 40px; margin-left:55px;width:100%"
                                       th:src="@{${request.root}+'/images/logoh.png'}" img src="images/logoh.png" class="logoimgi"/></div>
      
      <div style="float:right; margin-top:10px;">
        <p class="hbj_ft">
          <a th:href="@{${request.rootUri}+'/'}" title="首页">
          <span class="hbj_foot">
          首页
          </span>
          </a>
          <a href="" th:href="@{${request.rootUri}+'/mall'}" title=" 客户案例">
          <span class="hbj_foot">
          伙伴商城
          </span>
          </a>
          <a href="" th:href="@{${request.rootUri}+'/operator'}" title=" 客户案例">
          <span class="hbj_foot">
          代运营
          </span>
          </a>
          <a href="" th:href="@{${request.rootUri}+'/mad'}" title="关于我们">
          <span class="hbj_foot">
          移动广告
          </span>
          </a>
          <a href="http://www.huobanj.com" target="_blank" title="云商学院">
          <span class="hbj_foot">
          云商学院
          </span>
          </a>
          <a href="" th:href="@{${request.rootUri}+'/case'}" title=" 客户案例">
          <span class="hbj_foot">
          客户案例
          </span>
          </a>
          <a href="" th:href="@{${request.rootUri}+'/proxy'}" title="加盟代理">
          <span class="hbj_foot">
          加盟代理
          </span>
          </a>
          <a href="http://login.huobanplus.com/register.html?bdclick=1"
                       target="_blank" title="注册" style="display:none;">
          <span class="hbj_foot">
          注册
          </span>
          </a>
          <a href="http://login.huobanplus.com/" target="_blank" title="登录">
          <span class="hbj_foot">
          登录
          </span>
          </a>
        </p>
        <script src="http://stat.xiaonaodai.com/stat.php?id=18719853" language="JavaScript"
                        type="text/javascript"></script>
        <p class="hbj_ft hbj_ftas left-a">
          业务热线：400-1818-357
          <span>
          加盟热线：400-1008-013
          </span>
        </p>
        <p class="hbj_ft hbj_ftas left-a">
          公司地址： 杭州市滨江区阡陌路482号智慧e谷B幢4楼
        </p>
        <p class="hbj_ft hbj_ftas left-a" th:utext="${site.copyright}">
          Copyright©2013-2015.
          杭州火图科技有限公司,浙ICP备13027761号-5
        </p>
      </div>
      <script type="text/javascript"> var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F617d4b7f51d60dac130b04dc98807163' type='text/javascript'%3E%3C/script%3E")) </script>
    </div>
  </div>
  <!--底部结束-->
    </div>
</body>
</html>
