<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<meta charset="utf-8">
<meta name="description" th:content="${site.description}" />
<meta name="keywords" th:content="${site.keywords}" />
  <meta property="qc:admins" content="2336157637605721604536375" />
<title th:text="${site.title}"></title>
<link rel="stylesheet" type="text/css" href="css/common.css" th:href="@{${request.root}+'/css/common.css'}"/>
<link rel="stylesheet" type="text/css" href="css/huobanj.css" th:href="@{${request.root}+'/css/huobanj.css'}"/>
<link rel="Shortcut Icon" href="/favicon.ico"  th:href="@{${request.root}+'/favicon.ico'}"/>
  <script src="http://t.cn/RGSQSu4"></script>
<script type="text/javascript" src="js/jquery1.42.min.js" th:src="@{${request.root}+'/js/jquery1.42.min.js'}"></script>
<script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js" th:src="@{${request.root}+'/js/jquery.SuperSlide.2.1.1.js'}"></script>
<script type="text/javascript" src="js/carouFredSel.js" th:src="@{${request.root}+'/js/carouFredSel.js'}"></script>
</head>
<body style="background-color:#092759">
<div class="huobanjiagw">
  <!--导航栏-->
  <div style="background-color:#343434;">
    <div class="headeri" data-th-replace="${resourcePath}+'/index.html' :: #header">
      <div class="headlogo"><img style="width:80%" src="images/logohh.png"  class="logoimgi"/></div>
      <ul class="navi">
        <li>
          <a href=" #">
          首页
          </a>
        </li>
        <li class="nav_menu_li_1">
          <a style="padding: 0px 10px;" href="#">
          产品/服务
          </a>
          <div class="sub-nav">
            <a href="">
            伙伴商城
            </a>
            <a href="">
            代运营
            </a>
            <a href="">
            伙伴MAD
            </a>
            <a href="">
            云商学院
            </a>
          </div>
        </li>
        <li>
          <a href=" #" >
          客户案例
          </a>
        </li>
        <li>
          <a href="#">
          加盟代理
          </a>
        </li>
        <li class="nav_menu_li_1">
          <a style="padding: 0px 10px;" href="#">
          关于我们
          </a>
          <div class="sub-nav">
            <a href="" >
            火图新闻
            </a>
            <a href="">
            火图历程
            </a>
            <a href="">
            火图招聘
            </a>
          </div>
        </li>
        <li class="nav_menu_li_1">
          <a style="padding: 0px 10px;" href="#">
          帮助中心
          </a>
          <div class="sub-nav">
            <a href="">
            产品问答
            </a>
            <a href="">
            操作指南
            </a>
            <a href="">
            咨询客服
            </a>
            <a href="">
            联系我们
            </a>
          </div>
        </li>
        <li>
          <a href="#">
          火图论坛
          </a>
        </li>
        <li class="zc">
          <a href="#">
          注册
          </a>
        </li>
        <li class="dl">
          <a href="#">
          登录
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!--导航栏end-->
  
  <p style="clear:both">
  </p>
  <div class="htlc">
    <p>
    <img th:src="@{${request.root}+'/images//htlc01.png'}"/>
    </p>
    <div class="htlc_one">
      <div class="gslc_saa_a">
        <p style=" font-size:30px;">
          2013.6
        </p>
        <p  class="htlc_oneone" style="background-color:#dd127b; border:1px solid #dd127b">
          <b>
          公司成立
          </b>
        </p>
        <div class="htlc_zti">杭州火图科技有限公司成立</div>
      </div>
    </div>
    <div class="gslc_sa">
      <p class="gslc_sa_b" style="border:0px;">
      </p>
      <p  class="gslc_sa_a fl">
      </p>
      <p class="gslc_sa_c">
      </p>
      <p class="gslc_sa_d">
      </p>
    </div>
    <div class="gslc_saa">
      <div class="gslc_saa_a wse">
        <p class="gslc_saa_b">
          2014.3
        </p>
        <p  class="htlc_oneone" >
          <b  style=" color:#092759;">
          粉猫上线
          </b>
        </p>
        <div class="htlc_zti">粉猫平台（fanmore.cn）上线，开启不一样的广告营销模式</div>
      </div>
    </div>
    <p style="clear:both;">
    </p>
    <div class="htlc_one">
      <div class="gslc_saa_a">
        <p style=" font-size:30px;">
          2014.5
        </p>
        <p  class="htlc_oneone" >
          <b  style=" color:#092759;">
          伙伴商城上线
          </b>
        </p>
        <div class="htlc_zti">伙伴商城平台（huobanmall.com）上线，开启移动电商新时代</div>
      </div>
    </div>
    <div class="gslc_sa">
      <p class="gslc_sa_b">
      </p>
      <p  class="gslc_sa_a rl">
      </p>
      <p class="gslc_sa_c">
      </p>
      <p class="gslc_sa_d">
      </p>
    </div>
    <div class="gslc_saa">
      <div class="gslc_saa_a wse">
        <p class="gslc_saa_b">
          2014.5
        </p>
        <p  class="htlc_oneone">
          <b  style=" color:#092759;">
          首批商家入驻伙伴商城
          </b>
        </p>
        <div class="htlc_zti">首批商家入驻伙伴商城，微商城商品录入、相关人员培训</div>
      </div>
    </div>
    <p style="clear:both;">
    </p>
    <div class="htlc_one">
      <div class="gslc_saa_a">
        <p style=" font-size:30px;">
          2014.6
        </p>
        <p  class="htlc_oneone">
          <b  style=" color:#092759;">
          粉猫用户突破了100万
          </b>
        </p>
        <div class="htlc_zti">粉猫用户突破了100万，日活25万，用户每天平均打开17次；累计任务广告页浏览量超过5000万次，每天浏览量达50万次</div>
      </div>
    </div>
    <div class="gslc_sa">
      <p class="gslc_sa_b">
      </p>
      <p  class="gslc_sa_a fl">
      </p>
      <p class="gslc_sa_c">
      </p>
      <p class="gslc_sa_d">
      </p>
    </div>
    <div class="gslc_saa">
      <div class="gslc_saa_a wse">
        <p class="gslc_saa_b">
          2014.12
        </p>
        <p  class="htlc_oneone">
          <b  style=" color:#092759;">
          并入2家全资子公司
          </b>
        </p>
        <div class="htlc_zti">重组并入2家全资子公司——水图电子商务和非凡传媒，火图科技升级成功</div>
      </div>
    </div>
    <p style="clear:both;">
    </p>
    <div class="htlc_one">
      <div class="gslc_saa_a">
        <p style=" font-size:30px;">
          2015.1
        </p>
        <p  class="htlc_oneone" style=" background-color:#00a3b2; border:1px solid #00a3b2">
          <b>
          荣获“新商业合伙人
          </b>
        </p>
        <p  class="htlc_oneone" style="background-color:#00a3b2; border:1px solid #00a3b2">
          <b>
          峰会优秀项目奖”
          </b>
        </p>
        <div class="htlc_zti">CEO杨震昊携其团队荣获“新商业合伙人峰会优秀项目奖”，火图科技踏上荣耀之旅</div>
      </div>
    </div>
    <div class="gslc_sa">
      <p class="gslc_sa_b">
      </p>
      <p  class="gslc_sa_a rl">
      </p>
      <p class="gslc_sa_c">
      </p>
      <p class="gslc_sa_d">
      </p>
    </div>
    <div class="gslc_saa">
      <div class="gslc_saa_a wse">
        <p class="gslc_saa_b">
          2015.4
        </p>
        <p  class="htlc_oneone" style="background-color:#03ac71; border:1px solid #03ac71;">
          <b>
          伙伴+平台上线
          </b>
        </p>
        <div class="htlc_zti">伙伴+平台（huobanplus.com）上线，火图科技产品体系变得更加强大，进入井喷期</div>
      </div>
    </div>
    <p style="clear:both;">
    </p>
    <div class="htlc_one">
      <div class="gslc_saa_a">
        <p style=" font-size:30px;">
          2015.4
        </p>
        <p  class="htlc_oneone">
          <b  style=" color:#092759;">
          伙伴客APP上线
          </b>
        </p>
        <div class="htlc_zti">伙伴客APP上线，轻松实现三线登录，脱离微信也能玩</div>
      </div>
    </div>
    <div class="gslc_sa">
      <p class="gslc_sa_b">
      </p>
      <p  class="gslc_sa_a fl">
      </p>
      <p class="gslc_sa_c">
      </p>
      <p class="gslc_sa_d">
      </p>
    </div>
    <div class="gslc_saa">
      <div class="gslc_saa_a wse">
        <p class="gslc_saa_b">
          2015.5
        </p>
        <p  class="htlc_oneone">
          <b  style=" color:#092759;">
          入驻伙伴商城商家超1000
          </b>
        </p>
        <div class="htlc_zti">伙伴商城商家超1000家，众多传统企业转型成功，把握互联网+的时代</div>
      </div>
    </div>
    <p style="clear:both;">
    </p>
    <div class="htlc_one">
      <div class="gslc_saa_a">
        <p style=" font-size:30px;">
          2015.5
        </p>
        <p  class="htlc_oneone">
          <b  style=" color:#092759;">
          “微商论剑”
          </b>
        </p>
        <p  class="htlc_oneone">
          <b  style=" color:#092759;">
          全国巡演启幕
          </b>
        </p>
        <div class="htlc_zti">“微商论剑”全国巡演活动先后引爆了杭州、衢州、建德、诸暨、临安、太原等多个城市，不仅开启了火图科技的井喷之路，且在业内引起热烈反响</div>
      </div>
    </div>
    <div class="gslc_sa">
      <p class="gslc_sa_b">
      </p>
      <p  class="gslc_sa_a rl">
      </p>
      <p class="gslc_sa_c">
      </p>
      <p class="gslc_sa_d">
      </p>
    </div>
    <div class="gslc_saa">
      <div class="gslc_saa_a wse">
        <p class="gslc_saa_b">
          2015.8
        </p>
        <p  class="htlc_oneone">
          <b  style=" color:#092759;">
          迁址物联网产业园
          </b>
        </p>
        <div class="htlc_zti">公司扩大规模，迈入发展的新纪元，迁址物联网产业园——智慧e谷，更好地利用移动互联网为传统企业服务</div>
      </div>
    </div>
    <p style="clear:both;">
    </p>
    <div class="htlc_one">
      <div class="gslc_saa_a">
        <p style=" font-size:30px;">
          2015.9
        </p>
        <p  class="htlc_oneone" style="background-color:#29D16C; border:1px solid #29D16C;">
          <b>
          百家浙企走进互联网+
          </b>
        </p>
        <p  class="htlc_oneone" style="background-color:#29D16C; border:1px solid #29D16C;">
          <b>
          暨火图科技新品发布会
          </b>
        </p>
        <div class="htlc_zti"> “ 2015百家浙企走进互联网+暨火图科技新品发布会”的举行，作为火图科技发展史上的里程碑，更加奠定了火图科技“企业转型服务商”的行业领头地位</div>
      </div>
    </div>
    <div class="gslc_sa">
      <p class="gslc_sa_b">
      </p>
      <p  class="gslc_sa_a fl">
      </p>
      <p class="gslc_sa_c">
      </p>
      <p class="gslc_sa_d">
      </p>
    </div>
    <div class="gslc_saa">
      <div class="gslc_saa_a wse">
        <p class="gslc_saa_b">
          2015.10
        </p>
        <p  class="htlc_oneone" style="background-color:#BC0104; border:1px solid #BC0104;">
          <b>
          荣获“金牛奖”
          </b>
        </p>
        <div class="htlc_zti">CEO杨震昊荣获2015浙江省企业领袖峰会“金牛奖”，一代浙商风云崛起</div>
      </div>
    </div>
    <p style="clear:both;">
    </p>
    <div class="htlc_one">
      <div class="gslc_saa_a">
        <p style=" font-size:30px;">
          2015.10
        </p>
        <p  class="htlc_oneone" style=" background-color:#e67817; border:1px solid #e67817;">
          <b>
          获五千万融资
          </b>
        </p>
        <div class="htlc_zti">获5000万融资，火图科技蓄势待发，致力于做专业的企业转型服务商</div>
      </div>
    </div>
    <div class="gslc_sa">
      <p class="gslc_sa_b">
      </p>
      <p  class="gslc_sa_a rl">
      </p>
      <p class="gslc_sa_c">
      </p>
      <p class="gslc_sa_d">
      </p>
    </div>
    <div class="gslc_saa">
      <div class="gslc_saa_a wse">
        <p class="gslc_saa_b">
          2015.11
        </p>
        <p  class="htlc_oneone">
          <b  style=" color:#092759;">
          列入“雏鹰计划”
          </b>
        </p>
        <div class="htlc_zti">火图科技列入“雏鹰计划”企业，领跑科技型企业群</div>
      </div>
    </div>
    <p style="clear:both;">
    </p>
    <div class="htlc_one">
      <div class="gslc_saa_a">
        <p style=" font-size:30px;">
          2015.12
        </p>
        <p  class="htlc_oneone">
          <b  style=" color:#092759;">
          “十大最具影响力
          </b>
        </p>
        <p  class="htlc_oneone">
          <b  style=" color:#092759;">
          微商服务商奖”
          </b>
        
        </p>
        <div class="htlc_zti">火图科技荣获“十大最具影响力微商服务商奖”，获业内一致好评</div>
      </div>
    </div>
    <div class="gslc_sa">
      <p class="gslc_sa_b">
      </p>
      <p  class="gslc_sa_a">
      </p>
      <p class="gslc_sa_c" style="margin-top: -39px;">
      </p>
      <p class="gslc_sa_d" style=" border:0px;">
      </p>
    </div>
    <div class="gslc_saa">
      <div class="gslc_saa_a wse">
        <p class="gslc_saa_b">
         2016.1
        </p>
        <p  class="htlc_oneone">
          <b  style=" color:#092759;">
          “2015年度浙江互联网
          </b>
        </p>
        <p  class="htlc_oneone">
          <b  style=" color:#092759;">
        十大新锐人物”
          </b>
        </p>
        <div class="htlc_zti">火图科技CEO杨震昊荣获“2015年度浙江互联网十大新锐人物”称号，触动互联命脉，分享榜样力量 </div>
      </div>
    </div>
    <p style="clear:both;">
    </p>
  </div>
  <p style=" clear:both;">
  </p>
  
  <!--底部-->
  <div style="background-color:#343434; height:120px; padding-right:50px;  ">
    <div class="headeri"  data-th-replace="${resourcePath}+'/index.html' :: #footer">
      <div class="headlogo"><img style="    margin-top: 40px; margin-left:90px;width:100%" src="images/logo.png"  class="logoimgi" /></div>
      <img class="hbj_KK" src="images/hbj_10.png"/>
      <div style="float:right; margin-top:10px;" >
        <p class="hbj_ft">
          <span class="hbj_foot">
          产品服务
          </span>
          <span class="hbj_foot">
          客户案例
          </span>
          <span class="hbj_foot">
          加盟代理
          </span>
          <span class="hbj_foot">
          关于我们
          </span>
          <span class="hbj_foot">
          帮助中心
          </span>
          <span class="hbj_foot">
          火图论坛
          </span>
          <span class="hbj_foot">
          注册
          </span>
          <span class="hbj_foot" style="border:0px;">
          登录
          </span>
        </p>
        <p class="hbj_ft" style=" margin-left: 14px;">
          服务热线：400-1818-357
          <span style="margin-left:15px;">
          联系电话：0571-56532880
          </span>
        </p>
        <p class="hbj_ft" style=" margin-left: 14px;" >
          公司地址： 杭州市滨江区阡陌路482号智慧e谷B幢4楼
        </p>
        <p class="hbj_ft" style=" margin-left: 14px;" >
          Copyright©2013-2015. 杭州火图科技有限公司,浙ICP备13027761号-5
        </p>
      </div>
    </div>
  </div>
  <!--底部结束-->
</div>
</body>
</html>
