<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <link  href="/assets/css/admin.content.css"  type="text/css" rel="stylesheet"/>
    <link  href="/assets/css/admin.global.css"  type="text/css" rel="stylesheet"/>
    <link  href="/assets/css/global.css"  type="text/css" rel="stylesheet"/>
    <link href="/assets/libs/layer/skin/layer.css" rel="stylesheet"/>
    <link href="/assets/libs/upload/JUpload.css" rel="stylesheet"/>
    <script src="/assets/seajs/sea.js"></script>
    <script src="/assets/seajs/config.js"></script>
</head>
<body>
<div class="block">
    <div class="h">
        <span class="icon-sprite icon-list"></span>
        <h3>网站修改</h3>
        <div class="bar">
            <a class="btn-lit" th:href="@{/supper/siteList?customerid={customerid}(customerid=${site.customerId})}">
                <span>返回网站列表</span></a>
        </div>
    </div>
    <form method="post"  id="updateSiteForm" enctype="multipart/form-data">
        <div class="cnt-wp">
            <div class="cnt form">
                <div class="division">
                    <input type="hidden" name="hidSiteID" id="hidSiteID" th:value="${site.siteId}">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                        <tr>
                            <th>站点名称：</th>
                            <td>
                                <input name="name"  id="name" type="text" class="input-normal" placeholder="" th:value="${site.name}">
                            </td>
                        </tr>
                        <tr>
                            <th>站点标题：</th>
                            <td>
                                <input name="title"  id="title" type="text" class="input-normal" placeholder="" th:value="${site.title}">
                            </td>
                        </tr>
                        <tr>
                            <th>站点描述：</th>
                            <td>
                                <textarea rows="" cols="" style="width: 500px; height: 60px;" class="input-normal" id="description" name="description" th:text="${site.description}"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <th>站点关键字：</th>
                            <td>
                                <textarea rows="" cols="" style="width: 500px; height: 60px;" class="input-normal" id="keywords" name="keywords" th:text="${site.keywords}"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <th>站点logo：</th>
                            <td>
                                <img id="uploadLogoUri" style="width: 80px; height: 80px; border: 1px solid #ccc; float: left; background: #efefef; line-height: 80px; text-align: center; color: #ccc;" th:src="${logo_uri}" />
                                <!--<a id="uploadpic" class="btn-lit jUploader-button" style="cursor: pointer; position: relative; overflow: hidden; direction: ltr;"><span style="color: #c1b3a9" onclick="javascript:$('#btnFile').click();">上传</span></a>-->
                                <!--<input id="btnFile" name="btnFile" style="display:none;" type="file"/>-->
                                <span id="btnFile" name="btnFile" style="margin-left: 100px; margin-top: 20px; display: block;"/>
                                <input type="hidden" id="logoUri" name="logoUri" th:value="${site.logoUri}"/>
                            </td>
                        </tr>
                        <tr>
                            <th>版权信息：</th>
                            <td>
                                <textarea rows="" cols="" style="width: 500px; height: 160px;" id="copyright" name="copyright" th:text="${site.copyright}" ></textarea>
                            </td>
                        </tr>
                        <tr>
                            <th>是否个性化：</th>
                            <td>
                                <table id="isPersonalise">
                                    <tbody>
                                    <tr>
                                        <td><input id="isPersonalise_1" type="radio" name="isPersonalise" class="js-select-personalise" th:checked="${site.Personalise==true?true:false}" ><label for="isPersonalise_1">是</label></td>
                                        <td><input id="isPersonalise_2" type="radio" name="isPersonalise" class="js-select-personalise" th:checked="${site.Personalise==false?true:false}" ><label for="isPersonalise_2">否</label></td>
                                    </tr>
                                    </tbody></table>
                            </td>
                        </tr>
                        <tr>
                            <th>是否模板站点：</th>
                            <td>
                                <table id="isTemplateSite">
                                    <tbody>
                                    <tr>
                                        <td><input id="isTemplateSite_1" type="radio"  name="isTemplateSite" value="1" th:checked="${site.TemplateSite==true?true:false}"><label for="isTemplateSite_1">是</label></td>
                                        <td><input id="isTemplateSite_2" type="radio"  name="isTemplateSite" value="0" th:checked="${site.TemplateSite==false?true:false}"><label for="isTemplateSite_2">否</label></td>
                                    </tr>
                                    </tbody></table>
                            </td>
                        </tr>
                        <tr class="js-custome-template">
                            <th>是否自定义模板：</th>
                            <td>
                                <table id="custom">
                                    <tbody>
                                    <tr>
                                        <td><input id="custom_0" type="radio" class="js-template" name="custom" th:value="${site.custom==true?1:0}" th:checked="${site.custom==true?true:false}" data-type="1"><label for="custom_0">是</label></td>
                                        <td><input id="custom_1" type="radio"  class="js-template" name="custom" value="0" th:checked="${site.custom==false?true:false}" data-type="2" ><label for="custom_1">否</label></td>
                                    </tr>
                                    </tbody></table>
                            </td>
                        </tr>
                        <tr class="js-custome-template" id ="cUrl" th:style="${site.custom}?'display:':'display:none'">
                            <th>自定义模板根路径：</th>
                            <td>
                                <input name="customTemplateUrl"  id="customTemplateUrl" th:value="${site.customTemplateUrl}" type="text" class="input-normal" placeholder="">
                            </td>
                        </tr>
                        <tr>
                            <th>资源根路径：</th>
                            <td>
                                <input name="resourceUrl"  id="resourceUrl" type="text" class="input-normal" placeholder="" th:value="${site.resourceUrl}">
                                <span style="color: #CCCCCC">系统中使用到动态数据的资源地址,一般为图片资源,可以不配置,配置一般配置为远程CDN加速服务地址</span>
                            </td>
                        </tr>
                        <tr>
                            <th>站点类型：</th>
                            <td>
                                <select name="siteType" class="input-normal" id="siteType">
                                    <option value="0" th:each="siteType:${siteTypes}" th:value="${siteType.getCode()}"  th:selected="${site.siteType}!=null?${site.siteType.getCode().toString()}==${siteType.getCode().toString()}" th:text="${siteType.getValue().toString()}"></option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>域名：</th>
                            <td>
                                <input name="domains"  id="domains" type="text" class="input-normal" th:value="${domains}" placeholder="">
                                <span style="color: #CCCCCC">可以使用多个域名,多个域名请使用","号隔开,并且域名不包含"/"结尾,例如huobanplus.com,www.huobanplus.com</span>
                            </td>
                        </tr>
                        <tr>
                            <th>主推域名：</th>
                            <td>
                                <input name="homeDomain" th:value="${homeDomain}" id="homeDomain" type="text" class="input-normal" placeholder="">
                                <span style="color: #CCCCCC">主推域名必须为域名里面的某一个,并且只能设置一个主推域名</span>
                            </td>
                        </tr>
                        <tr>
                            <th>所属地区：</th>
                            <td>
                                <select name="regionId" class="input-normal"  id="regionId">
                                    <!--<option value="-1">==请选择地区==</option>-->
                                    <option  th:value="${region.id}"  th:text="${region.regionName}"></option>
                                </select>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div style="text-align: center;">
                    <input type="submit" class="btn-lit" name="btnSave"  value="保存" data-submiting-text="提交中..." data-text="保存" id="jq-cms-Save">
                </div>
            </div>
        </div>
    </form>
</div>

<script>seajs.use(["supperUpdateSite","layer","validate","message","jupload"]);</script>
</body>
</html>