<!--
  ~ 版权所有:杭州火图科技有限公司
  ~ 地址:浙江省杭州市滨江区西兴街道阡陌路智慧E谷B幢4楼
  ~
  ~ (c) Copyright Hangzhou Hot Technology Co., Ltd.
  ~ Floor 4,Block B,Wisdom E Valley,Qianmo Road,Binjiang District
  ~ 2013-2016. All rights reserved.
  -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:ewp="http://ewp.jiangcai.me" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
    <meta name="author" content="Neo">
    <meta name="viewport"
          content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <title>CMS 模板系统</title>

    <link rel="stylesheet" href="http://resali.huobanplus.com/cdn/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://resali.huobanplus.com/cdn/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://resali.huobanplus.com/cdn/jquery-ui/1.12.0/jquery-ui.min.css">

    <link rel="stylesheet" href="../../public/assets/css/edit.css" ewp:href="/assets/css/edit.css">
    <link rel="stylesheet" href="../../public/assets/css/widgets.css" ewp:href="/assets/css/widgets.css">
    <link rel="stylesheet" href="../../public/assets/css/mall.css" ewp:href="/assets/css/mall.css">

    <link rel="stylesheet"
          href="http://resali.huobanplus.com/cdn/jquery.dataTables/1.10.12/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="http://resali.huobanplus.com/cdn/jquery-upload-file/4.0.10/css/uploadfile.css">
    <link rel="stylesheet" href="http://resali.huobanplus.com/cdn/zTree/3.5.24/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" href="http://resali.huobanplus.com/cdn/swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="http://resali.huobanplus.com/cdn/spectrum/1.8.0/css/spectrum.css">
    <link rel="stylesheet" th:if="${pageCss!=null}" th:href="${pageCss}">

    <!--[if lt IE 9]>
    <script src="http://resali.huobanplus.com/cdn/bracket/js/html5shiv.js"></script>
    <script src="http://resali.huobanplus.com/cdn/bracket/js/respond.min.js"></script>
    <![endif]-->
</head>

<body id="edit" class="edit">
<header>
    <h1>CMS 模板系统</h1>
    <ul class="list-unstyled operate-buttons">
        <li class="btn btn-default" id="previewBtn"><i class="fa fa-search"></i>预览</li>
        <li class="btn btn-default" id="clearBtn"><i class="fa fa-reply-all"></i>重做</li>
    </ul>
    <ul class="list-unstyled pull-right">
        <li class="btn btn-danger" id="saveBtn">保存</li>
    </ul>
    <form id="previewForm" th:action="@{/pagePreview/{pageId}(pageId=${pageId})}" method="post" target="_blank">
        <input class="js-json-string" type="hidden" name="jsonString">
    </form>
</header>
<div id="preloader">
    <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>
<div id="container">
    <div class="sidebar">
        <div class="draggable-group">
            <dl>
                <dt>
                <div class="pull-right popover-info"><i class="fa fa-question-circle-o"></i>
                    <div class="popover fade right">
                        <div class="arrow"></div>
                        <h3 class="popover-title">帮助</h3>
                        <div class="popover-content">在这里设置你的栅格布局, 栅格总数默认为12, 用空格分割每列的栅格值, 如果您需要了解更多信息，请访问 <a
                                target="_blank" href="http://v3.bootcss.com/css/#grid"> Bootstrap栅格系统</a></div>
                    </div>
                </div>
                布局
                </dt>
                <dd class="rows">
                    <ul class="list-unstyled">
                        <li>
                            <div class="ncrow ui-draggable">
                                <span class="remove label label-danger">
                                    <i class="fa fa-times"></i>
                                    删除
                                </span>
                                <span class="drag label label-default">
                                    <i class="fa fa-arrows"></i>
                                    拖动
                                </span>
                                <span class="setting layout-setting label label-primary" data-target="layout-setting">
                                    <i class="fa fa-cog"></i>
                                    设置
                                </span>
                                <div class="preview">
                                    <input value="通栏容器" class="form-control" type="text" readonly>
                                </div>
                                <div class="view">
                                    <div class="row clearfix" data-layout-value="100">
                                        <div class="column"></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="ncrow ui-draggable">
                                <span class="remove label label-danger">
                                    <i class="fa fa-times"></i>
                                    删除
                                </span>
                                <span class="drag label label-default">
                                    <i class="fa fa-arrows"></i>
                                    拖动
                                </span>
                                <span class="setting layout-setting label label-primary" data-target="layout-setting">
                                    <i class="fa fa-cog"></i>
                                    设置
                                </span>

                                <div class="preview">
                                    <input value="居中容器" class="form-control" type="text" readonly>
                                </div>
                                <div class="view">
                                    <div class="row clearfix" data-layout-value="50">
                                        <div class="container column">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="ncrow ui-draggable">
                                <span class="remove label label-danger">
                                    <i class="fa fa-times"></i>
                                    删除
                                </span>
                                <span class="drag label label-default">
                                    <i class="fa fa-arrows"></i>
                                    拖动
                                </span>
                                <span class="setting layout-setting label label-primary" data-target="layout-setting">
                                    <i class="fa fa-cog"></i>
                                    设置
                                </span>

                                <div class="preview">
                                    <input value="12" class="form-control" type="text">
                                </div>
                                <div class="view">
                                    <div class="row clearfix" data-layout-value="12">
                                        <div class="col-md-12 column"></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="ncrow ui-draggable">
                                <span class="remove label label-danger">
                                    <i class="fa fa-times"></i>
                                    删除
                                </span>
                                <span class="drag label label-default">
                                    <i class="fa fa-arrows"></i>
                                    拖动
                                </span>
                                <span class="setting layout-setting label label-primary" data-target="layout-setting">
                                    <i class="fa fa-cog"></i>
                                    设置
                                </span>

                                <div class="preview">
                                    <input value="6 6" class="form-control" type="text">
                                </div>
                                <div class="view">
                                    <div class="row clearfix" data-layout-value="6,6">
                                        <div class="col-md-6 column"></div>
                                        <div class="col-md-6 column"></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="ncrow ui-draggable">
                                <span class="remove label label-danger">
                                    <i class="fa fa-times"></i>
                                    删除
                                </span>
                                <span class="drag label label-default">
                                    <i class="fa fa-arrows"></i>
                                    拖动
                                </span>
                                <span class="setting layout-setting label label-primary" data-target="layout-setting">
                                    <i class="fa fa-cog"></i>
                                    设置
                                </span>

                                <div class="preview">
                                    <input value="8 4" class="form-control" type="text">
                                </div>
                                <div class="view">
                                    <div class="row clearfix" data-layout-value="8,4">
                                        <div class="col-md-8 column"></div>
                                        <div class="col-md-4 column"></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="ncrow ui-draggable">
                                <span class="remove label label-danger">
                                    <i class="fa fa-times"></i>
                                    删除
                                </span>
                                <span class="drag label label-default">
                                    <i class="fa fa-arrows"></i>
                                    拖动
                                </span>
                                <span class="setting layout-setting label label-primary" data-target="layout-setting">
                                    <i class="fa fa-cog"></i>
                                    设置
                                </span>

                                <div class="preview">
                                    <input value="4 4 4" class="form-control" type="text">
                                </div>
                                <div class="view">
                                    <div class="row clearfix" data-layout-value="4,4,4">
                                        <div class="col-md-4 column"></div>
                                        <div class="col-md-4 column"></div>
                                        <div class="col-md-4 column"></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="ncrow ui-draggable">
                                <span class="remove label label-danger">
                                    <i class="fa fa-times"></i>
                                    删除
                                </span>
                                <span class="drag label label-default">
                                    <i class="fa fa-arrows"></i>
                                    拖动
                                </span>
                                <span class="setting layout-setting label label-primary" data-target="layout-setting">
                                    <i class="fa fa-cog"></i>
                                    设置
                                </span>

                                <div class="preview">
                                    <input value="2 6 4" class="form-control" type="text">
                                </div>
                                <div class="view">
                                    <div class="row clearfix" data-layout-value="2,6,4">
                                        <div class="col-md-2 column"></div>
                                        <div class="col-md-6 column"></div>
                                        <div class="col-md-4 column"></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </dd>
            </dl>
            <dl>
                <dt>组件</dt>
                <dd class="boxes">
                    <ul class="list-unstyled" id="widgetLists"></ul>
                </dd>
            </dl>
        </div>
    </div>
    <div id="content">
        <div class="pageHTML" id="pageHTML">
            <span class="setting layout-setting label label-primary" id="js-global-setting" data-target="layout-setting"><i class="fa fa-cog"></i>背景设置</span>
        </div>
    </div>
    <div id="configuration">
        <div class="conf-header">
            <p>设置</p>
            <div id="data-btnGroup" class="btn-group pull-right">
                <button class="btn btn-success" id="confBtn">保存</button>
                <button class="btn btn-danger" id="cancelBtn">取消</button>
            </div>
            <div id="layout-btnGroup" class="btn-group pull-right">
                <button class="btn btn-success" id="l-confBtn">保存</button>
                <button class="btn btn-danger" id="l-cancelBtn">取消</button>
            </div>
        </div>
        <div class="conf-body">
            <div class="common-conf" data-id="layout-setting" id="layoutStyleSheet">
                <div>
                    <h3>
                        <i class="fa fa-puzzle-piece"></i><strong>设置布局背景参数</strong>
                    </h3>
                    <div class="borderBoxs">
                        <div class="form-group clearfix">
                            <label class="col-sm-3">背景颜色</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control color-picker js-bg-color" name="bgColor" />
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <label class="col-sm-3">背景图片</label>
                            <div class="col-sm-3">
                                <span class="gallery-content" data-name="bgImg-1" data-gallery-items-render="galleryRender"></span>
                            </div>
                            <div data-name="bgImg-1" class="gallery-item-area col-sm-3">
                                <img src="!{url}" title="!{title}"/>
                            </div>
                            <div class="col-sm-3">
                                <button class="btn btn-danger btn-sm" id="js-delete-bgImg" type="button">删除背景图片</button>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <label class="col-sm-3">背景图片重复</label>
                            <div class="col-sm-3">
                                <select class="form-control js-bg-repeat">
                                    <option value="0">默认</option>
                                    <option value="no-repeat">不重复</option>
                                    <option value="repeat-x">水平重复</option>
                                    <option value="repeat-y">垂直重复</option>
                                </select>
                            </div>
                            <label class="col-sm-3">背景图片尺寸</label>
                            <div class="col-sm-3">
                                <select class="form-control js-bg-size">
                                    <option value="0">默认</option>
                                    <option value="cover">填充</option>
                                    <option value="contain">适应</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <label class="col-sm-3">背景图片对齐</label>
                            <ul class="col-sm-9 js-bg-position">
                                <li class="col-sm-4" value="top left"><span>左上</span></li>
                                <li class="col-sm-4" value="top center"><span>上</span></li>
                                <li class="col-sm-4" value="top right"><span>右上</span></li>
                                <li class="col-sm-4" value="center left"><span>左</span></li>
                                <li class="col-sm-4" value="center center"><span>居中</span></li>
                                <li class="col-sm-4" value="center right"><span>右</span></li>
                                <li class="col-sm-4" value="bottom left"><span>左下</span></li>
                                <li class="col-sm-4" value="bottom center"><span>下</span></li>
                                <li class="col-sm-4" value="bottom left"><span>右下</span></li>
                            </ul>
                        </div>
                        <form id="layout-setting">
                            <ul class="js-distance-data attribute-layout">
                                <li class="attribute-item title-element">
                                    <div class="pull-right popover-info"><i class="fa fa-question-circle-o"></i>
                                        <div class="popover fade right">
                                            <div class="arrow"></div>
                                            <h4 class="popover-title">帮助</h4>
                                            <div class="popover-content">内边距(Padding)属性设置元素所有内边距的宽度，是元素内容距离自身边框的距离。<br><strong>注释：</strong>不允许使用负值。</div>
                                        </div>
                                    </div>
                                    内边距
                                </li>
                                <li class="attribute-item">
                                    <input type="text" name="paddingTop" class="form-control" placeholder="上" data-rule-number="true" data-msg-number="必须是个数字" data-rule-min="0" data-msg-min="不能小于0">
                                </li>
                                <li class="attribute-item">
                                    <input type="text" name="paddingBottom" class="form-control" placeholder="下" data-rule-number="true" data-msg-number="必须是个数字" data-rule-min="0" data-msg-min="不能小于0">
                                </li>
                                <li class="attribute-item title-element">
                                    <div class="pull-right popover-info"><i class="fa fa-question-circle-o"></i>
                                        <div class="popover fade right">
                                            <div class="arrow"></div>
                                            <h4 class="popover-title">帮助</h4>
                                            <div class="popover-content">外边距(Margin)属性设置元素所有外边距的宽度，是元素自身边框距离其他元素的边框的距离。</div>
                                        </div>
                                    </div>
                                    外边距
                                </li>
                                <li class="attribute-item">
                                    <input type="text" name="marginTop" class="form-control" placeholder="上" data-rule-number="true" data-msg-number="必须是个数字" >
                                </li>
                                <li class="attribute-item">
                                    <input type="text" name="marginBottom" class="form-control" placeholder="下" data-rule-number="true" data-msg-number="必须是个数字" >
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mask-backdrop"></div>
</body>
<script type="text/neo-template" id="templateHtml">
    <div class="modal fade" id="selectDataTable" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">添加图片</h4>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#selectDataList" role="tab" data-toggle="tab">选择图片</a>
                        </li>
                        <li role="presentation">
                            <a href="#selectDataUpload" role="tab" data-toggle="tab">新增图片</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="selectDataList">
                            <table id="js-selectTable" class="table table-hover"></table>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="selectDataUpload">
                            <div id="js-fileUploader">Upload</div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-toggle="#selectDataList" class="btn btn-primary js-select-btn">确认
                    </button>
                    <button type="button" data-toggle="#selectDataUpload"
                            class="btn btn-primary hidden js-uploader-btn">确认
                    </button>
                    <button type="button" class="btn btn-default js-cancel-btn" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
</script>
<!--suppress HtmlUnknownAttribute -->
<script th:inline="javascript">
    // var path = /*[[@{/manage/upload/fine}]]*/ null;
    var initPath = /*[[@{/manage/widget/widgets}]]*/ '../../public/assets/js/data/widget.json';
    var savePage = /*[[@{/manage/pages/}]]*/ null;
    var previewPage = /*[[@{/pagePreview/}]]*/ null;
    var widgetEditor = /*[[@{/preview/widgetEditor}]]*/ '../../public/assets/js/data/mockwidgetEditor.html';
    var component = /*[[@{/preview/component}]]*/ '../../public/assets/js/data/mockComponent.html';
    var pageId = /*[[${pageId}]]*/ -999;
    var pageType = /*[[${pageInfo.pageType}]]*/ -999;
    // Mock数据地址
    var imageMock = '../../public/assets/js/data/imageMock.json';
    var linkMock = '../../public/assets/js/data/linkMock.json';
    var uploadMock = '../../public/assets/js/data/uploadMock.json';
    // 识别是否处于测试阶段 前端勿删！
    var CMSDebugMode = /*[[${@configInfo.debugging}]]*/ false;
    var testMode = /*[[${@environment.acceptsProfiles('test')}]]*/ true;
    var _CMS_DataSource_URI = /*[[@{/dataSource/}]]*/ null;
</script>

<script src="http://resali.huobanplus.com/cdn/jquery/2.2.4/jquery.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/bootstrap/3.3.6/bootstrap.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/jquery-form/3.51/jquery.form.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/bracket/js/jquery-ui-1.10.3.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/layer/2.3/layer.js"></script>
<script src="http://resali.huobanplus.com/cdn/jquery-upload-file/4.0.10/jquery.uploadfile.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/zTree/3.5.24/jquery.ztree.all.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/web-storage-cache/1.0.1/web-storage-cache.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/swiper/3.3.1/swiper.jquery.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/spectrum/1.8.0/spectrum.js"></script>
<script src="http://resali.huobanplus.com/cdn/jquery.nicescroll/3.6.8/jquery.nicescroll.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/jquery.dataTables/1.10.12/jquery.dataTables.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/jquery.dataTables/1.10.12/dataTables.bootstrap.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/jquery-validation/1.15.0/jquery.validate.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/jquery-clean/1.4.2/jquery.htmlClean.min.js"></script>

<!--<script src="../../public/assets/js/jquery.htmlClean.js" ewp:src="/assets/libs/jquery.htmlClean.js"></script>-->
<script src="../../public/assets/js/cms.addEdit.js" ewp:src="/assets/js/cms.addEdit.js"></script>
<script src="../../public/assets/js/cms.addTree.js" ewp:src="/assets/js/cms.addTree.js"></script>
<script src="../../public/assets/js/common.js" ewp:src="/assets/js/common.js"></script>
<script src="../../public/assets/js/cms.widgets.js" ewp:src="/assets/js/cms.widgets.js"></script>
<script src="../../public/assets/js/page/cms.editPage.js" ewp:src="/assets/js/page/cms.editPage.js"></script>
<script src="../../public/assets/js/data/cms.dataHandle.js" ewp:src="/assets/js/data/cms.dataHandle.js"></script>
<script src="../../public/js/cms.resource.finder.js" ewp:src="/js/cms.resource.finder.js"></script>
<script src="../../public/assets/js/cms.widget-properties.js" ewp:src="/assets/js/cms.widget-properties.js"></script>
<script src="../../public/assets/js/cms.layout-setting.js" ewp:src="/assets/js/cms.layout-setting.js"></script>
<script src="../../public/assets/js/cms.mall.js" ewp:src="/assets/js/cms.mall.js"></script>
<script th:inline="javascript">
    CMSWidgets.siteId = /*[[${pageInfo.site.siteId}]]*/ -999;

    CMSWidgets.editInURI = function (resourceName, fixedType) {
        var testURI = '../view/edit_in.html';
        var mangeUriRoot = /*[[@{/manage/}]]*/ testURI;
        if (mangeUriRoot == testURI)
            return testURI;
        var uri = mangeUriRoot + resourceName + "/editIn?siteId=" + CMSWidgets.siteId;
        if (fixedType != null)
            uri = uri + "&fixedType=" + fixedType;
        return uri;
    };

    CMSWidgets.contentURI = function (resourceName, serial) {
        var testURI = '../view/render.html';
        var mangeUriRoot = /*[[@{/manage/}]]*/ testURI;
        if (mangeUriRoot == testURI)
            return testURI;
        return mangeUriRoot + resourceName + "/render/" + encodeURIComponent(serial + '@' + CMSWidgets.siteId);
    };

    CMSWidgets.galleryItemsURI = function (serial) {
        // 采用 SiteSerial 标准 serial@siteId
        // encodeURIComponent
        var testURI = '../../mock/galleryItem.json';
        var mangeUriRoot = /*[[@{/manage/gallery/}]]*/ testURI;
        if (mangeUriRoot == testURI)
            return testURI;
        return mangeUriRoot + encodeURIComponent(serial + '@' + CMSWidgets.siteId) + '/items2';
    };
    CRF.siteId = CMSWidgets.siteId;
    CRF.editInURI = CMSWidgets.editInURI;
    CRF.contentURI = CMSWidgets.contentURI;
    CRF.galleryItemsURI = CMSWidgets.galleryItemsURI;

</script>
</html>
