.smart-home
{
    height:70px;
    margin-top:15px;
    background:#F4F4F4;
}
.homepage-box {
padding: 10px;
margin-bottom: 15px;
background: #F4F4F4;
}
.clearfix:before
{
    clear:both;
}
.homepage-box .logo {
float: left;
margin-right: 12px;
}
.homepage-box .homepage-meta {
float: left;
width: 400px;
}
.homepage-box .homepage-operate {
float: right;
width: 300px;
text-align: right;
margin-top:10px;
}
.homepage-box .homepage-title {
font-size: 12px;
color: #666;
margin-bottom: 2px;
}
.homepage-box .homepage-create-time {
color: #999;
}
.btnShop {
display: inline-block;
padding: 4px 12px;
margin-bottom: 0;
font-size: 12px;
line-height: 20px;
color: #333333;
text-align: center;
vertical-align: middle;
cursor: pointer;
background-color: #f8f8f8;
border: 1px solid #ddd;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
text-decoration: none;
}

.smart-box
{
    margin-top:10px;
}
.smart-action-left
{
    float:left;
}
.smart-action-right
{
    float:right;
    margin-right:10px;
    width:300px;
}


