.forms {
    font-size: 14px;
    padding: 10px 0;
}
.forms ul {
}
.forms li {
    padding: 5px 0;
}
.forms label {
    width: 130px;
    padding: 10px 30px 10px 10px;
    text-align: right;
}
a, a:hover, a:visited, a:link, ins {
    outline: 0;
    text-decoration: none;
}
a, span, .forms label, .msg-box em {
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
}
ul, ol, dl, li, dt, dd {
    margin: 0;
    padding: 0;
    list-style: none;
}
.forms select {
    margin: 4px 0;
}
.select-short {
    width: 120px;
}
.select-short, .select-normal, .select-long {
    line-height: 28px;
    height: 28px;
    border: solid 1px #d4d4d4;
}
input, select, textarea, button {
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
}
.page-operate {
    padding: 5px 10px;
    background: #F3F3F3;
    border-bottom: solid 1px #DEDEE0;
    overflow: hidden;
    text-align: left;
}

/**按钮开始***/
.link-add, .link-yellow, .link-gray, .btn-green, .btn-yellow, .btn-gray {
    -webkit-box-shadow: inset 0 0 1px rgba(255,255,255,.9), inset 0 1px 0 rgba(255,255,255,0), inset 0 -1px 0 rgba(0,0,0,0);
    -moz-box-shadow: inset 0 0 1px rgba(255,255,255,.9), inset 0 1px 0 rgba(255,255,255,0), inset 0 -1px 0 rgba(0,0,0,0);
    box-shadow: inset 0 0 1px rgba(255,255,255,.9), inset 0 1px 0 rgba(255,255,255,0), inset 0 -1px 0 rgba(0,0,0,0);
}
.btn-green {
    background: #94ba32;
    background: -moz-linear-gradient(top, #cae04d, #94ba32);
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#cae04d), to(#94ba32));
    background: -o-linear-gradient(top, #cae04d, #94ba32);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cae04d', endColorstr='#94ba32');
}
.link-yellow, .btn-yellow {
    background: #f37200;
    background: -moz-linear-gradient(top, #ffa555, #f37200);
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ffa555), to(#f37200));
    background: -o-linear-gradient(top, #ffa555, #f37200);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa555', endColorstr='#f37200');
}
.btn-green, .btn-yellow, .btn-gray {
    padding: 2px 15px;
    font-size: 14px;
    color: #FFF;
    text-align: center;
    border: solid 1px #ea6f02;
    margin-right: 10px;
}
.btn-green {
    border: solid 1px #9bb837;
}

.btn-green, .btn-yellow, .btn-gray {
    padding: 2px 15px;
    font-size: 14px;
    color: #FFF;
    text-align: center;
    margin-right: 10px;
}
.btn-gray {
    color: #666;
    border: solid 1px #ccc;
}
/**按钮结束***/
.data-table {
    width: 100%;
    position: relative;
}
.table-thead {
}
.table-thead, .table-tbody {
    overflow-y: scroll;
    overflow-x: hidden;
}
.data-table table {
    width: 100%;
    font-size: 12px;
    background: #FFF;
}
table {
    table-layout: auto!important;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
}
.data-table tr th {
    border-bottom: solid 1px #cdcdcd;
    text-align: left;
    padding: 10px;
    height: 18px;
    font-weight: bold;
    background: #fff url(//img10.360buyimg.com/cms/g13/M02/00/00/rBEhU1GwR1EIAAAAAAALD5bhtAcAAAAMAEdrocAAAsn991.png) bottom repeat-x;
    white-space: nowrap;
}
.data-table tr td {
    border-top: solid 1px #e8e8e7;
    text-align: left;
    padding: 10px;
}
.data-table th em {
    font-weight: bold;
    color: #ff0000;
    width: 10px;
    margin-left: 3px;
}
.data-table .operate {
    text-align: center;
    white-space: nowrap;
}
.table-tbody {
    max-height: 290px;
    _height: 290px;
}
.table-thead, .table-tbody {
    overflow-y: scroll;
    overflow-x: hidden;
}
.text-short {
    width: 120px;
}
.text-short, .text-normal, .text-long {
    height: 28px;
    line-height: 28px;
    text-indent: 5px;
    border: solid 1px #d4d4d4;
}
input, select, textarea, button {
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
}
input, select, textarea {
    font-size: 100%;
    background: #fff;
    color: #333;
    outline: none;
}
.icon-del, .icon-up, .icon-down, .icon-totop, .icon-tobottom, .icon_help {
    background: url(../img/icon.gif);
    width: 16px;
    height: 16px;
    margin: 0 0 0 10px;
    cursor: pointer;
}
.data-table .icon-up {
    background-position: -42px -26px;
}
.data-table .icon-down {
    background-position: -74px -26px;
}
.data-table .icon-del {
    background-position: -10px -26px;
}
.btn-area {
    padding: 10px 10px;
    background: #f2f2f2;
    border-top: solid 1px #ccc;
}