<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link  href="/assets/css/admin.content.css" ewp:href="'/assets/css/admin.content.css'"  type="text/css" rel="stylesheet"/>
    <link  href="/assets/css/admin.global.css" ewp:href="'/assets/css/admin.global.css'"  type="text/css" rel="stylesheet"/>
    <link  href="/assets/css/global.css" ewp:href="'/assets/css/global.css'"  type="text/css" rel="stylesheet"/>
    <link href="/assets/libs/layer/skin/layer.css" ewp:href="'/assets/libs/layer/skin/layer.css'" rel="stylesheet"/>
    <script src="/assets/libs/richText/kindeditor-min.js" ewp:src="'/assets/libs/richText/kindeditor-min.js'" type="application/javascript"></script>
    <script src="/assets/libs/richText/lang/zh_CN.js" ewp:src="'/assets/libs/richText/lang/zh_CN.js'" type="application/javascript"></script>
    <script src="/assets/seajs/sea.js" ewp:src="'/assets/seajs/sea.js'" type="application/javascript"></script>
    <script src="/assets/seajs/config.js" ewp:src="'/assets/seajs/sea.js'" type="application/javascript"></script>
</head>
<body>
<div class="block">
    <div class="h">
        <span class="icon-sprite icon-list"></span>
        <h3>文章详情
        </h3>
        <div class="bar">
            <a class="btn-lit" id="jq-cms-return" target="content">
                <span>返回内容管理列表</span></a>
        </div>
    </div>
    <div class="cnt-wp">
        <form method="post" id="updateArticleForm">
            <div class="cnt form">
                <div class="division">
                    <input type="hidden" name="hidArticleID" id="hidArticleID" th:value="${article.id}">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                        <tr>
                            <th>文章标题：</th>
                            <td>
                                <input name="title" type="text" id="title" maxlength="50" class="input-normal" th:value="${article.title}">
                            </td>
                        </tr>
                        <tr>
                            <th>缩略图：</th>
                            <td>
                                <img id="uploadThumbUri" th:src="${logo_uri}"style="width: 80px; height: 80px; border: 1px solid #ccc; float: left; background: #efefef; line-height: 80px; text-align: center; color: #ccc;"/>
                            </td>
                        </tr>
                        <tr>
                             <th>文章描述：</th>
                            <td>
                              <textarea rows="" cols="" style="width: 500px; height: 60px;" class="input-normal" id="description" name="description" th:text="${article.description}" ></textarea>
                            </td>
                        </tr>
                        <tr>
                            <th>文章作者：</th>
                            <td>
                                <input name="author" type="text" id="author" maxlength="50" class="input-normal" th:value="${article.author}">
                            </td>
                        </tr>
                        <tr>
                            <th>文章类型：</th>
                            <td>
                                <select name="isSystem" class="input-normal" id="isSystem">
                                    <option value="true"  th:if="${article.isSystem()}==true">系统文章</option>
                                    <option value="false" th:if="${article.isSystem()}==false">普通文章</option></select>
                                <span style="color:#f00;">（温馨提示:系统文章不允许删除）</span>
                            </td>
                        </tr>
                        <tr>
                            <th>文章来源：</th>
                            <td>
                                <select name="articleSource" class="input-normal" id="articleSource">
                                    <option th:text="${article.articleSource.getValue()}" th:selected=true></option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>浏览量：</th>
                            <td>
                                <input name="scans" type="text" id="scans" maxlength="50" class="input-normal" th:value="${article.scans}">
                            </td>
                        </tr>
                        <tr>
                            <th>点赞数量：</th>
                            <td>
                                <input name="lauds" type="text" id="lauds" maxlength="50" class="input-normal" th:value="${article.lauds}">
                            </td>
                        </tr>
                        <tr>
                            <th>被踩数量：</th>
                            <td>
                                <input name="unlauds" type="text" id="unlauds" maxlength="50" class="input-normal" th:value="${article.unlauds}">
                            </td>
                        </tr>
                        <tr>
                            <th>创建时间：</th>
                            <td>
                                <span name="createTime" type="text" id="createTime" maxlength="50" class="input-normal" hot:java8time="${article.createTime}"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>更新时间：</th>
                            <td>
                                <span name="updateTime" type="text" id="updateTime" maxlength="50" class="input-normal" hot:java8time="${article.updateTime}"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>文章内容：</th>
                            <td>
                                <textarea rows="" cols="" style="width: 500px; height: 160px;" class="input-normal" id="content" name="content" th:text="${article.content}" ></textarea>
                            </td>
                        </tr>
                        <th>所属栏目：</th>
                        <td>
                            <select name="categoryId" class="input-normal" id="categoryId">
                                <option  th:value="${article.category.id}" th:text="${article.category.name}" th:selected=true></option>
                            </select>
                        </td>
                        </tr>
                        <tr>
                            <th>排序权重：</th>
                            <td>

                                <input name="orderWeight" type="text" id="orderWeight" value="50" class="input-normal" placeholder="请输入排序权重" th:value="${article.orderWeight}">
                                <span style="color:#ccc;">数字越大排越前面</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!--<div style="text-align: center;">-->
                <!--<input type="submit" class="btn-lit" name="btnSave"  value="返回"  data-text="返回" id="jq-cms-return" onclick='location.href("index.aspx")' th:href="@{/contents/contentsList?ownerId={ownerId}(ownerId=${article.ownerId})}" target="content">-->
                <!--</div>-->
            </div>
        </form>
    </div>
</div>
<script>
    window.editor = KindEditor.create('#content', {
        resizeType: '0',
        width: '680px',
        height: '300px',
        uploadJson: '/manage/cms/kindeditorUpload',
        afterBlur: function () { this.sync(); }
    });
</script>
<script>seajs.use(["validate","message","articleList"]);</script>
</body>
</html>