<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link  href="/assets/css/admin.content.css" ewp:href="'/assets/css/admin.content.css'"  type="text/css" rel="stylesheet"/>
    <link  href="/assets/css/admin.global.css" ewp:href="'/assets/css/admin.global.css'"  type="text/css" rel="stylesheet"/>
    <link  href="/assets/libs/JGrid/theme/Jackson_skin_gray.css"  type="text/css" rel="stylesheet"/>
    <link href="/assets/libs/layer/skin/layer.css" ewp:href="'/assets/libs/layer/skin/layer.css'" rel="stylesheet"/>
    <script src="/assets/seajs/sea.js" ewp:src="'/assets/seajs/sea.js'" type="application/javascript"></script>
    <script src="/assets/seajs/config.js" ewp:src="'/assets/seajs/sea.js'" type="application/javascript"></script>
</head>
<body>
<div class="block">
    <div class="h">
        <span class="icon-sprite icon-list"></span>
        <input type="hidden" id="galleryId" name="galleryId" th:value="${id}">
        <h3 style="float: left; width: 144px;">图片列表</h3>
    </div>
    <div class="cnt-wp" id="js-GalleryList"></div>
</div>
<script>seajs.use(["JGrid","galleryList"]);</script>
</body>
</html>