<!DOCTYPE html>
<!--
  ~ 版权所有:杭州火图科技有限公司
  ~ 地址:浙江省杭州市滨江区西兴街道阡陌路智慧E谷B幢4楼
  ~
  ~ (c) Copyright Hangzhou Hot Technology Co., Ltd.
  ~ Floor 4,Block B,Wisdom E Valley,Qianmo Road,Binjiang District
  ~ 2013-2016. All rights reserved.
  -->

<html xmlns:th="http://www.thymeleaf.org" xmlns:ewp="http://ewp.jiangcai.me"
      lang="en">
<head>
    <meta charset="UTF-8">
    <link href="http://resali.huobanplus.com/cdn/bracket/css/style.default.css" rel="stylesheet">
    <link href="http://resali.huobanplus.com/cdn/bracket/css/jquery.datatables.css" rel="stylesheet">
    <link href="../../../public/assets/css/customize.css" ewp:href="/assets/css/customize.css" rel="stylesheet">
    <title>Gallery</title>
</head>
<body class="mainpanel" id="fa-picture-o">
<div class="pageheader">
    <h2><i class="fa fa-picture-o"></i> 图库模型 <span>管理图库内容</span></h2>
</div>
<!--/*@thymesVar id="categories" type="java.lang.Iterable<com.huotu.hotcms.service.entity.Category"*/-->
<div class="contentpanel">
    <form id="galleryForm" action="gallery.html" method="POST" th:action="@{/manage/gallery}">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-btns">
                    <a href="" class="panel-close">&times;</a>
                    <a href="" class="minimize">&minus;</a>
                </div><!-- panel-btns -->
                <h3 class="panel-title">新增图库</h3>
                <p>可以选择已有的数据源或者录入新的数据源</p>
            </div>
            <div class="panel-body">

                <div class="form-horizontal form-bordered">

                    <div class="form-group">
                        <label class="col-sm-2 control-label">名称</label>
                        <div class="col-sm-2">
                            <input name="categoryName" title="名称" type="text" placeholder="数据源的名称"
                                   class="form-control" list="categories"/>
                            <datalist id="categories">
                                <option th:each="category:${categories}" th:value="${category.name}"
                                        value="最新消息"
                                        th:attr="parentId=${category.parent!=null?category.parent.id:''}"
                                        parentId="998">
                                </option>
                                <option th:remove="all" value="新闻咨询"></option>
                                <option th:remove="all" value="成功案例"></option>
                            </datalist>
                        </div>
                        <label class="col-sm-2 control-label">父级</label>
                        <div class="col-sm-2">
                            <select name="parentCategoryId" title="父级数据源" class="form-control">
                                <option value="">无</option>
                                <option th:each="category:${categories}" th:value="${category.id}"
                                        th:text="${category.name}">最新消息
                                </option>
                                <option th:remove="all" value="998">新闻咨询</option>
                                <option th:remove="all">成功案例</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">标题</label>
                        <div class="col-sm-6">
                            <input name="title" title="标题" type="text" placeholder="图库标题"
                                   class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">描述</label>
                        <div class="col-sm-6">
                            <input name="description" title="描述" type="text" placeholder="图库描述"
                                   class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">封面</label>
                        <input type="hidden" name="tempPath" id="thumbUri"/>
                        <div class="col-sm-10" id="gallery-uploader"></div>
                    </div>
                    <!--<div class="form-group">-->
                    <!--<label class="col-sm-2 control-label">图库</label>-->
                    <!--<input type="hidden" name="tempImagePaths"/>-->
                    <!--<div class="col-sm-10" id="gallery-item-uploader"></div>-->
                    <!--</div>-->
                </div>
            </div><!-- panel-body -->

            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <button class="btn btn-primary">Submit</button>
                        &nbsp;
                        <button class="btn btn-default">Cancel</button>
                    </div>
                </div>
            </div><!-- panel-footer -->

        </div>
    </form>

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-btns">
                <a href="" class="panel-close">&times;</a>
                <a href="" class="minimize">&minus;</a>
            </div><!-- panel-btns -->
            <h3 class="panel-title">图库列表</h3>
            <p></p>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>标题</th>
                        <th>创建时间</th>
                        <th>数据源</th>
                        <th>图片数量</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <!--odd even-->
                    <tbody>
                    <!--/*@thymesVar id="list" type="java.lang.Iterable<com.huotu.hotcms.service.entity.Gallery>"*/-->
                    <tr th:each="gallery,stats:${list}" class="odd" th:class="${stats.odd?'odd':'even'}"
                        th:attr="data-id=${gallery.id}" data-id="456">
                        <td th:text="${gallery.title}">新闻资讯</td>
                        <td th:text="${{gallery.createTime}}">2016 06-20</td>
                        <td th:text="${gallery.category.name}">图库</td>
                        <td th:text="${@galleryItemRepository.countByGallery(gallery)}">0</td>
                        <td class="center">
                            <a href="galleryOpen.html" th:href="@{/manage/gallery/{id}(id=${gallery.id})}" title="管理">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a href="gallery.html" class="delete"
                               th:href="@{/manage/gallery/{id}/delete(id=${gallery.id})}"
                               title="删除">
                                <i class="fa fa-trash-o"></i>
                            </a>
                        </td>
                    </tr>

                    <tr class="even" data-id="2" th:remove="all">
                        <td>成功案例</td>
                        <td>2016 06-11</td>
                        <td>文章</td>
                        <td>10</td>
                        <td class="center">
                            <a href="galleryOpen.html" title="编辑">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a href="gallery.html" class="delete"
                               title="删除">
                                <i class="fa fa-trash-o"></i>
                            </a>
                        </td>
                    </tr>
                    <tr class="odd" data-id="3" th:remove="all">
                        <td>快讯</td>
                        <td>2016 06-11</td>
                        <td>文章</td>
                        <td>6</td>
                        <td class="center">
                            <a href="galleryOpen.html" title="编辑">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a href="gallery.html" class="delete"
                               title="删除">
                                <i class="fa fa-trash-o"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div><!-- table-responsive -->
        </div>
    </div>
</div><!-- contentpanel -->

<script src="http://resali.huobanplus.com/cdn/bracket/js/jquery-1.10.2.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/bracket/js/jquery-ui-1.10.3.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/bracket/js/bootstrap.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/bracket/js/toggles.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/bracket/js/jquery.cookies.js"></script>
<script src="http://resali.huobanplus.com/cdn/bracket/js/jquery.maskedinput.min.js"></script>

<script src="http://resali.huobanplus.com/cdn/jquery-fine-uploader/5.10.0/jquery.fine-uploader.min.js"></script>
<link rel="stylesheet" href="http://resali.huobanplus.com/cdn/jquery-fine-uploader/5.10.0/fine-uploader-new.min.css"
      property=""/>

<script src="http://resali.huobanplus.com/cdn/datatables/1.10.12/datatables.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/bracket/js/jquery.validate.min.js"></script>
<script src="../../../public/js/jquery.validation.message-zh_cn.js"
        ewp:src="/js/jquery.validation.message-zh_cn.js"></script>
<div ewp:replace="fragments/frame.html::#messageSection"></div>
<script src="../../../public/bracket/js/frame.js" ewp:src="/bracket/js/frame.js"></script>
<script src="../../../public/bracket/js/frame_custom.js" ewp:src="/bracket/js/frame_custom.js"></script>
<script src="../../../public/js/content.js" ewp:src="/js/content.js"></script>
</body>
</html>