<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <link  href="/assets/css/admin.content.css"  type="text/css" rel="stylesheet"/>
    <link  href="/assets/css/admin.global.css"  type="text/css" rel="stylesheet"/>
    <link  href="/assets/css/global.css"  type="text/css" rel="stylesheet"/>
    <link href="/assets/libs/layer/skin/layer.css" rel="stylesheet"/>
    <link href="/assets/libs/upload/JUpload.css" rel="stylesheet"/>
    <script src="/assets/seajs/sea.js"></script>
    <script src="/assets/seajs/config.js"></script>
</head>
<body>
<div class="block">
    <div class="h">
        <span class="icon-sprite icon-list"></span>
        <h3>图片修改</h3>
    </div>
    <form method="post"  id="updateGalleryListForm" enctype="multipart/form-data">
        <div class="cnt-wp">
            <div class="cnt form">
                <div class="division">
                    <input type="hidden" name="id" id="id" th:value="${galleryList.id}">
                    <input type="hidden" name="galleryId" id="galleryId" th:value="${galleryList.gallery.id}">
                    <input type="hidden" name="wide" id="wide" value="">
                    <input type="hidden" name="height" id="height" value="">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                        <tr>
                            <th>缩略图：</th>
                            <td>
                                <img id="uploadThumbUri" style="width: 80px; height: 80px; border: 1px solid #ccc; float: left; background: #efefef; line-height: 80px; text-align: center; color: #ccc;" th:src="${logo_uri}"/>
                                <span id="btnFile" name="btnFile" style="margin-left: 100px; margin-top: 20px; display: block;"/>
                                <input type="hidden" id="thumbUri" name="thumbUri" th:value="${galleryList.thumbUri}" />
                            </td>
                        </tr>
                        <tr>
                            <th>排序权重：</th>
                            <td>
                                <input name="txtOrderWeight" type="text" id="txtOrderWeight" value="50" class="input-normal" th:value="${galleryList.orderWeight}" placeholder="请输入排序权重">
                                <span style="color:#ccc;">数字越大排越前面</span>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>

                <div style="text-align: center;">
                    <input type="submit" class="btn-lit" name="btnSave"  value="保存" data-submiting-text="提交中..." data-text="保存" id="jq-cms-Save">
                </div>
            </div>
        </div>
    </form>
</div>

<script>  seajs.use(["validate","message","jupload","updateGalleryList"],function(a,b,c,d){
    d.fromValidata();
    d.uploadImg();
})</script>
</body>
</html>