<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link  href="/assets/css/admin.content.css" ewp:href="'/assets/css/admin.content.css'"  type="text/css" rel="stylesheet"/>
    <link  href="/assets/css/admin.global.css" ewp:href="'/assets/css/admin.global.css'"  type="text/css" rel="stylesheet"/>
    <link  href="/assets/css/global.css" ewp:href="'/assets/css/global.css'"  type="text/css" rel="stylesheet"/>
    <link href="/assets/libs/layer/skin/layer.css" ewp:href="'/assets/libs/layer/skin/layer.css'" rel="stylesheet"/>
    <link href="/assets/libs/upload/JUpload.css" ewp:href="'/assets/libs/upload/JUpload.css'" rel="stylesheet"/>
    <script src="/assets/seajs/sea.js" ewp:src="'/assets/seajs/sea.js'" type="application/javascript"></script>
    <script src="/assets/seajs/config.js" ewp:src="'/assets/seajs/sea.js'" type="application/javascript"></script>
</head>
<body>
<div class="block">
    <div class="h">
        <span class="icon-sprite icon-list"></span>
        <h3>修改视频</h3>
        <div class="bar">
            <a class="btn-lit" id="jq-cms-return" target="content">
                <span>返回内容管理列表</span></a>
        </div>
    </div>
    <div class="cnt-wp">
        <form method="post" id="updateVideoForm" enctype="multipart/form-data">
            <div class="cnt form">
                <div class="division">
                    <input type="hidden" name="hidVideoID" id="hidVideoID" th:value="${video.id}" >
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                        <tr>
                            <th>视频名称：</th>
                            <td>
                                <input name="title" type="text" id="title" maxlength="50" class="input-normal" th:value="${video.title}">
                            </td>
                        </tr>
                        <tr>
                            <th>描述：</th>
                            <td>
                                <textarea rows="" cols="" style="width: 500px; height: 60px;" class="input-normal" id="description" name="description" th:text="${video.description}"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <th>缩略图：</th>
                            <td>
                                <img id="uploadThumbUri" th:src="${logo_uri}" style="width: 80px; height: 80px; border: 1px solid #ccc; float: left; background: #efefef; line-height: 80px; text-align: center; color: #ccc;"/>
                                <span id="btnFile" name="btnFile" style="margin-left: 100px; margin-top: 20px; display: block;"/>
                                <input type="hidden" id="thumbUri" name="thumbUri" th:value="${video.thumbUri}" />
                            </td>
                        </tr>
                        <!--<tr>-->
                            <!--<th>内部储存地址：</th>-->
                            <!--<td>-->
                                <!--<input name="videoUrl" type="text" id="videoUrl" maxlength="50" class="input-normal" th:value="${video.videoUrl}" >-->
                            <!--</td>-->
                        <!--</tr>-->
                        <tr>
                            <th>外部链接地址：</th>
                            <td>
                                <input name="outLinkUrl" type="text" id="outLinkUrl" maxlength="100" class="input-normal" th:value="${video.outLinkUrl}">
                            </td>
                        </tr>
                        <tr>
                            <th>所属栏目：</th>
                            <td>
                                <select name="categoryId" class="input-normal" id="categoryId">
                                    <option value="-1">==请选择栏目==</option>
                                    <option th:each="category:${categorys}" th:value="${category.id}" th:text="${category.name}" th:selected="${category.id}==${video.category.id}?true:false"></option>
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <th>排序权重：</th>
                            <td>
                                <input name="orderWeight" type="text" id="orderWeight" value="50" class="input-normal" placeholder="请输入排序权重" th:value="${video.orderWeight}">
                                <span style="color:#ccc;">数字越大排越前面</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                <div style="text-align: center;">
                    <input type="submit" class="btn-lit" name="btnSave"  value="保存" data-submiting-text="提交中..." data-text="保存" id="jq-cms-Save">
                </div>
            </div>
        </form>
    </div>
</div>
<script>seajs.use(["validate","message","updateVideo","jupload","layer"]);</script>
</body>
</html>