.cj-font-a {
	font-size: 14px;
}
.cj-font-b {
	font-size: 16px;
}
.cj-font-c {
	font-size: 18px;
}
.cj-font-d {
	font-size: 20px;
}
.cj-font-e {
	font-size: 24px;
}
.cj-box-a {
	width: 1000px;
	margin: 0 auto
}
/*404*/
.cj-information .nofindimg {
	width: 192px;
	margin: 0 auto;
}
.cj-information .nofind {
	color: #9f9f9f;
	text-align: center;
}
/*404end*/
/*wechat*/
.cj-information .backimg {
	background: url(../images/wechat-img.jpg) 50% 0px no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
}
.cj-information .wechatimg {
	width: 277px;
	margin: 0 auto;
	background-color: #fff;
	padding: 20px;
}
.cj-bigbox {
	position: relative;
	height: 744px;
	overflow: hidden;
}
.cj-information .nocolor-b {
	text-align: center;
	margin: 15px 0px;
}
.cj-information .nocolor-b i {
	color: #005e3c;
}
/*wechatend*/
/*gift*/
.cj-information .cj-leftbox {
	float: left;
	height: 372px
}
.cj-information .cj-rightbox {
	float: right
}
.cj-information .cj-box-a .imgone {
	margin: 0 auto;
	text-align: center;
	width: 349px;
}
.cj-information .cj-box-a .imgfont {
	color: #818181;
	line-height: 47px;
}
.cj-information .cj-xian {
	border-bottom: 1px solid #b1b1b1;
	margin: 27px 17px 27px -37px;
	width: 374px;
}
/*giftend*/
.cj-information .bacfff {
	background-color: #fff;
}
.cj-information .boxlist-a {
	float: left;
	margin-left: 25px;
}
.cj-information .boxlist-a p {
	border-bottom: 1px solid #ddd;
	text-align: center;
	line-height: 40px;
}
.cj-information .boxlist-a .imgxian, .cj-information .leftbox-a .imgxian {
	border-bottom: 3px solid #b6b6b6;
	padding-top: 10px;
	margin-bottom: 10px;
}
.cj-information .listap .on {
	background-color: #d97613;
}
.cj-information .listap .on a {
	color: #fff;
}
.cj-information .posup {
	position: absolute;
	left: 0;
	right: 0;
	margin-top: -300px;
}
.cj-information .jieshao {
	color: #d97613;
}
.cj-information .leftbox-a {
	float: left;
	width: 75%;
	margin-left: 20px;
	height: 1032px;
}
.cj-information .leftbox-a .fristp {
	line-height: 55px;
}
.cj-information .xiannext-b {
	border-bottom: 1px dashed #ddd;
	padding: 5px;
	margin-bottom: 10px;
}
.cj-information .cj-time {
	float: right;
	color: #565656;
	margin-right: 10px;
	margin-top: -12px
}
.cj-information .cj-time-a {
	color: #565656;
	margin-right: 10px;
}
.cj-information .text-a {
	font-size: 12px;
	color: #747474;
	line-height: 36px;
	margin: 20px;
}
.cj-information .nocolor {
	color: #d97613;
}
.cj-information .fontno {
	line-height: 18px;
	margin: 10px 0px;
	text-overflow: ellipsis;
	overflow: hidden;
	display: inline-block;
	width: 100%;
	height: 36px;
}
.cj-information .number {
	float: right
}
.cj-information .number a {
	border: 1px solid #ddd;
	padding: 0px 5px;
	text-align: center;
	margin-right: 3px;
}
.cj-information .number .on {
	border: 1px solid #d97613;
	background-color: #d97613;
	color: #fff;
}
.cj-information .media-right {
	float: right;
	width: 50%;
	margin-bottom: 30px
}
.cj-information .media-left {
	float: left;
	width: 50%;
	margin-bottom: 30px
}
.cj-information .zximg {
	background: url(../images/cj-banner.jpg) 50% 0px no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
}
.cj-bigbox-a {
	position: relative;
	height: 578px;
	overflow: hidden;
}
.cj-information .zximg-b {
	background: url(../images/cj-banner-2.png) 50% 0px no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
}
.cj-bigbox-b {
	position: relative;
	height: 529px;
	overflow: hidden;
}
