/* CSS Document */


.hr_pro .r{
position: relative;overflow: hidden;
 }
 
.hr_pro .ee{
  background: url(../images/product_04.jpg) 50% 0px no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;

 }
 .hr_pro .gt{
padding-bottom:40px;
width:1000px;margin:0 auto;
}

.hr_pro .keywords {
  width:1000px;
  padding-bottom: 10px;
  overflow: hidden;
  margin:0 auto;
}
.hr_pro .keywords ul{  margin:0 auto;}
.hr_pro .keywords li {
  display: inline-block;
  text-align: center;
  margin-bottom: 5px;
  line-height: 18px;
  width: 115px;
  margin:0px 17px 0 18px;
}

.hr_pro .keywords ul li a {
  width: 115px;
  padding-left: 0;
  height: 35px;
  line-height: 35px;
  color: #acacac;
  text-align: center;
  font-size: 14px;
  border:1px solid #acacac;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
.hr_pro .keywords ul li a:hover, .hr_pro .keywords ul li a.on {
  border:1px solid #d97513;
  background-color:#d97513;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}
 

.hr_pro .nuy{width:233px;float:left;border:1px solid #DFDFDF;}

.hr_pro .ffr{margin-right:20px;}

.hr_pro .cp{width: 1000px;
  margin: 0 auto;
  background-color: #fff;
  padding: 0px 0px 30px 0px;position:relative;}

.hr_pro .tdx{width: 235px;border:1px solid #DFDFDF;} 
.hr_pro .ccv{padding:10px;}
.hr_pro .nnf{
	 font-size:18px;padding:10px 0px 10px;color:#000000;}
.hr_pro .nf{
  font-size: 12px;
  color: #747474;
  line-height: 18px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  width: 100%;
  height: 36px;
  }

 
.hr_pro  .number {
  float: right;
}
.hr_pro .number a {
  border: 1px solid #ddd;
  padding: 0px 5px;
  text-align: center;
  margin-right: 3px;
}
.hr_pro .number .on {
  border: 1px solid #d97613;
  background-color: #d97613;
  color: #fff;
}
 /*产品页面end*/
 
