<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
    <link  href="/assets/css/widget.css?v=1.0"  type="text/css" rel="stylesheet"/>
    <script src="/assets/seajs/sea.js"></script>
    <script src="/assets/seajs/config.js"></script>
</head>
<body>
<div class="add-modules" id="myAddModules">
    <div class="modules-left J-module-cate">
        <ul>
            <li th:class="(${iterStat.index}=='0')?'show js-widget-module':'js-widget-module'" data-cateid="5" th:each="widget,iterStat:${widgetList}" th:attr="data-cateid=${widget.typeId}" th:text="${widget.name}">基础功能</li>
            <!--<li data-cateid="6" class="js-widget-module">商品陈列</li>-->
            <!--<li data-cateid="12" class="js-widget-module">营销相关</li>-->
            <!--<li data-cateid="14" class="js-widget-module">公司相关</li>-->
            <!--<li data-cateid="15" class="js-widget-module">商品促销</li>-->
            <!--<li data-cateid="18" class="js-widget-module">客户互动</li>-->
        </ul>
    </div>
    <div class="modules-right j-module-list">
        <ul th:class="(${iterStat.index}=='0')?'show js-widget-module':'js-widget-module'"  th:each="widget,iterStat:${widgetList}" th:id="'my_modules_'+${widget.typeId}">
            <li th:each="widgetMain:${widget.widgetMainsList}">
                <p class="thumbnail">
                    <a href="javascript:void(0)">
                        <img alt="店内分类" src="http://img10.360buyimg.com/cms/g12/M00/07/04/rBEQYFGV4UYIAAAAAAAUVcVmVggAABZPQLzjuYAABRt175.png">
                    </a>
                </p>
                <p class="summary">
                    <b><a href="#" target="_blank" title="进入店内分类详情页" th:text="${widgetMain.name}">店内分类</a></b>
                    <span th:text="${widgetMain.description}"></span>
                </p>
                <p class="operate"><a href="javascript:;" class="link-add js-widget-add" th:attr="data-url=${widgetMain.resourceUri},data-id=${widgetMain.id}">置入</a></p>
            </li>
            <!--<li>-->
                <!--<p class="thumbnail"><a href="/prototype/module/view.html?moduleId=34" target="_blank" title="进入分页显示商品详情页"><img alt="分页显示商品" src="http://img13.360buyimg.com/cms/g12/M00/07/04/rBEQYVGV4hkIAAAAAAAOGn0-bQoAABZRQNZwlMAAA4y376.png"></a></p>-->
                <!--<p class="summary">-->
                    <!--&lt;!&ndash;-->
                    <!--<b><a href="/prototype/module/view.html?moduleId=34" target="_blank" title="进入分页显示商品详情页">分页显示商品</a></b>-->
                    <!--&ndash;&gt;-->
                    <!--<b><a href="#" target="_blank" title="进入分页显示商品详情页">分页显示商品</a></b>-->
                    <!--只适用于外部商家。商品列表页面默认添加了该模块，以分页方式向用户展现。模块中的商品在后台商品管理中录入。-->
                <!--</p>-->
                <!--<p class="operate"><a href="javascript:;" class="link-add" moduleprototypeid="34" modulelayout="" layoutinstanceid="" regionmodulename="">置入</a></p>-->
            <!--</li>-->
            <!--<li>-->
                <!--<p class="thumbnail"><a href="/prototype/module/view.html?moduleId=51" target="_blank" title="进入店内搜索框详情页"><img alt="店内搜索框" src="http://img12.360buyimg.com/cms/g12/M00/03/03/rBEQYFGV3QoIAAAAAAAZj_nsG4sAAAmxQK5AfUAABmn378.png"></a></p>-->
                <!--<p class="summary">-->
                    <!--&lt;!&ndash;-->
                    <!--<b><a href="/prototype/module/view.html?moduleId=51" target="_blank" title="进入店内搜索框详情页">店内搜索框</a></b>-->
                    <!--&ndash;&gt;-->
                    <!--<b><a href="#" target="_blank" title="进入店内搜索框详情页">店内搜索框</a></b>-->
                    <!--只适用于外部商家。提供搜索输入框,默认关键字和热词推荐。-->
                <!--</p>-->
                <!--<p class="operate"><a href="javascript:;" class="link-add" moduleprototypeid="51" modulelayout="" layoutinstanceid="" regionmodulename="">置入</a></p>-->
            <!--</li>-->
            <!--<li>-->
                <!--<p class="thumbnail"><a href="/prototype/module/view.html?moduleId=52" target="_blank" title="进入店内搜索结果详情页"><img alt="店内搜索结果" src="http://img13.360buyimg.com/cms/g12/M00/03/03/rBEQYFGV3R4IAAAAAAAZ8xTqVasAAAmxgBNPooAABoL800.png"></a></p>-->
                <!--<p class="summary">-->
                    <!--&lt;!&ndash;-->
                    <!--<b><a href="/prototype/module/view.html?moduleId=52" target="_blank" title="进入店内搜索结果详情页">店内搜索结果</a></b>-->
                    <!--&ndash;&gt;-->
                    <!--<b><a href="#" target="_blank" title="进入店内搜索结果详情页">店内搜索结果</a></b>-->
                    <!--只适用于外部商家。店内搜索结果页页面默认添加了该模块，以分页方式向用户展现。模块中的商品在后台商品管理中录入。-->
                <!--</p>-->
                <!--<p class="operate"><a href="javascript:;" class="link-add" moduleprototypeid="52" modulelayout="" layoutinstanceid="" regionmodulename="">置入</a></p>-->
            <!--</li>-->
            <!--<li>-->
                <!--<p class="thumbnail"><a href="/prototype/module/view.html?moduleId=68" target="_blank" title="进入主从商品详情页"><img alt="主从商品" src="http://img12.360buyimg.com/cms/g15/M04/09/1B/rBEhWFIxGycIAAAAAAARHV3mWfgAADD0gM9298AABE1105.png"></a></p>-->
                <!--<p class="summary">-->
                    <!--&lt;!&ndash;-->
                    <!--<b><a href="/prototype/module/view.html?moduleId=68" target="_blank" title="进入主从商品详情页">主从商品</a></b>-->
                    <!--&ndash;&gt;-->
                    <!--<b><a href="#" target="_blank" title="进入主从商品详情页">主从商品</a></b>-->
                    <!--每个主商品下支持多个从商品的展示，建议在店内搜索结果页使用。-->
                <!--</p>-->
                <!--<p class="operate"><a href="javascript:;" class="link-add" moduleprototypeid="68" modulelayout="" layoutinstanceid="" regionmodulename="">置入</a></p>-->
            <!--</li>-->
            <!--<li>-->
                <!--<p class="thumbnail"><a href="/prototype/module/view.html?moduleId=75" target="_blank" title="进入高级店内搜索结果详情页"><img alt="高级店内搜索结果" src="http://img13.360buyimg.com/cms/g12/M00/03/03/rBEQYFGV3R4IAAAAAAAZ8xTqVasAAAmxgBNPooAABoL800.png"></a></p>-->
                <!--<p class="summary">-->
                    <!--&lt;!&ndash;-->
                    <!--<b><a href="/prototype/module/view.html?moduleId=75" target="_blank" title="进入高级店内搜索结果详情页">高级店内搜索结果</a></b>-->
                    <!--&ndash;&gt;-->
                    <!--<b><a href="#" target="_blank" title="进入高级店内搜索结果详情页">高级店内搜索结果</a></b>-->
                    <!--在店内搜索结果的基础上增加筛选条件的选择，实现精确查找-->
                <!--</p>-->
                <!--<p class="operate"><a href="javascript:;" class="link-add" moduleprototypeid="75" modulelayout="" layoutinstanceid="" regionmodulename="">置入</a></p>-->
            <!--</li>-->
            <!--<li>-->
                <!--<p class="thumbnail"><a href="/prototype/module/view.html?moduleId=19175" target="_blank" title="进入客服模块详情页"><img alt="客服模块" src="http://img13.360buyimg.com/cms/g12/M00/03/03/rBEQYFGV3R4IAAAAAAAZ8xTqVasAAAmxgBNPooAABoL800.png"></a></p>-->
                <!--<p class="summary">-->
                    <!--&lt;!&ndash;-->
                    <!--<b><a href="/prototype/module/view.html?moduleId=19175" target="_blank" title="进入客服模块详情页">客服模块</a></b>-->
                    <!--&ndash;&gt;-->
                    <!--<b><a href="#" target="_blank" title="进入客服模块详情页">客服模块</a></b>-->
                    <!--通过客服分组以及客服，实现在线客服接入-->
                <!--</p>-->
                <!--<p class="operate"><a href="javascript:;" class="link-add" moduleprototypeid="19175" modulelayout="" layoutinstanceid="" regionmodulename="">置入</a></p>-->
            <!--</li>-->
            <!--<li>-->
                <!--<p class="thumbnail"><a href="/prototype/module/view.html?moduleId=19268" target="_blank" title="进入新版店招详情页"><img alt="新版店招" src="http://img13.360buyimg.com/cms/g12/M00/03/03/rBEQYFGV3R4IAAAAAAAZ8xTqVasAAAmxgBNPooAABoL800.png"></a></p>-->
                <!--<p class="summary">-->
                    <!--&lt;!&ndash;-->
                    <!--<b><a href="/prototype/module/view.html?moduleId=19268" target="_blank" title="进入新版店招详情页">新版店招</a></b>-->
                    <!--&ndash;&gt;-->
                    <!--<b><a href="#" target="_blank" title="进入新版店招详情页">新版店招</a></b>-->
                    <!--旧版店铺招牌模块升级，增加更多的模块配置项-->
                <!--</p>-->
                <!--<p class="operate"><a href="javascript:;" class="link-add" moduleprototypeid="19268" modulelayout="" layoutinstanceid="" regionmodulename="">置入</a></p>-->
            <!--</li>-->
            <!--<li>-->
                <!--<p class="thumbnail"><a href="/prototype/module/view.html?moduleId=34172" target="_blank" title="进入店铺高级搜索结果60展示详情页"><img alt="店铺高级搜索结果60展示" src="http://img13.360buyimg.com/cms/g12/M00/03/03/rBEQYFGV3R4IAAAAAAAZ8xTqVasAAAmxgBNPooAABoL800.png"></a></p>-->
                <!--<p class="summary">-->
                    <!--&lt;!&ndash;-->
                    <!--<b><a href="/prototype/module/view.html?moduleId=34172" target="_blank" title="进入店铺高级搜索结果60展示详情页">店铺高级搜索结果60展示</a></b>-->
                    <!--&ndash;&gt;-->
                    <!--<b><a href="#" target="_blank" title="进入店铺高级搜索结果60展示详情页">店铺高级搜索结果60展示</a></b>-->
                    <!--精确搜索商品结果，展示样式与高级店铺搜索相同，展示15行，每行展示4件商品-->
                <!--</p>-->
                <!--<p class="operate"><a href="javascript:;" class="link-add" moduleprototypeid="34172" modulelayout="" layoutinstanceid="" regionmodulename="">置入</a></p>-->
            <!--</li>-->
        </ul>
        <!--<ul id="my_modules_6" class="">-->
            <!--<li>-->
                <!--<p class="thumbnail"><a href="/prototype/module/view.html?moduleId=36" target="_blank" title="进入商品推荐详情页"><img alt="商品推荐" src="http://img11.360buyimg.com/cms/g12/M00/07/03/rBEQYVGV3NQIAAAAAAAg-Bwg798AABZDwHFgs4AACEQ112.png"></a></p>-->
                <!--<p class="summary">-->
                    <!--&lt;!&ndash;-->
                    <!--<b><a href="/prototype/module/view.html?moduleId=36" target="_blank" title="进入商品推荐详情页">商品推荐</a></b>-->
                    <!--&ndash;&gt;-->
                    <!--<b><a href="#" target="_blank" title="进入商品推荐详情页">商品推荐</a></b>-->
                    <!--仅适用于第三方卖家。商家可在该模块的“设置”里通过“SKU ID录入”和“分类筛选”录入商品，可制作“店长推荐”“热卖”“新品上市”等效果展示。-->
                <!--</p>-->
                <!--<p class="operate"><a href="javascript:;" class="link-add" moduleprototypeid="36" modulelayout="" layoutinstanceid="" regionmodulename="">置入</a></p>-->
            <!--</li>-->
            <!--<li>-->
                <!--<p class="thumbnail"><a href="/prototype/module/view.html?moduleId=57" target="_blank" title="进入搭配推荐详情页"><img alt="搭配推荐" src="http://img10.360buyimg.com/cms/g12/M00/03/03/rBEQYVGV3U4IAAAAAAAZ1w2fuAoAAAmxQJhPYYAABnv572.png"></a></p>-->
                <!--<p class="summary">-->
                    <!--&lt;!&ndash;-->
                    <!--<b><a href="/prototype/module/view.html?moduleId=57" target="_blank" title="进入搭配推荐详情页">搭配推荐</a></b>-->
                    <!--&ndash;&gt;-->
                    <!--<b><a href="#" target="_blank" title="进入搭配推荐详情页">搭配推荐</a></b>-->
                    <!--展示用户在搭配购里面的商品搭配，在“设置”里输入搭配id可置入搭配信息。-->
                <!--</p>-->
                <!--<p class="operate"><a href="javascript:;" class="link-add" moduleprototypeid="57" modulelayout="" layoutinstanceid="" regionmodulename="">置入</a></p>-->
            <!--</li>-->
            <!--<li>-->
                <!--<p class="thumbnail"><a href="/prototype/module/view.html?moduleId=60" target="_blank" title="进入销售排行详情页"><img alt="销售排行" src="http://img12.360buyimg.com/cms/g12/M00/03/03/rBEQYVGV3PYIAAAAAAAYBwcEWKAAAAmxQPRG14AABgf138.png"></a></p>-->
                <!--<p class="summary">-->
                    <!--&lt;!&ndash;-->
                    <!--<b><a href="/prototype/module/view.html?moduleId=60" target="_blank" title="进入销售排行详情页">销售排行</a></b>-->
                    <!--&ndash;&gt;-->
                    <!--<b><a href="#" target="_blank" title="进入销售排行详情页">销售排行</a></b>-->
                    <!--展示店铺内销售量最高的商品Top8。-->
                <!--</p>-->
                <!--<p class="operate"><a href="javascript:;" class="link-add" moduleprototypeid="60" modulelayout="" layoutinstanceid="" regionmodulename="">置入</a></p>-->
            <!--</li>-->
            <!--<li>-->
                <!--<p class="thumbnail"><a href="/prototype/module/view.html?moduleId=65" target="_blank" title="进入分类推荐详情页"><img alt="分类推荐" src="http://img11.360buyimg.com/cms/g12/M00/03/1F/rBEQYFGLdyYIAAAAAAAcOOBc2rEAAAxoQMJ9CQAABxQ423.png"></a></p>-->
                <!--<p class="summary">-->
                    <!--&lt;!&ndash;-->
                    <!--<b><a href="/prototype/module/view.html?moduleId=65" target="_blank" title="进入分类推荐详情页">分类推荐</a></b>-->
                    <!--&ndash;&gt;-->
                    <!--<b><a href="#" target="_blank" title="进入分类推荐详情页">分类推荐</a></b>-->
                    <!--用户可通过添加分类名称以及分类下的商品编号，展示商品分类以及分类下的商品信息-->
                <!--</p>-->
                <!--<p class="operate"><a href="javascript:;" class="link-add" moduleprototypeid="65" modulelayout="" layoutinstanceid="" regionmodulename="">置入</a></p>-->
            <!--</li>-->
            <!--<li>-->
                <!--<p class="thumbnail"><a href="/prototype/module/view.html?moduleId=66" target="_blank" title="进入榜单推荐详情页"><img alt="榜单推荐" src="http://img14.360buyimg.com/cms/g15/M04/09/1B/rBEhWVIxGyYIAAAAAAAbHAqd-s4AADD0gMtkzwAABs0818.png"></a></p>-->
                <!--<p class="summary">-->
                    <!--&lt;!&ndash;-->
                    <!--<b><a href="/prototype/module/view.html?moduleId=66" target="_blank" title="进入榜单推荐详情页">榜单推荐</a></b>-->
                    <!--&ndash;&gt;-->
                    <!--<b><a href="#" target="_blank" title="进入榜单推荐详情页">榜单推荐</a></b>-->
                    <!--用户可以通过配置展示数量和排序方式，展示某个排序方式下排名前几名的商品-->
                <!--</p>-->
                <!--<p class="operate"><a href="javascript:;" class="link-add" moduleprototypeid="66" modulelayout="" layoutinstanceid="" regionmodulename="">置入</a></p>-->
            <!--</li>-->
            <!--<li>-->
                <!--<p class="thumbnail"><a href="/prototype/module/view.html?moduleId=67" target="_blank" title="进入组合推荐详情页"><img alt="组合推荐" src="http://img11.360buyimg.com/cms/g15/M01/09/14/rBEhWFIvKacIAAAAAAAa5NunR6YAADBAwP_w8EAABr8392.png"></a></p>-->
                <!--<p class="summary">-->
                    <!--&lt;!&ndash;-->
                    <!--<b><a href="/prototype/module/view.html?moduleId=67" target="_blank" title="进入组合推荐详情页">组合推荐</a></b>-->
                    <!--&ndash;&gt;-->
                    <!--<b><a href="#" target="_blank" title="进入组合推荐详情页">组合推荐</a></b>-->
                    <!--通过设置一个主商品和四个关联的商品，让用户可以快速地购买组合内的任意商品-->
                <!--</p>-->
                <!--<p class="operate"><a href="javascript:;" class="link-add" moduleprototypeid="67" modulelayout="" layoutinstanceid="" regionmodulename="">置入</a></p>-->
            <!--</li>-->
            <!--<li>-->
                <!--<p class="thumbnail"><a href="/prototype/module/view.html?moduleId=140" target="_blank" title="进入预售预约详情页"><img alt="预售预约" src="http://img11.360buyimg.com/cms/g13/M0A/01/1C/rBEhUlHn3F4IAAAAAAAe_D2olvQAABQmQD8RxQAAB8U848.png"></a></p>-->
                <!--<p class="summary">-->
                    <!--&lt;!&ndash;-->
                    <!--<b><a href="/prototype/module/view.html?moduleId=140" target="_blank" title="进入预售预约详情页">预售预约</a></b>-->
                    <!--&ndash;&gt;-->
                    <!--<b><a href="#" target="_blank" title="进入预售预约详情页">预售预约</a></b>-->
                    <!--预售，配合京东预售平台的预售功能，适合制作新品发布、限量发售等事件的营销页面。只有联系京东运营，开通预售平台后才可以使用该模块。-->
                <!--</p>-->
                <!--<p class="operate"><a href="javascript:;" class="link-add" moduleprototypeid="140" modulelayout="" layoutinstanceid="" regionmodulename="">置入</a></p>-->
            <!--</li>-->
            <!--<li>-->
                <!--<p class="thumbnail"><a href="/prototype/module/view.html?moduleId=18167" target="_blank" title="进入商品智能排序详情页"><img alt="商品智能排序" src="http://img13.360buyimg.com/cms/g12/M00/03/03/rBEQYFGV3R4IAAAAAAAZ8xTqVasAAAmxgBNPooAABoL800.png"></a></p>-->
                <!--<p class="summary">-->
                    <!--&lt;!&ndash;-->
                    <!--<b><a href="/prototype/module/view.html?moduleId=18167" target="_blank" title="进入商品智能排序详情页">商品智能排序</a></b>-->
                    <!--&ndash;&gt;-->
                    <!--<b><a href="#" target="_blank" title="进入商品智能排序详情页">商品智能排序</a></b>-->
                    <!--根据京东商品类目筛选商品进行推荐-->
                <!--</p>-->
                <!--<p class="operate"><a href="javascript:;" class="link-add" moduleprototypeid="18167" modulelayout="" layoutinstanceid="" regionmodulename="">置入</a></p>-->
            <!--</li>-->
            <!--<li>-->
                <!--<p class="thumbnail"><a href="/prototype/module/view.html?moduleId=20022" target="_blank" title="进入商品推荐排行详情页"><img alt="商品推荐排行" src="http://img14.360buyimg.com/cms/g12/M00/07/03/rBEQYVGV3NQIAAAAAAAg-Bwg798AABZDwHFgs4AACEQ112.png"></a></p>-->
                <!--<p class="summary">-->
                    <!--&lt;!&ndash;-->
                    <!--<b><a href="/prototype/module/view.html?moduleId=20022" target="_blank" title="进入商品推荐排行详情页">商品推荐排行</a></b>-->
                    <!--&ndash;&gt;-->
                    <!--<b><a href="#" target="_blank" title="进入商品推荐排行详情页">商品推荐排行</a></b>-->
                    <!--指定店铺分类排序类型等参数，系统将会按排序获取指定商品进行展示。在店铺商品列表页可以不指定分类，系统将按照列表页的分类默认获取-->
                <!--</p>-->
                <!--<p class="operate"><a href="javascript:;" class="link-add" moduleprototypeid="20022" modulelayout="" layoutinstanceid="" regionmodulename="">置入</a></p>-->
            <!--</li>-->
        <!--</ul>-->
        <!--<ul id="my_modules_12" class="">-->
            <!--<li>-->
                <!--<p class="thumbnail"><a href="/prototype/module/view.html?moduleId=9" target="_blank" title="进入自定义内容区详情页"><img alt="自定义内容区" src="http://img12.360buyimg.com/cms/g12/M00/07/04/rBEQYVGV3gQIAAAAAAAOvGFfD0cAABZHACH4P8AAA7U085.png"></a></p>-->
                <!--<p class="summary">-->
                    <!--&lt;!&ndash;-->
                    <!--<b><a href="/prototype/module/view.html?moduleId=9" target="_blank" title="进入自定义内容区详情页">自定义内容区</a></b>-->
                    <!--&ndash;&gt;-->
                    <!--<b><a href="#" target="_blank" title="进入自定义内容区详情页">自定义内容区</a></b>-->
                    <!--您可以在里面自由的发挥，如编写html代码、css代码等；-->
                <!--</p>-->
                <!--<p class="operate"><a href="javascript:;" class="link-add" moduleprototypeid="9" modulelayout="" layoutinstanceid="" regionmodulename="">置入</a></p>-->
            <!--</li>-->
            <!--<li>-->
                <!--<p class="thumbnail"><a href="/prototype/module/view.html?moduleId=11" target="_blank" title="进入图片轮播详情页"><img alt="图片轮播" src="http://img14.360buyimg.com/cms/g12/M00/03/03/rBEQYFGV3PUIAAAAAAAWvRLzq9QAAAmxQNsVk0AABbV673.png"></a></p>-->
                <!--<p class="summary">-->
                    <!--&lt;!&ndash;-->
                    <!--<b><a href="/prototype/module/view.html?moduleId=11" target="_blank" title="进入图片轮播详情页">图片轮播</a></b>-->
                    <!--&ndash;&gt;-->
                    <!--<b><a href="#" target="_blank" title="进入图片轮播详情页">图片轮播</a></b>-->
                    <!--主要应用于活动和商品的推广，可在模块设置里添加大图、小图、图片标题和图片链接地址。-->
                <!--</p>-->
                <!--<p class="operate"><a href="javascript:;" class="link-add" moduleprototypeid="11" modulelayout="" layoutinstanceid="" regionmodulename="">置入</a></p>-->
            <!--</li>-->
            <!--<li>-->
                <!--<p class="thumbnail"><a href="/prototype/module/view.html?moduleId=54" target="_blank" title="进入代码特效详情页"><img alt="代码特效" src="http://img13.360buyimg.com/cms/g7/M03/00/13/rBEHZVA2KW8IAAAAAAAamMgeRCIAAAHgwA3TNYAABqw569.jpg"></a></p>-->
                <!--<p class="summary">-->
                    <!--&lt;!&ndash;-->
                    <!--<b><a href="/prototype/module/view.html?moduleId=54" target="_blank" title="进入代码特效详情页">代码特效</a></b>-->
                    <!--&ndash;&gt;-->
                    <!--<b><a href="#" target="_blank" title="进入代码特效详情页">代码特效</a></b>-->
                    <!--可以选择模板支持不同的特效-->
                <!--</p>-->
                <!--<p class="operate"><a href="javascript:;" class="link-add" moduleprototypeid="54" modulelayout="" layoutinstanceid="" regionmodulename="">置入</a></p>-->
            <!--</li>-->
            <!--<li>-->
                <!--<p class="thumbnail"><a href="/prototype/module/view.html?moduleId=58" target="_blank" title="进入雷宁轮播图详情页"><img alt="雷宁轮播图" src="http://img14.360buyimg.com/cms/g12/M00/03/03/rBEQYFGV3PUIAAAAAAAWvRLzq9QAAAmxQNsVk0AABbV673.png"></a></p>-->
                <!--<p class="summary">-->
                    <!--&lt;!&ndash;-->
                    <!--<b><a href="/prototype/module/view.html?moduleId=58" target="_blank" title="进入雷宁轮播图详情页">雷宁轮播图</a></b>-->
                    <!--&ndash;&gt;-->
                    <!--<b><a href="#" target="_blank" title="进入雷宁轮播图详情页">雷宁轮播图</a></b>-->
                    <!--通过编辑需要轮播的html片段以及背景颜色，实现html片段的轮播效果！-->
                <!--</p>-->
                <!--<p class="operate"><a href="javascript:;" class="link-add" moduleprototypeid="58" modulelayout="" layoutinstanceid="" regionmodulename="">置入</a></p>-->
            <!--</li>-->
            <!--<li>-->
                <!--<p class="thumbnail"><a href="/prototype/module/view.html?moduleId=70" target="_blank" title="进入侧边栏详情页"><img alt="侧边栏" src="http://img13.360buyimg.com/cms/g15/M08/01/0A/rBEhWFHn3IUIAAAAAAAS1truSYsAABKmgMp39QAABLu244.png"></a></p>-->
                <!--<p class="summary">-->
                    <!--&lt;!&ndash;-->
                    <!--<b><a href="/prototype/module/view.html?moduleId=70" target="_blank" title="进入侧边栏详情页">侧边栏</a></b>-->
                    <!--&ndash;&gt;-->
                    <!--<b><a href="#" target="_blank" title="进入侧边栏详情页">侧边栏</a></b>-->
                    <!--不需要写任何的JS,CSS轻松搞定侧滑功能-->
                <!--</p>-->
                <!--<p class="operate"><a href="javascript:;" class="link-add" moduleprototypeid="70" modulelayout="" layoutinstanceid="" regionmodulename="">置入</a></p>-->
            <!--</li>-->
            <!--<li>-->
                <!--<p class="thumbnail"><a href="/prototype/module/view.html?moduleId=87" target="_blank" title="进入倒计时详情页"><img alt="倒计时" src="http://img12.360buyimg.com/cms/g15/M06/0E/11/rBEhWVJWSHQIAAAAAAAbcE9NMO4AAD-SgCKj0wAABuI883.png"></a></p>-->
                <!--<p class="summary">-->
                    <!--&lt;!&ndash;-->
                    <!--<b><a href="/prototype/module/view.html?moduleId=87" target="_blank" title="进入倒计时详情页">倒计时</a></b>-->
                    <!--&ndash;&gt;-->
                    <!--<b><a href="#" target="_blank" title="进入倒计时详情页">倒计时</a></b>-->
                    <!--该模块用于提醒消费者还有多长时间活动结束，增加活动紧迫感，促使消费者下单。-->
                <!--</p>-->
                <!--<p class="operate"><a href="javascript:;" class="link-add" moduleprototypeid="87" modulelayout="" layoutinstanceid="" regionmodulename="">置入</a></p>-->
            <!--</li>-->
            <!--<li>-->
                <!--<p class="thumbnail"><a href="/prototype/module/view.html?moduleId=88" target="_blank" title="进入活动推荐详情页"><img alt="活动推荐" src="http://img13.360buyimg.com/cms/g13/M00/08/03/rBEhU1IcCh8IAAAAAAAgyCaCnD8AACelwC8GvEAACDg270.jpg"></a></p>-->
                <!--<p class="summary">-->
                    <!--&lt;!&ndash;-->
                    <!--<b><a href="/prototype/module/view.html?moduleId=88" target="_blank" title="进入活动推荐详情页">活动推荐</a></b>-->
                    <!--&ndash;&gt;-->
                    <!--<b><a href="#" target="_blank" title="进入活动推荐详情页">活动推荐</a></b>-->
                    <!--该模块可以实现在页面上推荐N个其他活动网页，并带有“加关注”和“收藏夹”功能，可以将活动关注到我的京东里，也可以添加到浏览器的收藏夹。-->
                <!--</p>-->
                <!--<p class="operate"><a href="javascript:;" class="link-add" moduleprototypeid="88" modulelayout="" layoutinstanceid="" regionmodulename="">置入</a></p>-->
            <!--</li>-->
            <!--<li>-->
                <!--<p class="thumbnail"><a href="/prototype/module/view.html?moduleId=18166" target="_blank" title="进入好东西详情页"><img alt="好东西" src="http://img13.360buyimg.com/cms/jfs/t1531/216/345280493/6609/445776a8/5577ac69N9f3176f2.png"></a></p>-->
                <!--<p class="summary">-->
                    <!--&lt;!&ndash;-->
                    <!--<b><a href="/prototype/module/view.html?moduleId=18166" target="_blank" title="进入好东西详情页">好东西</a></b>-->
                    <!--&ndash;&gt;-->
                    <!--<b><a href="#" target="_blank" title="进入好东西详情页">好东西</a></b>-->
                    <!--好东西频道专属模块-->
                <!--</p>-->
                <!--<p class="operate"><a href="javascript:;" class="link-add" moduleprototypeid="18166" modulelayout="" layoutinstanceid="" regionmodulename="">置入</a></p>-->
            <!--</li>-->
            <!--<li>-->
                <!--<p class="thumbnail"><a href="/prototype/module/view.html?moduleId=18169" target="_blank" title="进入新版店铺导航详情页"><img alt="新版店铺导航" src="http://img13.360buyimg.com/cms/g12/M00/03/03/rBEQYFGV3R4IAAAAAAAZ8xTqVasAAAmxgBNPooAABoL800.png"></a></p>-->
                <!--<p class="summary">-->
                    <!--&lt;!&ndash;-->
                    <!--<b><a href="/prototype/module/view.html?moduleId=18169" target="_blank" title="进入新版店铺导航详情页">新版店铺导航</a></b>-->
                    <!--&ndash;&gt;-->
                    <!--<b><a href="#" target="_blank" title="进入新版店铺导航详情页">新版店铺导航</a></b>-->
                    <!--通过配置导航等内容实现导航的个性化展示-->
                <!--</p>-->
                <!--<p class="operate"><a href="javascript:;" class="link-add" moduleprototypeid="18169" modulelayout="" layoutinstanceid="" regionmodulename="">置入</a></p>-->
            <!--</li>-->
        <!--</ul>-->
        <!--<ul id="my_modules_14" class="">-->
            <!--<li>-->
                <!--<p class="thumbnail"><a href="/prototype/module/view.html?moduleId=42" target="_blank" title="进入店铺简介详情页"><img alt="店铺简介" src="http://img11.360buyimg.com/cms/g13/M01/00/0C/rBEhU1Gynw8IAAAAAAAgXHKx4jsAAAE2wNENXoAACB0234.png"></a></p>-->
                <!--<p class="summary">-->
                    <!--&lt;!&ndash;-->
                    <!--<b><a href="/prototype/module/view.html?moduleId=42" target="_blank" title="进入店铺简介详情页">店铺简介</a></b>-->
                    <!--&ndash;&gt;-->
                    <!--<b><a href="#" target="_blank" title="进入店铺简介详情页">店铺简介</a></b>-->
                    <!--此模块数据是从shop端后台调取过来，在Jshop中不能设置。-->
                <!--</p>-->
                <!--<p class="operate"><a href="javascript:;" class="link-add" moduleprototypeid="42" modulelayout="" layoutinstanceid="" regionmodulename="">置入</a></p>-->
            <!--</li>-->
            <!--<li>-->
                <!--<p class="thumbnail"><a href="/prototype/module/view.html?moduleId=43" target="_blank" title="进入店铺公告详情页"><img alt="店铺公告" src="http://img14.360buyimg.com/cms/g12/M00/03/03/rBEQYFGV3RUIAAAAAAARxNhUAeoAAAmxQK6uFEAABHc205.png"></a></p>-->
                <!--<p class="summary">-->
                    <!--&lt;!&ndash;-->
                    <!--<b><a href="/prototype/module/view.html?moduleId=43" target="_blank" title="进入店铺公告详情页">店铺公告</a></b>-->
                    <!--&ndash;&gt;-->
                    <!--<b><a href="#" target="_blank" title="进入店铺公告详情页">店铺公告</a></b>-->
                    <!--此模块数据是从shop端后台调取过来，在Jshop中不能设置。-->
                <!--</p>-->
                <!--<p class="operate"><a href="javascript:;" class="link-add" moduleprototypeid="43" modulelayout="" layoutinstanceid="" regionmodulename="">置入</a></p>-->
            <!--</li>-->
        <!--</ul>-->
        <!--<ul id="my_modules_15" class="">-->
            <!--<li>-->
                <!--<p class="thumbnail"><a href="/prototype/module/view.html?moduleId=91" target="_blank" title="进入单品促销详情页"><img alt="单品促销" src="http://img13.360buyimg.com/cms/g12/M00/03/03/rBEQYFGV3R4IAAAAAAAZ8xTqVasAAAmxgBNPooAABoL800.png"></a></p>-->
                <!--<p class="summary">-->
                    <!--&lt;!&ndash;-->
                    <!--<b><a href="/prototype/module/view.html?moduleId=91" target="_blank" title="进入单品促销详情页">单品促销</a></b>-->
                    <!--&ndash;&gt;-->
                    <!--<b><a href="#" target="_blank" title="进入单品促销详情页">单品促销</a></b>-->
                    <!--商家可以根据已有的单品促销推广活动，摘取重点内容在网店上进行曝光-->
                <!--</p>-->
                <!--<p class="operate"><a href="javascript:;" class="link-add" moduleprototypeid="91" modulelayout="" layoutinstanceid="" regionmodulename="">置入</a></p>-->
            <!--</li>-->
            <!--<li>-->
                <!--<p class="thumbnail"><a href="/prototype/module/view.html?moduleId=96" target="_blank" title="进入满减促销详情页"><img alt="满减促销" src="http://img13.360buyimg.com/cms/g12/M00/03/03/rBEQYFGV3R4IAAAAAAAZ8xTqVasAAAmxgBNPooAABoL800.png"></a></p>-->
                <!--<p class="summary">-->
                    <!--&lt;!&ndash;-->
                    <!--<b><a href="/prototype/module/view.html?moduleId=96" target="_blank" title="进入满减促销详情页">满减促销</a></b>-->
                    <!--&ndash;&gt;-->
                    <!--<b><a href="#" target="_blank" title="进入满减促销详情页">满减促销</a></b>-->
                    <!--商家可以根据已有的满减促销推广活动，摘取重点商品在店铺中进行促销-->
                <!--</p>-->
                <!--<p class="operate"><a href="javascript:;" class="link-add" moduleprototypeid="96" modulelayout="" layoutinstanceid="" regionmodulename="">置入</a></p>-->
            <!--</li>-->
        <!--</ul>-->
        <!--<ul id="my_modules_18" class="">-->
            <!--<li>-->
                <!--<p class="thumbnail"><a href="/prototype/module/view.html?moduleId=4010" target="_blank" title="进入自定义内容区-AB实验详情页"><img alt="自定义内容区-AB实验" src="http://img11.360buyimg.com/cms/jfs/t358/103/69766805/4141/69d98257/54083580N38460694.png"></a></p>-->
                <!--<p class="summary">-->
                    <!--&lt;!&ndash;-->
                    <!--<b><a href="/prototype/module/view.html?moduleId=4010" target="_blank" title="进入自定义内容区-AB实验详情页">自定义内容区-AB实验</a></b>-->
                    <!--&ndash;&gt;-->
                    <!--<b><a href="#" target="_blank" title="进入自定义内容区-AB实验详情页">自定义内容区-AB实验</a></b>-->
                    <!--支持进行AB实验的自定义内容区-->
                <!--</p>-->
                <!--<p class="operate"><a href="javascript:;" class="link-add" moduleprototypeid="4010" modulelayout="" layoutinstanceid="" regionmodulename="">置入</a></p>-->
            <!--</li>-->
        <!--</ul>-->
    </div>
</div>
<script>seajs.use(["widgetSelect","widgetData"]);</script>
</body>
</html>