<!doctype html>
<html>
<head>
 <meta charset="utf-8">
 <title></title>
 <link rel="stylesheet" type="text/css" href="css/common.css">
 <link rel="stylesheet" type="text/css" href="css/index.css">
 <script type="text/javascript" src="js/jquery1.42.min.js"></script>
 <script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>
</head>
<body>

<!---头--->
<div class="header">
 <img src="images/logo.png" class="logoimg">
 <ul class="nav">
  <li class="active"><a href="index.html">首页</a></li>
  <li><a href="index2.html">品牌中心</a></li>
  <li><a href="index3.html">产品中心</a></li>
  <li><a href="about.html">在线商城</a></li>
  <li><a href="http://login.huobanmall.com">微信活动</a></li>
  <li><a href="http://login.huobanmall.com/register.html">LOOKBOOK</a></li>
 </ul>
</div>
<p style="clear:both"></p>
<!---头--->


<!---轮播--->
<div class="fullSlide" style="top: -78px; z-index:-1">
 <div class="bd">
  <ul>
   <li style="background:url(images/banner.jpg)  center 0 no-repeat;"></li>

  </ul>
 </div>

 <div class="hd"><ul></ul></div>
</div>
<p style="clear:both"></p>
<!---轮播--->


<div class="jztp sybg" style="top:-50px">
 <div class="sybg_div"><a href="#"><span class="button">MORE</span></a></div>
</div>


<!--资讯---->
<div class="syzx">
 <div  class="syzxzuo">
  <img src="images/player.jpg">
  <p class="b"><span><b>永春的企业文化</b></span>&nbsp;<span style="color:#949494">CORPORATE CULTURE</span></p>
  <p class="c">我们本着精益求精，客户至上的宗旨，不断为世界各地的消费者生产出更多的好产品。我们将伴随着中国经济一起腾飞。</p>
 </div>

 <div class="kxbg">
  <p style="height:44px;margin-top: 10px;"><span class="kx">快讯 NEWS</span><a><span class="fr">查看更多>></span></a></p>
  <p class="newstbg">
   <a><span class="newsta">永春2009秋冬产品订货会圆满闭幕</span>
    <span class="newstb">2015-07-25</span></a></p>
  <p class="newstbg">
   <a><span class="newsta">永春2009秋冬产品订货会圆满闭幕</span>
    <span class="newstb">2015-07-25</span></a></p>
  <p class="newstbg">
   <a><span class="newsta">永春2009秋冬产品订货会圆满闭幕</span>
    <span class="newstb">2015-07-25</span></a></p>
  <p class="newstbg">
   <a><span class="newsta">永春2009秋冬产品订货会圆满闭幕</span>
    <span class="newstb">2015-07-25</span></a></p>
  <p class="newstbg">
   <a><span class="newsta">永春2009秋冬产品订货会圆满闭幕</span>
    <span class="newstb">2015-07-25</span></a></p>
  <p class="newstbg">
   <a><span class="newsta">永春2009秋冬产品订货会圆满闭幕</span>
    <span class="newstb">2015-07-25</span></a></p>


 </div>
 <P style="clear:both"></P>
</div>
<!--资讯---->


<div class="jztp" >
 <div class="sybg_tbg">
  <p><img src="images/syt1.png"></p>
  <p style="padding:30px 0px">
   <img src="images/b01.png">
   <img src="images/b02.png">
   <img src="images/b03.png">
   <img src="images/b04.png">
  </p>
 </div>
</div>

<div class="qiehuansy">
 <a href=""><div class="qiehuansya"></div></a>
 <a href=""><div class="qiehuansyb"></div></a>
 <a href=""><div class="qiehuansyc"></div></a>
 <a href=""><div class="qiehuansyd"></div></a>
 <p style="clear:both"></p>
</div>

<!--脚-->
<div style="background-color:#1a1a1a">
 <div  class="footsy">
  <ul><li><a>首页</a></li><li><a>品牌中心</a></li><li><a>产品中心</a></li><li><a>服务支持</a></li></ul>
  <ul><li><a>品牌中心</a></li><li><a>公司介绍</a></li><li><a>品牌理念</a></li><li><a>品牌新闻</a></li></ul>
  <ul><li><a>产品中心</a></li><li><a>热销产品</a></li><li><a>短袜系列</a></li><li><a>微压瘦腿</a></li></ul>
  <ul><li><a>企业采购</a></li><li><a>工艺制作</a></li><li><a>代理批发</a></li><li><a>礼盒定制</a></li></ul>
  <ul><li><a>LookBook</a></li><li><a>在线商城</a></li><li><a>微信活动</a></li></ul>
  <div style=" float:right"><img src="images/erweima.png"></div>
  <p style="clear:both"></p>
  <p style="border-bottom:1px solid #373737; width:100%;height:20px;">&nbsp;</p>
  <P style="margin-top:10px;font-size:12px;">集团总部地址：浙江省义乌市下骆宅工业区  邮编：322013  电话：0579-85086166 85086188  E-mail：zhejiangyongchun@126.com</P>
  <p style="font-size:12px;">Copyright © 2016 Yongchun knitting.</p>
 </div>
</div>
<!--脚-->
</body>
</html>
<script type="text/javascript">
 jQuery(".fullSlide").slide({ titCell:".hd ul", mainCell:".bd ul", effect:"fold",  autoPlay:true, autoPage:true, trigger:"click" });
</script>