<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
</head>
<body>
<div class="sub-menu-wrap">
    <dl class="sub-pannel" data-widget-category="category">
        <dt class="sub-title">
            <a href="" target="" class="sub-tit-link" th:text="${category.name}">保暖内衣 &gt;</a>
        </dt>
    </dl>
    <!--<dl class="sub-pannel" data-article-foreach="article">-->
        <!--<dt class="sub-title">-->
            <!--<a href="" target="" class="sub-tit-link" th:text="${article.name}">保暖内衣 &gt;</a>-->
        <!--</dt>-->
    <!--</dl>-->
    </div>
<div th:text="${test}">

</div>
</body>
</html>