<!DOCTYPE html>
<!--
  ~ 版权所有:杭州火图科技有限公司
  ~ 地址:浙江省杭州市滨江区西兴街道阡陌路智慧E谷B幢4楼
  ~
  ~ (c) Copyright Hangzhou Hot Technology Co., Ltd.
  ~ Floor 4,Block B,Wisdom E Valley,Qianmo Road,Binjiang District
  ~ 2013-2016. All rights reserved.
  -->

<html xmlns:th="http://www.thymeleaf.org" xmlns:ewp="http://ewp.jiangcai.me" xmlns:sec="http://security.thymeleaf.org"
      xmlns:res="http://resource.jiangcai.me"
      lang="en">
<head>
    <meta charset="UTF-8">
    <link href="http://resali.huobanplus.com/cdn/bracket/css/style.default.css" rel="stylesheet">
    <link href="http://resali.huobanplus.com/cdn/bracket/css/jquery.datatables.css" rel="stylesheet">
    <link href="../../../public/assets/css/customize.css" ewp:href="/assets/css/customize.css" rel="stylesheet">
    <title>Owner</title>
</head>
<body class="mainpanel" id="fa-puzzle-piece">
<div class="pageheader">
    <h2><i class="fa fa-puzzle-piece"></i> 站点管理 <span>管理所有站点的地方</span></h2>
</div>

<div class="contentpanel">
    <form id="addSiteForm" sec:authorize="hasRole('OWNER')" action="index.html" method="post"
          th:action="@{/manage/site}">
        <div class="panel panel-default close-panel">
            <div class="panel-heading">
                <div class="panel-btns">
                    <a href="" class="panel-close">&times;</a>
                    <a href="" class="minimize maximize">&plus;</a>
                </div><!-- panel-btns -->
                <h3 class="panel-title">新建网站</h3>
                <p>为当前商户添加一个新网站</p>
            </div>
            <div class="panel-body">
                <div class="form-horizontal form-bordered">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">站点名称</label>
                        <div class="col-sm-2">
                            <input name="name" title="站点名称" type="text" placeholder="作用于识别站点"
                                   class="form-control"/>
                        </div>
                        <label class="col-sm-2 control-label">站点标题</label>
                        <div class="col-sm-6">
                            <input name="title" title="站点标题" type="text"
                                   class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">站点描述</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="4" title="站点描述" name="description"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">站点关键字</label>
                        <div class="col-sm-10">
                            <input name="keywords" class="form-control inputTags" value="" title="站点关键字"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">站点LOGO</label>
                        <input type="hidden" name="tmpLogoPath"/>
                        <div class="col-sm-10" id="logo-uploader"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">站点类型</label>
                        <div class="col-sm-2">
                            <select name="siteTypeId" class="form-control input-sm" title="站点类型">
                                <!--suppress ThymeleafVariablesResolveInspection -->
                                <option value="0"
                                        th:each="siteType:${T(com.huotu.hotcms.service.common.SiteType).values()}"
                                        th:value="${siteType.getCode()}"
                                        th:text="${siteType.getValue().toString()}">PC
                                </option>
                            </select>
                        </div>
                        <label class="col-sm-2 control-label">版权信息</label>
                        <div class="col-sm-6">
                            <input name="copyright" title="版权信息" type="text"
                                   class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">域名</label>
                        <div class="col-sm-10">
                            <input name="domains" class="form-control inputTags" value="" title="域名"/>
                            <span class="help-block">域名不包含"/"结尾,例如huobanplus.com,www.huobanplus.com</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">主推域名</label>
                        <div class="col-sm-6">
                            <input name="homeDomain" class="form-control" value="" title="主推域名"/>
                            <span class="help-block">主推域名必须为域名里面的某一个,并且只能设置一个主推域名</span>
                        </div>
                    </div>
                </div>
            </div><!-- panel-body -->

            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <button class="btn btn-primary">Submit</button>
                        &nbsp;
                        <button class="btn btn-white">Cancel</button>
                    </div>
                </div>
            </div><!-- panel-footer -->

        </div>
    </form>

    <!--/*@thymesVar id="list" type="java.lang.Iterable<com.huotu.hotcms.service.entity.Site>"*/-->

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-btns">
                <a href="" class="panel-close">&times;</a>
                <a href="" class="minimize">&minus;</a>
            </div><!-- panel-btns -->
            <h3 class="panel-title">站点列表</h3>
            <p>可以选择删除,也可以修改站点的配置</p>
        </div>
        <div class="panel-body">
            <div class="row">
                <div th:each="site,status:${list}" class="col-xs-12 col-sm-4 col-md-3 col-lg-2 clearfix">
                    <div class="site-items">
                        <img th:if="${site.logoUri!=null}" src="http://placehold.it/228x178?text=CMS"
                             res:src="${site.logoUri}" style="display: none" th:style="" alt="" th:alt="${site.name}"/>
                        <img th:if="${site.logoUri==null}" src="http://placehold.it/228x178?text=CMS"
                             th:src="@{http://placehold.it/228x178(text=${site.name})}"
                             alt="..." th:alt="${site.name}">
                        <div class="clearfix row operate-group">
                            <button type="button" href="index.html" th:href="@{/manage/site/{id}(id=${site.siteId})}"
                                    class="link-button operate-btn btn-white col-xs-4">编辑
                            </button>
                            <button type="button" href="index.html" class="link-button operate-btn btn-white col-xs-4">
                                上架
                            </button>
                            <button type="button" href="index.html"
                                    class="link-button delete operate-btn btn-white col-xs-4">删除
                            </button>
                        </div>
                        <div th:if="${!site.ableToRun}" class="site-alert text-danger">完善信息</div>
                        <div th:if="${site.ableToRun}" class="site-alert text-success" style="display: none"
                             th:style="" th:text="${site.name}">我的站点名字
                        </div>
                        <div th:if="${site.ableToRun && site.enabled}" class="site-preview">
                            <a href="#" th:href="@{/(simulateSite=${site.siteId})}" class="preview-btn btn btn-success">预览</a>
                        </div>
                    </div>
                </div>
                <div th:remove="all" class="col-xs-12 col-sm-4 col-md-3 col-lg-2 clearfix">
                    <div class="site-items">
                        <img src="http://placehold.it/228x178?text=CMS" alt="...">
                        <div class="clearfix row operate-group">
                            <button type="button" class="operate-btn btn-white col-xs-4">编辑</button>
                            <button type="button" class="operate-btn btn-white col-xs-4">上架</button>
                            <button type="button" class="operate-btn btn-white col-xs-4">删除</button>
                        </div>
                        <div class="site-alert text-danger">完善信息</div>
                    </div>
                </div>
                <div th:remove="all" class="col-xs-12 col-sm-4 col-md-3 col-lg-2 clearfix">
                    <div class="site-items">
                        <img src="http://placehold.it/228x178?text=CMS" alt="...">
                        <div class="clearfix row operate-group">
                            <button type="button" class="operate-btn btn-white col-xs-4">编辑</button>
                            <button type="button" class="operate-btn btn-white col-xs-4">上架</button>
                            <button type="button" class="operate-btn btn-white col-xs-4">删除</button>
                        </div>
                        <div class="site-alert text-success">我的站点名字</div>
                        <div class="site-preview">
                            <a href="#" class="preview-btn btn btn-success">预览</a>
                        </div>
                    </div>
                </div>
                <div th:remove="all" class="col-xs-12 col-sm-4 col-md-3 col-lg-2 clearfix">
                    <div class="site-items">
                        <img src="http://placehold.it/228x178?text=CMS" alt="...">
                        <div class="clearfix row operate-group">
                            <button type="button" class="operate-btn btn-white col-xs-4">编辑</button>
                            <button type="button" class="operate-btn btn-white col-xs-4">上架</button>
                            <button type="button" class="operate-btn btn-white col-xs-4">删除</button>
                        </div>
                        <div class="site-alert text-success">我的站点名字</div>
                        <div class="site-preview">
                            <a href="#" class="preview-btn btn btn-success">预览</a>
                        </div>
                    </div>
                </div>
                <div th:remove="all" class="col-xs-12 col-sm-4 col-md-3 col-lg-2 clearfix">
                    <div class="site-items">
                        <img src="http://placehold.it/228x178?text=CMS" alt="...">
                        <div class="clearfix row operate-group">
                            <button type="button" class="operate-btn btn-white col-xs-4">编辑</button>
                            <button type="button" class="operate-btn btn-white col-xs-4">上架</button>
                            <button type="button" class="operate-btn btn-white col-xs-4">删除</button>
                        </div>
                        <div class="site-alert text-success">我的站点名字</div>
                        <div class="site-preview">
                            <a href="#" class="preview-btn btn btn-success">预览</a>
                        </div>
                    </div>
                </div>
                <div th:remove="all" class="col-xs-12 col-sm-4 col-md-3 col-lg-2 clearfix">
                    <div class="site-items">
                        <img src="http://placehold.it/228x178?text=CMS" alt="...">
                        <div class="clearfix row operate-group">
                            <button type="button" class="operate-btn btn-white col-xs-4">编辑</button>
                            <button type="button" class="operate-btn btn-white col-xs-4">上架</button>
                            <button type="button" class="operate-btn btn-white col-xs-4">删除</button>
                        </div>
                        <div class="site-alert text-success">我的站点名字</div>
                        <div class="site-preview">
                            <a href="#" class="preview-btn btn btn-success">预览</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div><!-- contentpanel -->

<script src="http://resali.huobanplus.com/cdn/bracket/js/jquery-1.10.2.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/bracket/js/jquery-ui-1.10.3.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/bracket/js/bootstrap.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/bracket/js/toggles.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/bracket/js/jquery.cookies.js"></script>

<script src="http://resali.huobanplus.com/cdn/jquery-fine-uploader/5.10.0/jquery.fine-uploader.min.js"></script>
<link rel="stylesheet" href="http://resali.huobanplus.com/cdn/jquery-fine-uploader/5.10.0/fine-uploader-new.min.css"
      property=""/>
<script src="http://resali.huobanplus.com/cdn/bracket/js/jquery.tagsinput.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/bracket/js/jquery.autogrow-textarea.js"></script>
<link rel="stylesheet" href="http://resali.huobanplus.com/cdn/bracket/css/jquery.tagsinput.css" property=""/>
<script src="http://resali.huobanplus.com/cdn/datatables/1.10.12/datatables.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/bracket/js/jquery.validate.min.js"></script>
<script src="../../../public/js/jquery.validation.message-zh_cn.js"
        ewp:src="/js/jquery.validation.message-zh_cn.js"></script>
<!--<script src="http://resali.huobanplus.com/cdn/bracket/js/custom.js"></script>-->
<div ewp:replace="fragments/frame.html::#messageSection"></div>
<script src="../../../public/bracket/js/frame.js" ewp:src="/bracket/js/frame.js"></script>
<script src="../../../public/bracket/js/frame_custom.js" ewp:src="/bracket/js/frame_custom.js"></script>
<script src="../../../public/js/site.js" ewp:src="/js/site.js"></script>
</body>
</html>