<!DOCTYPE html>
<!--
  ~ 版权所有:杭州火图科技有限公司
  ~ 地址:浙江省杭州市滨江区西兴街道阡陌路智慧E谷B幢4楼
  ~
  ~ (c) Copyright Hangzhou Hot Technology Co., Ltd.
  ~ Floor 4,Block B,Wisdom E Valley,Qianmo Road,Binjiang District
  ~ 2013-2016. All rights reserved.
  -->

<html xmlns:th="http://www.thymeleaf.org" xmlns:ewp="http://ewp.jiangcai.me" xmlns:sec="http://security.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <link href="http://resali.huobanplus.com/cdn/bracket/css/style.default.css" rel="stylesheet">
    <link href="http://resali.huobanplus.com/cdn/bracket/css/jquery.datatables.css" rel="stylesheet">
    <title>Owner</title>
</head>
<body class="mainpanel" id="fa-sitemap">
<div class="pageheader">
    <h2><i class="fa fa-sitemap"></i> 站点管理 <span>管理所有站点的地方</span></h2>
</div>

<div class="contentpanel">
    <form id="addSiteForm" sec:authorize="hasRole('OWNER')" action="index.html" method="POST"
          th:action="@{/manage/site}">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-btns">
                    <a href="" class="panel-close">&times;</a>
                    <a href="" class="minimize">&minus;</a>
                </div><!-- panel-btns -->
                <h3 class="panel-title">新建网站</h3>
                <p>为当前商户添加一个新网站</p>
            </div>
            <div class="panel-body">

                <div class="form-horizontal form-bordered">

                    <div class="form-group">
                        <label class="col-sm-2 control-label">站点名称</label>
                        <div class="col-sm-2">
                            <input name="name" title="站点名称" type="text" placeholder="作用于识别站点"
                                   class="form-control"/>
                        </div>
                        <label class="col-sm-2 control-label">站点标题</label>
                        <div class="col-sm-6">
                            <input name="title" title="站点标题" type="text"
                                   class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">站点描述</label>
                        <div class="col-sm-10">
                            <textarea class="form-control autoGrow" name="description" rows="5" title="站点描述"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">站点关键字</label>
                        <div class="col-sm-10">
                            <input name="keywords" class="form-control inputTags" value="" title="站点关键字"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">站点LOGO</label>
                        <div class="col-sm-10" id="logo-uploader"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">站点类型</label>
                        <div class="col-sm-2">
                            <select name="siteType" class="form-control input-sm" title="站点类型">
                                <!--suppress ThymeleafVariablesResolveInspection -->
                                <option value="0"
                                        th:each="siteType:${T(com.huotu.hotcms.service.common.SiteType).values()}"
                                        th:value="${siteType.getCode()}"
                                        th:text="${siteType.getValue().toString()}">PC
                                </option>
                            </select>
                        </div>
                        <label class="col-sm-2 control-label">版权信息</label>
                        <div class="col-sm-6">
                            <input name="copyright" title="版权信息" type="text"
                                   class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">域名</label>
                        <div class="col-sm-10">
                            <input name="domains" class="form-control inputTags" value="" title="域名"/>
                            <span class="help-block">域名不包含"/"结尾,例如huobanplus.com,www.huobanplus.com</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">主推域名</label>
                        <div class="col-sm-6">
                            <input name="homeDomain" class="form-control" value="" title="主推域名"/>
                            <span class="help-block">主推域名必须为域名里面的某一个,并且只能设置一个主推域名</span>
                        </div>
                    </div>
                </div>
            </div><!-- panel-body -->

            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <button class="btn btn-primary">Submit</button>
                        &nbsp;
                        <button class="btn btn-default">Cancel</button>
                    </div>
                </div>
            </div><!-- panel-footer -->

        </div>
    </form>

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-btns">
                <a href="" class="panel-close">&times;</a>
                <a href="" class="minimize">&minus;</a>
            </div><!-- panel-btns -->
            <h3 class="panel-title">站点列表</h3>
            <p>可以选择删除,也可以修改站点的配置</p>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table" id="ownerTable">
                    <thead>
                    <tr>
                        <th>站点名称</th>
                        <th>站点标题</th>
                        <th>创建时间</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <!--odd even-->
                    <tbody>
                    <!--/*@thymesVar id="list" type="java.lang.Iterable<com.huotu.hotcms.service.entity.Site>"*/-->
                    <tr th:each="site,stats:${list}" class="odd" th:class="${stats.odd?'odd':'even'}"
                        th:attr="data-id=${site.siteId}" data-id="456">
                        <td class="actionWard" th:text="${site.name}">hello</td>
                        <td class="actionAccess" th:text="${site.title}">如此标题</td>
                        <td th:text="${site.createTime}">06-11</td>
                        <td class="center">
                            <a href="site.html" th:href="@{/manage/site/{id}(id=${site.siteId})}" title="编辑">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a href="index.html" class="delete" th:href="@{/manage/site/{id}/delete(id=${site.siteId})}"
                               target="_top" title="删除">
                                <i class="fa fa-trash-o"></i>
                            </a>
                        </td>
                    </tr>
                    <tr class="even" th:remove="all" data-id="123">
                        <td class="actionWard">hello2</td>
                        <td class="actionAccess">标题2</td>
                        <td>06-22</td>
                        <td class="center">
                            <a href="site.html" title="编辑">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a href="index.html" class="delete" title="删除">
                                <i class="fa fa-trash-o"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div><!-- table-responsive -->
        </div>
    </div>

</div><!-- contentpanel -->

<div class="modal fade" id="customerIdChanger" tabindex="-1" role="dialog" aria-labelledby="customerIdChangerLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="customerIdChangerLabel">关联伙伴商城</h4>
            </div>
            <div class="modal-body">
                <p>如果当前商户已经关联商城号,执行操作将更改商户号,这个对于商城网站将带来极大影响,请务必慎重。</p>
                <input name="customerId" title="商户号" type="text" placeholder="伙伴商城商户号"
                       class="form-control" value="3447"
                       th:value="${@environment.acceptsProfiles('test')?'3447':''}"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">不了</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">好的</button>
            </div>
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal -->
<script th:inline="javascript">
    var uploadFileUrl = /*[[@{/manage/upload/fine}]]*/ null;
    var customerIdChangeUrl = /*[[@{/manage/supper/owner/$1/customerId}]]*/ null;
</script>
<script src="http://resali.huobanplus.com/cdn/bracket/js/jquery-1.10.2.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/bracket/js/jquery-ui-1.10.3.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/bracket/js/bootstrap.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/bracket/js/toggles.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/bracket/js/jquery.cookies.js"></script>

<script src="http://resali.huobanplus.com/cdn/jquery-fine-uploader/5.10.0/jquery.fine-uploader.min.js"></script>
<link rel="stylesheet" href="http://resali.huobanplus.com/cdn/jquery-fine-uploader/5.10.0/fine-uploader.min.css"
      property=""/>
<script src="http://resali.huobanplus.com/cdn/bracket/js/jquery.tagsinput.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/bracket/js/jquery.autogrow-textarea.js"></script>
<link rel="stylesheet" href="http://resali.huobanplus.com/cdn/bracket/css/jquery.tagsinput.css" property=""/>
<script src="http://resali.huobanplus.com/cdn/datatables/1.10.12/datatables.min.js"></script>
<!--<script src="http://resali.huobanplus.com/cdn/bracket/js/custom.js"></script>-->
<div ewp:replace="fragments/frame.html::#messageSection"></div>
<script src="../../../public/bracket/js/frame.js" ewp:src="/bracket/js/frame.js"></script>
<script src="../../../public/bracket/js/frame_custom.js" ewp:src="/bracket/js/frame_custom.js"></script>
<script src="../../../public/js/site.js" ewp:src="/js/site.js"></script>
</body>
</html>