<!--advanced-search.html-->
<!--浏览试图-->
<div th:class="'fn-clear ' + ${templateClass==null?'HOTSearchList-414060':templateClass} + ' toolhover'" th:attr="id=${guid}">
    <div class="mc"  style="overflow: visible;">
        <div class="HOT-module">
            <div class="HOTimension">
                <div class="HOTModulesTitle">
                    <em></em> 找到103件相关商品
                </div>
                <div class="HOTimensionSelect" style="height:auto;">
                    <dl>
                        <dt>品牌：</dt>
                        <dd>
                            <a href="" class="num-five">
                                L'ALPINA
                            </a>
                        </dd>
                    </dl>
                    <dl>
                        <dt>价格：</dt>
                        <dd>
                            <a href="">
                                0-69
                            </a>
                            <a href="">
                                70-199
                            </a>
                            <a href="">
                                200-299
                            </a>
                            <a href="">
                                300-399
                            </a>
                            <a href="">
                                400-499
                            </a>
                        </dd>
                    </dl>
                    <dl>
                        <dt>颜色：</dt>
                        <dd>
                            <a href="">
                                黑色
                            </a>
                            <a href="">
                                灰色
                            </a>
                            <a href="">
                                红色
                            </a>
                            <a href="">
                                蓝色
                            </a>
                            <a href="">
                                绿色
                            </a>
                            <a href="">
                                花色
                            </a>
                        </dd>
                    </dl>
                    <dl>
                        <dt>类型：</dt>
                        <dd>
                            <a href="">
                                商务男袜
                            </a>
                            <a href="">
                                保暖内衣
                            </a>
                            <a href="">
                                休闲棉袜
                            </a>
                            <a href="">
                                男士内裤
                            </a>
                        </dd>
                    </dl>
                    <div style="display:none">
                        <dl>
                            <dt>款式：</dt>
                            <dd>
                                <a href="">
                                    平角裤
                                </a>
                                <a href="">
                                    保暖套装
                                </a>
                                <a href="">
                                    打底衫
                                </a>
                                <a href="">
                                    吊带/背心
                                </a>
                                <a href="">
                                    汗衫
                                </a>
                                <a href="">
                                    三角裤
                                </a>
                                <a href="">
                                    短袖
                                </a>
                            </dd>
                        </dl>
                        <dl>
                            <dt>材质：</dt>
                            <dd>
                                <a href="">
                                    棉
                                </a>
                                <a href="">
                                    夹棉
                                </a>
                                <a href="">
                                    纯棉
                                </a>
                                <a href="">
                                    精梳棉
                                </a>
                                <a href="">
                                    竹纤维
                                </a>
                            </dd>
                        </dl>
                        <dl>
                            <dt>风格：</dt>
                            <dd>
                                <a href="">
                                    休闲
                                </a>
                                <a href="">
                                    简约
                                </a>
                                <a href="">
                                    运动
                                </a>
                                <a href="">
                                    性感
                                </a>
                                <a href="">
                                    商务绅士
                                </a>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="HOTAdvanced">
                <div class="HOTMoreOptions HOTClose">
                    <div>更多选项<b></b></div>
                </div>
            </div>
            <div class="HOTSearchListArea">
                <div class="HOTTab">
                    <a class="current" href="">
                        相关度
                    </a>
                    <a href="">
                        销量
                    </a>
                    <a href="">
                        <em></em>价格
                    </a>
                    <a href="">
                        好评度
                    </a>
                    <a href="">
                        上架时间
                    </a>
                </div>
                <div class="HOTModulesTitle">商品列表</div>
                <ul>
                    <li class="HOTSubObHOTect">
                        <a class="HOTBtnAttention" href="#">
                            + 加关注
                        </a>
                        <input value="关注" class="btn-coll" type="button">
                        <div class="HOTItem">
                            <div class="HOTPic">
                                <a href="" target="">
                                    <img src="images/55404da4Nb4c62bb3.jpg" class="err-product">
                                </a>
                            </div>
                            <div class="HOTScroll">
                                <a class="HOTScrollBtn HOTScrollPrev" href="">
                                </a>
                                <div class="HOTScrollWrap">
                                    <ul>
                                        <li class="HOTCurrent">
                                            <a title="" class="" href="">
                                                <img src="images/55404da4Nb4c62bb3.jpg" class="err-product">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <a class="HOTScrollBtn HOTScrollNext" href="">
                                    &gt;
                                </a>
                            </div>
                            <div class="HOTGoodsInfo">
                                <div class="HOTBtnArea" th:if="${templateClass=='HOTSearchList-432763'}">
                                    <a href="" class="HOT-cart">
                                        立即购买
                                    </a>
                                </div>
                                <div class="HOTesc">
                                    <a href="" target="">
                                        意大利袋鼠男士内裤 男 经典款棉平角裤内裤男 4条礼盒装（L'ALPINA） XXXL
                                    </a>
                                </div>
                                <div class="HOTPrice">
                                    <div class="HOTPrice">
                                        <span class="HOTRmb">￥</span>
                                        <span class="HOTNum" HOTshop="price" HOTprice="1313707977">199.00</span>
                                    </div>
                                </div>
                                <div class="HOTExtra">
                    <span class="star"><span class="star-white"><span class="star-yellow h5">
                    </span></span></span>
                                    <a href="" target="">
                                        已有<em>64</em>人评价
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="HOTSubObHOTect">
                        <a class="HOTBtnAttention" href="#">
                            + 加关注
                        </a>
                        <input value="关注" class="btn-coll" type="button">
                        <div class="HOTItem">
                            <div class="HOTPic">
                                <a href="" target="_blank">
                                    <img src="images/55404da4Nb4c62bb3.jpg" class="err-product">
                                </a>
                            </div>
                            <div class="HOTScroll">
                                <a class="HOTScrollBtn HOTScrollPrev" href="">
                                </a>
                                <div class="HOTScrollWrap">
                                    <ul>
                                        <li class="HOTCurrent">
                                            <a title="" class="" href="">
                                                <img src="images/55404da4Nb4c62bb3.jpg" class="err-product">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <a class="HOTScrollBtn HOTScrollNext" href="">
                                    &gt;
                                </a>
                            </div>
                            <div class="HOTGoodsInfo">
                                <div class="HOTBtnArea" th:if="${templateClass=='HOTSearchList-432763'}">
                                    <a href="" class="HOT-cart">
                                        立即购买
                                    </a>
                                </div>
                                <div class="HOTesc">
                                    <a href="" target="">
                                        意大利袋鼠男士内裤 男 经典款棉平角裤内裤男 4条礼盒装（L'ALPINA） XXXL
                                    </a>
                                </div>
                                <div class="HOTPrice">
                                    <div class="HOTPrice">
                                        <span class="HOTRmb">￥</span>
                                        <span class="HOTNum" HOTshop="price" HOTprice="1313707977">199.00</span>
                                    </div>
                                </div>
                                <div class="HOTExtra">
                    <span class="star"><span class="star-white"><span class="star-yellow h5">
                    </span></span></span>
                                    <a href="" target="">
                                        已有<em>64</em>人评价
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="HOTSubObHOTect">
                        <a class="HOTBtnAttention" href="#">
                            + 加关注
                        </a>
                        <input value="关注" class="btn-coll" type="button">
                        <div class="HOTItem">
                            <div class="HOTPic">
                                <a href="" target="_blank">
                                    <img src="images/55404da4Nb4c62bb3.jpg" class="err-product">
                                </a>
                            </div>
                            <div class="HOTScroll">
                                <a class="HOTScrollBtn HOTScrollPrev" href="">
                                </a>
                                <div class="HOTScrollWrap">
                                    <ul>
                                        <li class="HOTCurrent">
                                            <a title="" class="" href="">
                                                <img src="images/55404da4Nb4c62bb3.jpg" class="err-product">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <a class="HOTScrollBtn HOTScrollNext" href="">
                                    &gt;
                                </a>
                            </div>
                            <div class="HOTGoodsInfo">
                                <div class="HOTBtnArea" th:if="${templateClass=='HOTSearchList-432763'}">
                                    <a href="" class="HOT-cart">
                                        立即购买
                                    </a>
                                </div>
                                <div class="HOTesc">
                                    <a href="" target="">
                                        意大利袋鼠男士内裤 男 经典款棉平角裤内裤男 4条礼盒装（L'ALPINA） XXXL
                                    </a>
                                </div>
                                <div class="HOTPrice">
                                    <div class="HOTPrice">
                                        <span class="HOTRmb">￥</span>
                                        <span class="HOTNum" HOTshop="price" HOTprice="1313707977">199.00</span>
                                    </div>
                                </div>
                                <div class="HOTExtra">
                    <span class="star"><span class="star-white"><span class="star-yellow h5">
                    </span></span></span>
                                    <a href="" target="">
                                        已有<em>64</em>人评价
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="HOTSubObHOTect">
                        <a class="HOTBtnAttention" href="#">
                            + 加关注
                        </a>
                        <input value="关注" class="btn-coll" type="button">
                        <div class="HOTItem">
                            <div class="HOTPic">
                                <a href="" target="_blank">
                                    <img src="images/55404da4Nb4c62bb3.jpg" class="err-product">
                                </a>
                            </div>
                            <div class="HOTScroll">
                                <a class="HOTScrollBtn HOTScrollPrev" href="">
                                </a>
                                <div class="HOTScrollWrap">
                                    <ul>
                                        <li class="HOTCurrent">
                                            <a title="" class="" href="">
                                                <img src="images/55404da4Nb4c62bb3.jpg" class="err-product">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <a class="HOTScrollBtn HOTScrollNext" href="">
                                    &gt;
                                </a>
                            </div>
                            <div class="HOTGoodsInfo">
                                <div class="HOTBtnArea" th:if="${templateClass=='HOTSearchList-432763'}">
                                    <a href="" class="HOT-cart">
                                        立即购买
                                    </a>
                                </div>
                                <div class="HOTesc">
                                    <a href="" target="">
                                        意大利袋鼠男士内裤 男 经典款棉平角裤内裤男 4条礼盒装（L'ALPINA） XXXL
                                    </a>
                                </div>
                                <div class="HOTPrice">
                                    <div class="HOTPrice">
                                        <span class="HOTRmb">￥</span>
                                        <span class="HOTNum" HOTshop="price" HOTprice="1313707977">199.00</span>
                                    </div>
                                </div>
                                <div class="HOTExtra">
                    <span class="star"><span class="star-white"><span class="star-yellow h5">
                    </span></span></span>
                                    <a href="" target="">
                                        已有<em>64</em>人评价
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="HOTPage">
                    <em>共103条记录</em><span>上一页</span>
                    <a class="current">
                        1
                    </a>
                    <a href="">
                        2
                    </a>
                    <a href="">
                        3
                    </a>
                    <span>...</span>
                    <a href="">
                        5
                    </a>
                    <a href="">
                        下一页
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="module-toolbal-container ui-draggable" th:if="${edit}">
        <div class="module-assist" style="padding-top: 32px;"></div>
        <div class="module-toolbar HOT-module-toolbar" style="height:692px; width:100%;">
            <h4 style="cursor: move;">
        <span class="module-extra">
        <a class="icon-del HOT-module-delete" href="">
        </a>
        <a class="icon-up HOT-module-up" href="" style="display:;">
        </a>
        <a class="icon-down HOT-module-down" href="" style="display:;">
        </a>
        </span>
                <span class="module-name HOT-module-name">查找</span>
        <span class="HOT-module-set">
        <a href="javascript:void(0)" class="HOT-module-set-data js-widget-edit"
           th:attr="data-editurl=${widgetEditUri},data-id=${id},data-for=${guid},data-url=${widgetUri},data-layoutid=${layoutId},data-position=${layoutPosition}">
            编辑
        </a>
        <a href="" class="HOT-module-set-template">
            模板
        </a>
        </span>
            </h4>
        </div>
    </div>
</div>
<!--advanced-search.html-->
<!--编辑视图-->
<div id="module_area">
    <style>
        .forms label {
            text-align: left;
        }
    </style>
    <div class="forms">
        <ul>
            <li>
                <label style="width: 180px;">选择模版 </label>
                <select name="templateClass" class="select-short" id="templateClass">
                    <option value="HOTSearchList-414060" th:selected="${templateClass== null or templateClass=='HOTSearchList-414060'}">模版一</option>
                    <option value="HOTSearchList-432763" th:selected="${templateClass=='HOTSearchList-432763'}">模版二</option>
                </select>
            </li>
        </ul>
    </div>
</div>