<!--countdown.html-->
<!--浏览试图（活动倒计时）-->
<div class="fn-clear js-hot-module HOTCountDown-429788 toolhover" data-th-attr="id=${guid}">
    <div class="mc" style="overflow: visible;">
        <div class="HOT-module">
            <div class="HOTTime">
                <span class="HOTText">距离活动结束：</span>
        <span class="HOTNum">
            <em class="days" th:text="${days}!= null?${days}:0">00</em><i>天</i>
            <em class="hours" th:text="${hours}!=null?${hours}:0">21</em><i>时</i>
            <em class="minutes" th:text="${minutes}!=null?${minutes}:0">35</em><i>分</i>
            <em class="seconds" th:text="${seconds}!=null?${seconds}:0">50</em><i>秒</i>
        </span>
            </div>
        </div>
    </div>
    <div class="module-module-assisttoolbal-container ui-draggable" th:if="${edit}">
        <div class="" style="padding-top: 32px;"></div>
        <div class="module-toolbar HOT-module-toolbar" style="height:50px; width:100%;">
            <h4 style="cursor: move;">
        <span class="module-extra">
        <a class="icon-del js-module-delete" href="javascript:void(0)"
           th:attr="data-id=${guid},data-layoutid=${layoutId},data-position=${layoutPosition}"></a>
                    <a class="icon-up js-module-up" href="javascript:void(0)"
                       th:attr="data-id=${guid},data-layoutid=${layoutId},data-position=${layoutPosition}"></a>
                    <a class="icon-down js-module-down" href="javascript:void(0)"
                       th:attr="data-id=${guid},data-layoutid=${layoutId},data-position=${layoutPosition}"></a>
        </span>
                <span class="module-name HOT-module-name">活动结束倒计时</span>
        <span class="HOT-module-set">
        <a href="javascript:void(0)" class="HOT-module-set-data js-widget-edit"
           th:attr="data-editurl=${widgetEditUri},data-id=${id},data-for=${guid},data-url=${widgetUri},data-layoutid=${layoutId},data-position=${layoutPosition}">
            编辑
        </a>
        </span>
            </h4>
        </div>
    </div>
</div>

<!--countdown.html-->
<!--编辑视图-->
<div id="module_area">
    <style>
        .forms label {
            text-align: left;
        }
    </style>
    <div class="forms">
        <ul>
            <li>
                倒计时：
                <input id="days" type="number" name="days" th:value="${days}!=null?${days}:0" style="width: 50px;"/>
                <label style="width: 10px;">天 </label>
                <input id="hours" type="number" name="hours" th:value="${hours}!=null?${hours}:0" style="width: 50px;" min="0" max="23"/>
                <label style="width: 10px;">时 </label>
                <input id="minutes" type="number" name="minutes" th:value="${minutes}!=null?${minutes}:0" style="width: 50px;" min="0" max="59"/>
                <label style="width: 10px;">分 </label>
                <input id="seconds" type="number" name="seconds" th:value="${seconds}!=null?${seconds}:0" style="width: 50px;" min="0" max="59"/>
                <label style="width: 10px;">秒 </label>
            </li>
            <li>
                <label style="display: none;color:red;" id="errorMsg"></label>
            </li>
        </ul>
    </div>
    <script type="application/javascript">
        $("#hours").blur(function(){
            var hours = parseInt($("#hours").val());
            if(hours <0 || hours >23){
                $("#errorMsg").text('\"时\"必须在0-23之间');
                $("#errorMsg").attr('style','display:block;color:red;');
                $("#hours").val(23);
            }else{
                $("#errorMsg").text('');
                $("#errorMsg").attr('style','display:none;color:red;');
            }
        })
        $("#minutes").blur(function(){
            var minutes = parseInt($("#minutes").val());
            if(minutes <0 || minutes > 59){
                $("#errorMsg").text('\"分\"必须在0-59之间');
                $("#errorMsg").attr('style','display:block;color:red;');
                $("#minutes").val(59);
            }else{
                $("#errorMsg").text('');
                $("#errorMsg").attr('style','display:none;color:red;');
            }
        })
        $("#seconds").blur(function(){
            var seconds = parseInt($("#seconds").val());
            if(seconds <0 || seconds >59){
                $("#errorMsg").text('\"秒\"必须在0-59之间');
                $("#errorMsg").attr('style','display:block;color:red;');
                $("#seconds").val(59);
            }else{
                $("#errorMsg").text('');
                $("#errorMsg").attr('style','display:none;color:red;');
            }
        })
    </script>
</div>