<!--footerone.html-->
<!--浏览试图（友情链接类）-->
<div class="fn-clear js-hot-module toolhover" th:attr="id=${guid}">
    <div class="mc" style="overflow: visible;">
        <div id="footer-2014">
            <div class="links">
                <th:block th:each="row,iterStat:${Rows}">
                    <span th:if="${iterStat.index}!=0">|</span>
                    <a rel="nofollow" target="" th:href="${row.url_Rows}" th:text="${row.name_Rows}"></a>
                </th:block>
            </div>
        </div>
    </div>
    <div class="module-toolbal-container ui-draggable" th:if="${edit}">
        <div class="module-assist" style="padding-top: 32px;"></div>
        <div class="module-toolbar HOT-module-toolbar" style="height:120px; width:100%;">
            <h4 style="cursor: move;">
        <span class="module-extra">
        <a class="icon-del js-module-delete" href="javascript:void(0)"
           th:attr="data-id=${guid},data-layoutid=${layoutId},data-position=${layoutPosition}"></a>
                    <a class="icon-up js-module-up" href="javascript:void(0)"
                       th:attr="data-id=${guid},data-layoutid=${layoutId},data-position=${layoutPosition}"></a>
                    <a class="icon-down js-module-down" href="javascript:void(0)"
                       th:attr="data-id=${guid},data-layoutid=${layoutId},data-position=${layoutPosition}"></a>
        </span>
                <span class="module-name HOT-module-name">相关链接</span>
        <span class="HOT-module-set">
        <a href="javascript:void(0)" class="HOT-module-set-data js-widget-edit"
           th:attr="data-editurl=${widgetEditUri},data-id=${id},data-for=${guid},data-url=${widgetUri},data-layoutid=${layoutId},data-position=${layoutPosition}">
            编辑
        </a>
        </span>
            </h4>
        </div>
    </div>
</div>

<!--footerone.html-->
<!--编辑视图-->
<div id="module_area">
    <style>
        .forms label {
            text-align: left;
        }
    </style>
    <div class="page-operate">
        <a class="btn-green" href="javascript:void(0)" id="js-nav-add">增加链接</a>
    </div>
    <div class="data-table">
        <div class="table-thead">
            <table cellspacing="0" cellpadding="0" border="0">
                <thead>
                <tr>
                    <th class="operate" width="110px">名称<em>*</em></th>
                    <th class="operate" width="195px">链接地址<em>*</em></th>
                    <th class="operate" width="160px">打开方式<em>*</em></th>
                    <th class="operate">操作</th>
                </tr>
                </thead>
            </table>
        </div>
        <div class="table-tbody" id="links-form" style="max-height:255px;">
            <table id="linkTable" cellspacing="0" cellpadding="0" border="0">
                <tbody id="js-nav-box">
                <tr th:each="row,iterStat:${Rows}" th:id="${iterStat.index}">
                    <td  class="operate"><input type="text" class="text-short" name="name_Rows" maxlength="32" width="80px;"
                               th:value="${row.name_Rows}"></td>
                    <td  class="operate"><input type="text" class="text-normal" name="url_Rows" th:value="${row.url_Rows}" width="250px"
                               maxlength="256"></td>
                    <td  class="operate">
                        <select name="type_Rows" class="select-short">
                            <option value="0" th:selected="(${row.type_Rows}=='0'?selected)">当前窗口打开</option>
                            <option value="1" th:selected="(${row.type_Rows}=='1'?selected)">新窗口打开</option>
                        </select>
                    </td>
                    <td class="operate">
                        <span class="icon-up js-nav-up" title="上移" th:attr="data-id=${iterStat.index}"></span>
                        <span class="icon-down js-nav-next" title="下移" th:attr="data-id=${iterStat.index}"></span>
                        <span class="icon-del js-nav-delete" title="删除" th:attr="data-id=${iterStat.index}"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script type="application/template" id="js-nav-template">
        <tr id="{id}">
            <td class="operate"><input type="text" class="text-short" name="name_Rows" maxlength="32" value="" width="80" ></td>
            <td class="operate"><input type="text" class="text-normal" name="url_Rows" maxlength="256"  width="250"></td>
            <td class="operate">
                <select name="type_Rows" class="select-short">
                    <option value="0">当前窗口打开</option>
                    <option value="1" selected="selected">新窗口打开</option>
                </select>
            </td>
            <td class="operate">
                <span class="icon-up js-nav-up" title="上移" data-id="{id}"></span>
                <span class="icon-down js-nav-next" title="下移" data-id="{id}"></span>
                <span class="icon-del js-nav-delete" title="删除" data-id="{id}"></span>
            </td>
        </tr>
    </script>
    <script type="application/javascript">
        var navModule = {
            addNav: function () {
                var obj = $("#js-nav-add");
                $.each(obj, function (item, dom) {
                    $(dom).click(function () {
                        var html = $("#js-nav-template").html();
                        var defaultID = new Date().getTime();
                        var obj = {id: defaultID};
                        html = JUtils.resolveTemplate(obj, html);
                        $("#js-nav-box").append(html);
                        navModule.deleteNav();
                        navModule.upNav();
                        navModule.downNav();
                    });
                });
            },
            deleteNav: function () {
                var obj = $(".js-nav-delete");
                obj.unbind("click");
                $.each(obj, function (item, dom) {
                    $(dom).click(function () {
                        var id = $(dom).data('id');
                        $("#" + id).remove();
                    });
                });
            },
            upNav: function () {
                var obj = $(".js-nav-up");
                obj.unbind("click");
                $.each(obj, function (item, dom) {
                    $(dom).click(function () {
                        var id = $(dom).data('id');
                        var up = $("#" + id).prev();
                        if (up.length > 0) {
                            $("#" + id).insertBefore(up);
                        }
                    });
                });
            },
            downNav: function () {
                var obj = $(".js-nav-next");
                obj.unbind("click");
                $.each(obj, function (item, dom) {
                    $(dom).click(function () {
                        var id = $(dom).data('id');
                        var down = $("#" + id).next();
                        if (down.length > 0) {
                            $("#" + id).insertAfter(down);
                        }
                    });
                });
            }
        }
        var init = {
            init : function(){
                navModule.addNav();
                navModule.deleteNav();
                navModule.upNav();
                navModule.downNav();
            }
        }
        init.init();
    </script>
</div>