

#hottech_top,#hottech_wxin,#hottech_wshare,#hottech_wmaps {
	z-index:2;
	width:50px;
	height:50px;
	right:10px;
	position:fixed;
	cursor:pointer;
	_position:absolute;
	_bottom:auto;
	_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)))
}

#hottech_wxin {
	top:360px;
	_margin-top:360px
}
#hottech_wxin a {
	background:url(../images/sbtn.png) 0 -0px;
	right:0;
	float:left;
	width:50px;
	height:50px;
	text-indent:-9999px
}
#hottech_wxin a:hover {
	background:url(../images/sbtn.png) -50px -0px
}
#hottech_wshare {
	top:412px;
	_margin-top:412px
}
#hottech_wshare a {
	background:url(../images/sbtn.png) 0 -50px;
	width:50px;
	height:50px;
	right:0;
	float:left;
	text-indent:-9999px
}
#hottech_wshare a:hover {
	background:url(../images/sbtn.png) -50px -50px
}
#hottech_wmaps {
	top:464px;
	_margin-top:464px
}
#hottech_wmaps a {
	background:url(../images/sbtn.png) 0 -150px;
	width:50px;
	height:50px;
	right:0;
	float:left;
	text-indent:-9999px
}
#hottech_wmaps a:hover {
	background:url(../images/sbtn.png) -50px -150px
}
#hottech_top {
	top:464px;
	_margin-top:464px;
	background:url(../images/sbtn.png) 0 -101px;
	width:50px;
	height:50px
}
#hottech_top:hover {
	background:url(../images/sbtn.png) -50px -101px
}
.hottech_wxin,.hottech_wshare {
	position:relative;
	z-index:2
}
.hottech_wxin a:hover .hottech_wxinh,.hottech_wshare a:hover .hottech_wshareh {
	display:block
}
.hottech_wxin .hottech_wxinh {
	position:absolute;
	display:none;
	left:-200px;
	top:-50px;
	width:200px;
	height:200px;
	background:url(../images/lrtk_weixin.png) 0 -2px no-repeat
}
.hottech_wshare .hottech_wshareh {
	position:absolute;
	display:none;
	left:-200px;
	top:-50px;
	width:200px;
	height:200px;
	background:url(../images/lrtk_app.png) no-repeat
}